{% extends '::admin_settings.html.twig' %}

{% block title %}Company Profile{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .optional {
            display: none;
        }
        #help {
            overflow: auto;
        }

    </style>
{% endblock stylesheets %}


{% block content %}
    <form method="post" {{ form_enctype(form) }}>
	    <header class="page-header">       
	        <button class="btn btn-large pull-right" id="submit"><i class="icon-user"></i> Update Profile</button> 
	        <h2>Profile <small>your brand name, color and logo</small></h2>
	    </header>

        <div class="row">
            <div class="span8 form-horizontal">
                {{ form_widget(form) }}

                {% if site.client.webPath %}
                    <img src="{{ site.client.webPath }}" alt="Your Logo" class="your_logo" />
                {% else %}
                    <img src="http://placehold.it/100x100" alt="Logo placeholder" class="your_logo" />
                {% endif %}
            </div>

            <div class="span4">
                <h3>Guidance</h3>
                <div id="help" class="alert alert-info">
                    <p>Setup your company information here.</p>
                    
                    <p>This information is what your customers will see when booking a service.</p>
                    
                    <p>The <strong>Arrival Window</strong> is the range of time for your appointment. For example, appointment is scheduled for 9am your crew will arrive between 9-11am.</p>

                    <p>Take a look at your public facing booking site here:</p>

                    <p class="lead client_domain"><a href="{{ path('book_location') }}">{{ client.site.domain }}</a></p>

                    <p>Share that address with your customers either directly or by posting it on your website.</p>

                    <p>Click <strong>Update Profile</strong> to save changes</p>
                </div>
            </div>
         </div>
     </form>
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script src="/vendors/jscolor/jscolor.js"></script>
{% endblock javascript %}
