{% extends '::admin_settings.html.twig' %}

{% block title %}Create a Service{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .collection-item {
            padding-top: 20px;
        }
        #service_fields_0_control_group > .controls,
        #service_fields_1_control_group > .controls,
        #service_fields_2_control_group > .controls {
            margin-left: 0;
        }
        .optional {
            display: none;
        }
        #service_isActive_control_group > label {
            display: none;   
        }

    </style>
{% endblock stylesheets %}

{% block content %}
    <form method="post" class="form-horizontal">
    <header class="page-header">
        <button type="submit" class="btn btn-large pull-right" id="submit"><i class="icon-plus"></i> Add Service</button>
        <h1>Add New Service <small>offer a service to your customers</small></h1>
    </header>

    <section id="addService">
     
            <div class="row">
                <div class="span8">
                    {% set fields = form_widget(form.fields) %}
                    {{ form_widget(form) }}

                
                    <h2>Customer Questions <small>(optional)</small></h2>
                    {{ fields|raw }}

                    
                </div>

                <div class="span4">
                <h3>Guidance</h3>
                <div id="help" class="alert alert-info">
                    <p>Here you will enter all the Services your company provides. For example <em>carpet cleaning</em>, <em>plumbing services</em>, <em>free estimate</em>.</p>

                    <p><strong>Description</strong> is displayed on your public-facing site.</p>

                    <p><strong>Time Required</strong> is the average time each job will take <em>in minutes</em>. This will help Routezilla schedule your jobs efficiently.</p>

                </div>
                 <div id="help" class="alert alert-info">
                    
                    <h3>About Customer Questions</h3>

                    <p>Often, you would like to ask the customer for more detail about a job. There are two types of Customer Questions: numeric response, and free response.</p>

                    <p>Numeric questions are handy for helping you customize the duration of a job, so that you can be more efficient in your scheduling. For example:</p>

                    <p><em>How many rooms do you have to clean?</em></p>

                    <p><strong>Additional Minutes</strong> allow you to add time to a job based on a customer's response.</p>

                    <p>For example, if Additional Minutes are set to 15, and the customer answered "2 rooms", then 30 minutes will be added to the total time of the job.</p>

                    <p><strong>Free response</strong> questions are open ended and do not affect the estimated time for the job. For example:</p> 
                        
                    <p><em>Will the alarm be turned off when the crew arrives?</em> Yes or No.</p>
                </div>
            </div>
            </div>

    </section>
    </form>
    
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/js/admin/services.js"></script>
{% endblock javascript %}