{% extends '::admin_settings.html.twig' %}

{% block title %}Delete Service "{{ service.name }}"{% endblock title %}

{% block content %}
    <header class="header">
        <h2>
            Confirm Deletion:
            <small>{{ service.name }}</small>
        </h2>
    </header>

    <section id="deleteConfirmation">
        <form method="post">
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-large btn-danger" id="submit" value="Remove">
        </form>
    </service>
    
{% endblock content %}