{% extends '::admin_settings.html.twig' %}

{% block title %}Edit Service{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .collection-item {
            padding-top: 20px;
        }
        #service_fields_0_control_group > .controls,
        #service_fields_1_control_group > .controls,
        #service_fields_2_control_group > .controls {
            margin-left: 0;
        }
        .optional {
            display: none;
        }
        #service_isActive_control_group > label {
            display: none;   
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <form method="post" class="form-horizontal">
    <header class="page-header">
        <button type="submit" class="btn btn-large pull-right btn-primary" name="save" value="draft"><i class="icon-ok-circle icon-white"></i> Save Changes</button>
        <a class="btn btn-large pull-right btn-danger" href="{{ path('services_admin_delete', { 'id' :  service.id } ) }}" title="Delete {{ service.name }}"><i class="icon-trash icon-white"></i> Delete</a>
        <h1>Edit Service: <small>{{ service.name }}</small></h1>
    </header>

    <section id="addService">
     
            <div class="row">
                <div class="span4">
                    {% set fields = form_widget(form.fields) %}
                    {{ form_widget(form) }}
    
                    <h3>Questions to Ask the Customer</h3>
                    {{ fields|raw }}
                </div>

                <div class="span4 offset4">
                    <h3>Guidance</h3>
                    <div id="help" class="alert alert-info">
                        <p>Here you will enter all the Services your company provides. For example <em>carpet cleaning</em>, <em>plumbing services</em>, <em>free estimate</em>.</p>

                        <p><strong>Description</strong> is displayed on your public-facing site.</p>

                        <p><strong>Time Required</strong> is the average time each job will take <em>in minutes</em>. This will help Routezilla schedule your jobs efficiently.</p>

                    </div>
                    <div id="help" class="alert alert-info">
                        
                        <h3>About Customer Questions</h3>

                        <p>Often, you would like to ask the customer for more detail about a job. There are two types of Customer Questions: numeric response, and free response.</p>

                        <p>Numeric questions are handy for helping you customize the duration of a job, so that you can be more efficient in your scheduling. For example:</p>

                        <p><em>How many rooms do you have to clean?</em></p>

                        <p><strong>Additional Minutes</strong> allow you to add time to a job based on a customer's response.</p>

                        <p>For example, if Additional Minutes are set to 15, and the customer answered "2 rooms", then 30 minutes will be added to the total time of the job.</p>

                        <p><strong>Free response</strong> questions are open ended and do not affect the estimated time for the job. For example:</p> 
                            
                        <p><em>Will the alarm be turned off when the crew arrives?</em> Yes or No.</p>
                    </div>
                </div>
            </div>
        
    </service>
    </form>
    
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/js/admin/services.js"></script>
{% endblock javascript %}
