{% extends '::admin_settings.html.twig' %}

{% block title %}Your Services{% endblock title %}

{% block content %}

    <header class="page-header">
        <a name="services"></a>
        <p><a class="btn btn-large pull-right" href="{{ path('services_admin_create') }}" title="Add Services"><i class="icon-plus icon"></i> Add Service</a></p>
        <h2>Services <small>a list of all services offered to the customer</small></h2>
    </header>

    
    <div class="row">
        <div class="span8">
            {% if services %}
        	    <table class="table table-striped">
        	        <tbody>
        	            {% for service in services %}
        	                <tr>
        	                    <td>
        	                       <h3>
        	                           <a href="{{ path('services_admin_edit', { 'id' : service.id } ) }}" title="Edit {{ service.name }}">{{ service.name }}</a>
        	                               {% if not service.isActive %}
                                               <span class="badge badge-warning">Disabled</span>
                                           {% endif %}
                                       </a>
        	                       </h3>
        	                       <p>{{ service.description }}</p>
        	                    </td>
        	                    <td class="align-right">
        	                       <a class="btn btn-danger" href="{{ path('services_admin_delete', { 'id' :  service.id } ) }}" title="Delete {{ service.name }}"><i class="icon-trash icon-white"></i> Delete</a>
        	                    </td>
        	                </tr>
        	            {% endfor %}
        	        </tbody>
        	    </table>
            {% endif %}
        </div>

        <div class="span4">
                <h3>Guidance</h3>
                <div id="help" class="alert alert-info">
                    <p>When customers initiate the booking process they will be presented with the list of Services to the left. Add all the Services that you plan on providing to customers.</p>

                    <p>If you need to "pause" a service for a period of time, you can do so using a <a href="{{ path('blackouts_admin') }}">Blackout</a>.</p>

                </div>
        </div>
    
    </div>
{% endblock content %}