{% extends '::signup_layout.html.twig' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div class="modal" id="setup">
        <form method="post" style="margin-bottom: 0px;">
            <div class="modal-header">
                <h3>Log in to Routezilla</h3>
            </div>

            {% if errors %}
                <div class="alert">{{ errors|join("<br>") }}</div>
            {% endif %}

            <div class="modal-body">
                <label for="email">Email Address</label>
                <input type="text" name="email" id="email" tabindex="1">

                <label for="password">Password</label>
                <input type="password" name="password" id="password" tabindex="2">
            </div>


            <div class="modal-footer">
                <a href="{{ app.request.scheme ~ '://' ~ conf.admin_subdomain ~ '.' ~ conf.domain }}">New Account</a> |
                <a href="{{ path('fos_user_resetting_request') }}" tabindex="500">Forgot Password?</a>
                <button type="submit" class="btn btn-primary" tabindex="3" id="submit" value="Create Account">Log In <i class="icon-play icon-white"></i></button>
            </div>
        </form>
    </div>
{% endblock %}

