{% extends '::base.html.twig' %}

{% block title %}An Error Occurred: {{ status_code }}{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/booking.css">
    <link rel="stylesheet" href="/vendors/fullcalendar/fullcalendar.css" />
    
    <style>
        p.staff_login a {
            color: #999;
        }
    
        p.staff_login a:hover {
            color: #666;
        }
    </style>

    {% if site is defined and site.client and site.client.brandingColor %}
       {% include '::partials/css_colors.html.twig' with { 'color': site.client.brandingColor } %}
    {% endif %}
{% endblock stylesheets %}


{% block layout %}

<div class="booking well error">

        <h1>{{ status_code }}: {{ status_text }}</h1>
        
        {% if status_code == 403 %}
            <p class="lead">Hey now! Looks like you aren't supposed to be in this area.</p>
        {% elseif status_code == 404 %}
            <p class="lead">Seems the file you are looking for is no longer or here or never existed.</p>
        {% elseif status_code == 500 %}
            <p class="lead">That's not good. Must be overloaded.</p>
        {% else %}
            <p class="lead">Oops! An error occurred.</p>
        {% endif %}



        {% if app.user %}
            <p>Try starting over from <a href="{{ path('dashboard') }}" title="{{ site.client.name }} Dashboard">the Dashboard</a>.</p>
        {% else %}
            <p>Try starting over from <a href="{{ path('book_location') }}" title="Where would you like Service?">the front page</a>.</p>
        {% endif %}

</div>
    

{% endblock layout %}