{% extends '::admin_settings.html.twig' %}

{% block title %}Add Staff member{% endblock title %}

{% block content %}
<form method="post">   
    <header class="page-header">
        <button type="submit" class="btn btn-large pull-right" id="submit"><i class="icon-user"></i> Save Staff Info</button>
        <h1>Add Staff Member <small>add a user to your staff</small></h1>
    </header>
    
    
        {% block form %}
        {% set renderedUserFields = form_widget(form.user) %}
            <div class="row form-horizontal">
                <div class="span4">
                    <fieldset>
                        <section id="personal_info">{{ form_widget(form) }}</section>

                        <section id="account_info">{{ renderedUserFields|raw }}</section>
                    </fieldset>
                </div>

                <div class="span4 offset4">
                    <h3>Guidance</h3>
                    <div class="alert alert-info">
                        <p>Add the information about the people who work for you.</p>
                        
                        <p>The email address will be used to send your crew appointment details. They never need to come to the office!</p>
                    </div>
                </div>
            </div>
        {% endblock form %} 
    </form>
{% endblock content %}