{% extends '::admin_settings.html.twig' %}

{% block title %}Edit Staff member{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #account_info .optional {
            display: none;
        }
    </style>

{% endblock %}

{% block content %}
    <form method="post">
        <header class="page-header">
            {% if worker.type != 'admin' %}
                <button type="submit" class="btn btn-large btn-primary pull-right" id="submit"><i class="icon-ok-circle icon-white"></i> Save Changes</button>
                <a class="btn btn-large btn-danger pull-right" href="{{ path('staff_admin_delete', { 'id' :  worker.user.id } ) }}" title="Remove {{ worker.name }}"><i class="icon-minus-sign icon-white"></i> Remove</a>
            {% endif %}
            <h1>Edit Staff Member <small>{{ worker.name }}</small></h1>
        </header>

        {% set renderedUserFields = form_widget(form.user) %}
        <div class="row form-horizontal">
            {% if worker.type == 'admin' %}
                <div class="span4">
                    <div class="alert alert-warning">The admin user cannot be edited.</div>
                </div>
            {% else %}
                <div class="span4">
                    <fieldset>
                        <section id="personal_info">{{ form_widget(form) }}</section>
                        <section id="account_info">{{ renderedUserFields|raw }}</section>
                    </fieldset>
                </div>
            {% endif %}

            <div class="span4 offset4">
                <h3>Guidance</h3>
                <div class="alert alert-info">
                    <p>Add the information about the people who work for you.</p>

                    <p>The email address will be used to send your crew appointment details. They never need to come to the office!</p>
                </div>

                <h3>Mobile Access</h3>
                <p>Your staff member will need to bookmark this page:</p>

                <a href="http://{{ site.domain }}{{ path('field_reports', { workerToken: worker.token }) }}"><pre><code>http://{{ site.domain }}{{ path('field_reports', { workerToken: worker.token }) }}</code></pre></a>
                <p><a class="btn" href="{{ path('staff_admin_access', { id: worker.user.id }) }}">Email Mobile Access</a></p>
                <br><br>


                <h3>Calendar Integration</h3>
                <p>Your staff member may add this feed to their calendar.</p>
                <pre><code>http://{{ site.domain }}{{ path('orc_calendar_feed', { workerToken: worker.token }) }}</code></pre>
                <p><a class="btn" href="{{ path('staff_admin_invite', { id: worker.user.id }) }}">Email Calendar Invitation</a></p>
            </div>
        </div>

    </form>
{% endblock content %}
