{% extends '::admin_settings.html.twig' %}

{% block title %}Staff{% endblock title %}

{% block content %}

    <header class="page-header">
        <a class="btn pull-right btn-large" href="{{ path('staff_admin_create') }}"><i class="icon-plus"></i> Add Staff Member</a>
        <h1>Staff Members <small>all your people</small></h1>
    </header>

    <div class="row">
        <div class="span8">

          {% if staff %}
              <table class="table table-striped">
                  <thead>
                     <th>Member Details</th>
                     <th>Crew</th>
                  </thead>
                  <tbody>
                      {% for worker in staff %}
                         <tr>
                             <td><h3><a href="{{ path('staff_admin_edit', { id: worker.user.id }) }}" title="Edit {{ worker.name }}">{{ worker.name }}</a> <small>{{ types[worker.type] }}</small></h3>
                              {{ worker.user.email }}
                             </td>
                             
                             <td>
                                 {% if worker.crew %}
                                     {{ worker.crew }}
                                 {% else %}
                                     <em>unassigned</em>
                                 {% endif %}
                             </td>
                             
                             <td>
                                 {% if worker.type != 'admin' %}
                                     <a class="btn btn-mini btn-danger pull-right" href="{{ path('staff_admin_delete', { 'id' :  worker.user.id } ) }}" title="Remove {{ worker.name }}"><i class="icon-remove icon-white"></i> Remove</a>
                                 {% endif %}
                             </td>
                         </tr>
                      {% endfor %}
                  </tbody>
              </table>
          {% else %}
              <p>You don't have any staff added yet.</p>
          {% endif %}
        </div>

        <div class="span4">
          <h3>Guidance</h3>
          <div id="help" class="alert alert-info">
              <p>Add your Staff and Contractors here.</p>
          </div>
        </div>
      </div>

{% endblock content %}