{% extends '::admin_settings.html.twig' %}

{% block content %}
<header class="header">
    <h1>View Staff Member</h1><a class="btn pull-right" href="{{ path('staff_admin_edit', { id: worker.user.id }) }}">Edit</a>
    <p class="lead">{{ worker.name }}</p>
    
    Type: {{ worker.type == 'crew' ? 'Crew Member' : 'Office Admin' }}<br />
    
    Crew: {{ worker.crew ? worker.crew.name : 'unassigned' }}<br />
    
    Email: {{ worker.user.email }}<br />
    
    Notes:
    <textarea readonly="readonly">{{ worker.notes }}</textarea>
    
    <hr />
    
    Upcoming jobs?
    
</header>
{% endblock content %}