Hi {{ worker.name }},

Here is your job schedule.

http://{{ client.site.domain }}{{ path('field_reports', { workerToken: worker.token }) }}

Please bookmark the page on your phone so it's easy to access.

Thanks,
{{ client.name }}
{{ client.phone }}