{% autoescape false %}
Hello {{ customer.name }},

This email is just a notification of the cancellation of:

Service: {{ booking.service.name }}
Date: {{ booking.dateStart|date('l M d')  }}

If you need anything from us, please check out our website.


Thank you!

{{ client.name }}
{{ client.website }}
{{ client.phone }}
{% endautoescape %}