{% autoescape false %}
Hello again {{ customer.name }},

This is to confirm that your booking has been moved to {{ booking.dateStart|date('l M d')  }}. {{ client.name }} will be arriving between {{ booking.dateStart|date('g:ia') }} and {{ booking.dateStart|modify('+' ~ client.arrivalWindow ~ ' hours')|date('g:ia') }} to provide {{ booking.service.name }} service.

If you have any questions or concerns, please feel free to call us at the number below.


Thank you!

{{ client.name }}
{% if client.hasWebsite() %}{{ client.website }}{% endif %}
{{ client.phone }}
{% endautoescape %}
