<p>Dear {{ customer.name }},</p>

<p>Thank you for booking with {{ client.name }}. Your request for {{ booking.service.name }} on {{ booking.dateStart|date('l, M jS')  }} has been received.</p>

<p>
    {% if site.client.arrivalWindow == 0 %}
        We will arrive at {{ booking.dateStart|date('g:ia') }} at the address you requested below:
    {% else %}
        We will arrive between {{ booking.dateStart|date('g:ia') }} and {{ booking.dateStart|modify('+' ~ client.arrivalWindow ~ ' hours')|date('g:ia') }} at the address you requested below:
    {% endif %}
</p>

{{ booking.location.street }}<br>
{% if booking.location.line2 %}{{ booking.location.line2 }}<br>{% endif %}
{{ booking.location.city }}<br>
{{ booking.location.code }}<br>
{{ booking.location.province }}<br>

<p>Also, you gave us the following information about the service request:</p>

{% if booking.additionalInformation %}
<p>
    ADDITIONAL INFORMATION:<br>
    {{ booking.additionalInformation }}
</p>
{% endif %}

{%- for field in booking.fields -%}
<p>
    {{ field.field.question|upper }}:<br>
    {{ field.answer }}
</p>
{% endfor %}

<p>We look forward to seeing you. Please note you may receive a reminder email the day before service.</p>

<p>Thanks again!</p>

{{ client.name }}<br>
{% if client.hasWebsite() %}{{ client.website }}<br>{% endif %}
{{ client.phone }}
