{% autoescape false %}
Hi owner of {{ client.name }},

This is just a friendly notification that {{ customer.name  }} has booked an appointment on {{ booking.dateStart|date('l M d') }} at {{ booking.dateStart|date('g:ia') }}.

http://{{ client.site.domain }}{{ path('book_admin_edit', { id: booking.id }) }}

Thank you!

RouteZilla Staff
{% endautoescape %}