{% autoescape false %}
Hi owner of {{ client.name }},

This is just a friendly notification that on {{ customer.name  }} has requested a callback.

Name: {{ customer.name }}
Phone Number: {{ customer.phone }}

More details here:

http://{{ client.site.domain }}{{ path('book_admin_edit', { id: booking.id }) }}

Thank you!

RouteZilla Staff
{% endautoescape %}