{% extends '::availability_settings.html.twig' %}

{% block title %}Create new Recurring Blackout{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">
    <style>
	    select {
	        margin-left: 10px;
	    }
        .help-inline { color: red; }
        #blackoutconfiguration_timeStart,
        #blackoutconfiguration_timeEnd {
            display: inline;
        }
        label.checkbox {
            float: left;
            width: 100px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<form method="post">
    {% block header %}
	    <header class="page-header">
	        <h1>Create Recurring Blackout <small>limit your future Booking Availability</small></h1>
	    </header>
    {% endblock header %}

    <div class="row">
        <div class="span6">
            {{ form_errors(form) }}



                <section id="name">{{ form_row(form.name, { 'attr': {
                    'class': 'input-xlarge',
                    'placeholder': 'Eg. Prevent bookings during summer holidays'
                } }) }}</section>

                <section id="options" class="form-horizontal">
                    <legend>Choose what to black out</legend>
                    <div class="well">
                        {{ form_row(form.service) }}
                        {{ form_row(form.region) }}
                        {{ form_row(form.crew) }}
                    </div>
                </section>

                <section id="recurring" class="form-horizontal">
                    <legend>Choose how the blackout should recur</legend>

                    <div class="control-group">
                        <label class="control-label">Date Range</label>
                        <div class="controls inline">
                            <div class="input-append start">
                                {{ form_widget(form.dateStart, { 'attr': { 'class': 'input-small', 'placeholder': 'Start on' } }) }}<span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                            <div class="input-append end">
                                {{ form_widget(form.dateEnd, { 'attr': { 'class': 'input-small', 'placeholder': 'End on' } }) }}<span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                            {{ form_errors(form.dateStart) }}
                            {{ form_errors(form.dateEnd) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Recur Every</label>
                        <div class="controls inlines">
                            {{ form_widget(form.frequencyMultiplier, { attr: { class: 'input-small'} }) }}
                            {{ form_widget(form.frequency, { 'attr': { 'class': 'input-small' }} ) }}
                        </div>
                    </div>
                    <div class="control-group" id="patternContainer">
                        <label class="control-label">Pattern</label>
                        <div class="controls inline">
                            <select name="pattern" id="pattern">
                                <option value="w">Days of Week</option>
                                <option value="d">Days of Month</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">On</label>
                        <div class="controls inline">
                            {{ form_widget(form.nth) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Days of Week</label>
                        <div class="controls inline">
                            {{ form_widget(form.daysOfWeek) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Days of Month</label>
                        <div class="controls inline">
                            {{ form_widget(form.daysOfMonth) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Applied to these Months</label>
                        <div class="controls inline">
                            {{ form_widget(form.monthsOfYear) }}
                        </div>
                    </div>
                </section>


                <section id="timerange" class="form-horizontal">
                    <legend>OPTIONAL: Specify a time to black out on those days</legend>

                    <div class="control-group">
                        <label class="control-label">Time Range</label>
                        <div class="controls inline">
                            From
                            {{ form_widget(form.timeStart, { attr: { class: 'input-small', 'placeholder': '00:00:00' } }) }}
                            to
                            {{ form_widget(form.timeEnd, { attr: { class: 'input-small', 'placeholder': '23:59:59' } }) }}
                        </div>

                        {{ form_errors(form.timeStart) }}
                        {{ form_errors(form.timeEnd) }}
                    </div>
                </section>


               {{ form_rest(form) }}

                <div class="form-actions">
                    {% block submitButtons %}
                    <button type="submit" class="btn btn-large pull-right" id="submit"><i class="icon-off"></i> Create Blackout</button>
                    {% endblock submitButtons %}
                </div>

        </div>

        <div class="span4 offset2">
            <h3>Guidance</h3>
            <div id="help" class="alert alert-info">
                <p>A Blackout is a way of telling the system to ignore certain times when calculating Booking Availability for specific Services, Crews or Regions.</p>
            </div>
        </div>

    </div>
</form>
{% endblock content %}


{% block javascript %}
    {{ parent() }}

    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
        $(function() {
            $('#blackoutconfiguration_frequency').change(function() {
                $('#blackoutconfiguration_daysOfWeek').parents('.control-group').hide();
                $('#blackoutconfiguration_daysOfMonth').parents('.control-group').hide();
                $('#blackoutconfiguration_monthsOfYear').parents('.control-group').hide();
                $('#blackoutconfiguration_nth').parents('.control-group').hide();
                $('#patternContainer').hide();

                if ($(this).val() != 'daily') {
                    $('#blackoutconfiguration_daysOfWeek').parents('.control-group').show();
                }

                if ($(this).val() == 'monthly' || $(this).val() == 'yearly') {
                    $('#blackoutconfiguration_daysOfMonth').parents('.control-group').show();
                    $('#blackoutconfiguration_nth').parents('.control-group').show();
                }

                if ($(this).val() == 'monthly' || $(this).val() == 'yearly') {
                    $('#patternContainer').show();
                }

                if ($(this).val() == 'yearly') {
                    $('#blackoutconfiguration_monthsOfYear').parents('.control-group').show();
                }

                $('#pattern').change();
            });
            $('#blackoutconfiguration_frequency').change();


            $('#pattern').change(function() {
                if ($('#blackoutconfiguration_frequency').val() == 'daily' || $('#blackoutconfiguration_frequency').val() == 'weekly') {
                    return;
                }

                $('#blackoutconfiguration_daysOfWeek').parents('.control-group').hide();
                $('#blackoutconfiguration_daysOfMonth').parents('.control-group').hide();
                $('#blackoutconfiguration_nth').parents('.control-group').hide();

                if ($(this).val() == 'd') {
                    $('#blackoutconfiguration_daysOfMonth').parents('.control-group').show();
                }

                if ($(this).val() == 'w') {
                    $('#blackoutconfiguration_daysOfWeek').parents('.control-group').show();
                    $('#blackoutconfiguration_nth').parents('.control-group').show();
                }
            });
            $('#pattern').change();

            if ($('#blackoutconfiguration_daysOfWeek :checked').length) {
                $('#pattern').val('w').change();
            } else if ($('#blackoutconfiguration_daysOfMonth :checked').length) {
                $('#pattern').val('d').change();
            }

            $('#blackoutconfiguration_daysOfWeek input, #blackoutconfiguration_nth').change(function() {
                $('#blackoutconfiguration_daysOfMonth input').attr('checked', null);
            });
            $('#blackoutconfiguration_daysOfMonth').change(function() {
                $('#blackoutconfiguration_daysOfWeek input').attr('checked', null);
            });

            $('.start input').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $(".end input").datepicker( "option", "minDate", selectedDate );
                }
            });
            $('.end input').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $('.start input').datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>
{% endblock javascript %}

