{% extends 'OrcBookingBundle:BlackoutConfigurations:create.html.twig' %}

{% block title %}Edit Recurring Blackout{% endblock title %}

{% block header %}
    <header class="page-header">
        <h1>Edit Recurring Blackout <small>limit your future Booking Availability</small></h1>
    </header>
{% endblock header %}

{% block submitButtons %}
    <button type="submit" class="btn btn-large pull-right" id="submit"><i class="icon-off"></i> Update Blackout</button>
{% endblock %}
