{% extends '::availability_settings.html.twig' %}
{% import "OrcBookingBundle:Blackouts:macros.html.twig" as black %}

{% block title %}Recurring Blackouts{% endblock %}

{% block content %}
    <header class="page-header">
        <a class="btn pull-right btn-large" href="{{ path('blackoutconfigurations_admin_create')}}"><i class="icon-plus"></i> Create New Blackout</a>
        <h1>Recurring Blackouts <small>schedule a recurring interruption of service</small></h1>
    </header>

    <div class="row">
        <div class="span12">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Runs</th>
                        <th>Crew</th>
                        <th>Service</th>
                        <th>Region</th>
                        <th>Recurrs</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for blackout in blackouts %}
                    <tr>
                        <td><a href="{{ path('blackoutconfigurations_admin_edit', { id:blackout.id }) }}">{{ blackout.name }}</a></td>
                        <td>{{ blackout.dateStart|date('Y-m-d') }}<br>{{ blackout.dateEnd|date('Y-m-d') }}</td>
                        <td>
                            {% if blackout.crew %}
                                {{ blackout.crew.name }}
                            {% else %}
                                all
                            {% endif %}
                        </td>
                        <td>
                            {% if blackout.service %}
                                {{ blackout.service.name }}
                            {% else %}
                                all
                            {% endif %}
                        </td>
                        <td>
                            {% if blackout.region %}
                                {{ blackout.region.name }}
                            {% else %}
                                all
                            {% endif %}
                        </td>
                        <td>
                            Every 
                            {{ blackout.frequencyMultiplier != 1 ?  blackout.frequencyMultiplier : '' }} 
                            {% set captions = {
                                daily: 'days',
                                weekly: 'weeks',
                                quarterly: 'quarters',
                                monthly: 'months',
                                yearly: 'years'
                            } %}
                            {% set frequency = captions[blackout.frequency] %}
                            {{ blackout.frequencyMultiplier == 1 ? frequency|slice(0, -1) : frequency }}
                        </td>
                        <td>
                            <a class="btn" href="{{ path('blackoutconfigurations_admin_edit', { id: blackout.id }) }}">Edit</a>
                            <a class="btn btn-danger" href="{{ path('blackoutconfigurations_admin_delete', { id: blackout.id }) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
