{% extends "OrcBookingBundle:FieldReports:Layout.html.twig" %}

{% block content %}
    {% if booking.statusText == 'Delivered' %}
        <div class="alert alert-info">This job has been marked as complete.</div>
    {% endif %}

    <div class="controls pull-right">
        <div class="btn-group">
            <a class="btn" href="{{ path('field_reports', { workerToken: worker.token, date: booking.dateStart|date('Y-m-d') }) }}">{{ booking.dateStart|date('Y-m-d') }}</a>
        </div> 
    </div>

    <h1>{{ booking.location.street }}/{{ booking.service.name }}</h1> 
    
    {% if booking.workerNotes %}
    <section>
        <h2>Crew Notes</h2>

        <ul class="crewNotes">
            {% for note in notes %}
                <li>
                    {{ note.text }} — 
                    <strong>{{ note.worker.user.username }}</strong> 
                    <em>{{ note.datePosted|date_today }}</em>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    <section>
        <form method="post">
            {{ form_errors(form) }}
        
            <p>
                {{ form_label(form.text) }}
                {{ form_widget(form.text) }}
            </p>
        
            {{ form_rest(form) }}

            <p>
                <button class="btn" type="submit" name="save" value="save"><i class="icon-plus-sign"></i> Add note</button>
                {% if booking.status != 3 %}
                    <button class="btn btn-primary" type="submit" name="save" value="done"><i class="icon-ok icon-white"></i> Save and mark as done</button>
                {% endif %}
            </p>
        </form>
    </section>

{% endblock content %}