{% extends "OrcBookingBundle:FieldReports:Layout.html.twig" %}


{% block content %}
<header>
    <div class="controls pull-right" style="bottom: 0;">
        <div class="btn-group">
            <a class="btn" href="{{ path('field_reports', { workerToken: worker.token, date: date|modify('-1 day')|date('Y-m-d') }) }}"><i class="icon-arrow-left"></i></a>
            <a class="btn{{ date|date('m/d/Y') == 'today'|date('m/d/Y') ? ' disabled' : '' }}" href="{{ path('field_reports', { workerToken: worker.token }) }}">Today</a>
            <a class="btn" href="{{ path('field_reports', { workerToken: worker.token, date: date|modify('+1 day')|date('Y-m-d') }) }}"><i class="icon-arrow-right"></i></a>
        </div> 
    </div>
    
    <h2><small>{{ worker.name }}'s Agenda</small><br>
	    {% if date|date('Y-m-d') == 'today'|date('Y-m-d') %}
	        Today
	    {% else %}
	        {{ date|date('Y-m-d') }}
	    {% endif %}
    </h2>
</header>
    
    <hr>

    {% for booking in bookings %}
    <div class="workerBooking{{ booking.complete ? ' complete' : '' }}">
        <div class="summary">
        <h2>{{ booking.dateStart|date('g:ia') }} <small>to {{ booking.dateEnd|date('g:ia') }}</small></h2>
            <h3>
                <a href="#" data-toggle="collapse" data-target="#booking_{{ booking.id }}">{{ booking.name }}</a> 
                <i class="icon-circle-arrow-right"></i>
            </h3>
        </div>

        <div id="booking_{{ booking.id }}" class="collapse">
            <div>
                <h3>{{ booking.customer.name|raw }}</h3>
                <h3><a href="tel:{{ booking.customer.phone }}">{{ booking.customer.phone|raw }}</a></h3>
            </div>

            <div>
                <a href="http://maps.google.com/?q={{ booking.location.address|escape('url') }}">{{ booking.location.street|raw }}{{ booking.location.line2 ? ' ' ~ booking.location.line2 }} , {{ booking.location.city|raw }}<br>
                    {{ booking.location.province }} {{ booking.location.code|raw }}</a>
            </div>

            {% if booking.notes %}
            <strong>Private Notes</strong>:
            <p>{{ booking.notes|nl2br }}</p>
            {% endif %}

            <div>
                {% if booking.additionalInformation %}
                <strong>Customer's Notes</strong>:
                <p>{{ booking.additionalInformation|nl2br }}</p>
                {% endif %}

                {%- for field in booking.fields -%}

                <strong>{{ field.field.question|upper|raw }}:</strong>
                <p>{{ field.answer|raw|nl2br }}</p>

                {% endfor %}
            </div>

        </div>

        <div>
            <a class="btn" href="http://maps.google.com/?f=d&amp;daddr={{ booking.location.address|escape('url') }}"><i class="icon-move"></i> Get directions</a>
            <a class="btn" href="{{ path('field_reports_create', { workerToken: worker.token, booking: booking.id }) }}"><i class="icon-plus-sign"></i> Add notes</a>
        </div>
    </div>
    <hr>
    {% endfor %}
    
{% endblock content %}
