{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    
    <style>
        body {
            padding:20px;
        }
        .mobile-wrapper {
            max-width: 640px;
        }
        textarea {
            width:100%;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
        }
        footer {
            padding-top: 30px;
        }
        div {
            padding: 5px 0 5px 0;   
        }
        a {
            color: inherit;
        }
        a:hover {
            text-decoration: none;
        }
        h3 [class^="icon-"] {
            vertical-align: inherit;
        }
        .btn-group {
            padding-top: 38px;
        }

        .workerBooking.complete .summary h2,
        .workerBooking.complete .summary h3 a {
            text-decoration: line-through;
        }
    </style>

    {% if site is defined and site.client and site.client.brandingColor %}
       {% include '::partials/css_colors.html.twig' with { 'color': site.client.brandingColor } %}
    {% endif %}
{% endblock stylesheets %}


{% block layout %}
	<div class="mobile-wrapper">
	    {% block content %}{% endblock content %}
	
	    <footer>
	        <a href="tel:{{ site.client.phone }}" class="btn btn-warning"><i class="icon-exclamation-sign icon-white"></i> Call {{ site.client.name }}</a>
	    </footer>
	</div>
{% endblock layout %}
