{% extends '::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash, session_flash %}

{% block stylesheets %}
    {{ parent() }}

    {% include '::partials/css_colors.html.twig' with { 'color': '#FDFDFD', 'color2': '#50A0E2' } %}

    <style>
        .feedback {
            background-color: #f8b500;
            padding: 5px;
            -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
                    border-radius: 3px;
            -webkit-box-shadow:0px 1px 2px #333;
               -moz-box-shadow:0px 1px 2px #333;
                    box-shadow:0px 1px 2px #333;
        }
        .shareText {
            display: inline-block;
            padding: 4px 12px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 20px;
            text-align: right;
            vertical-align: middle;
        }
    </style>

{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}

    <!-- begin SnapEngage code -->
    <script type="text/javascript">
      (function() {
        var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
        se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/85769ac2-c0e7-49cd-b12a-a2a0a87c54be.js';
        var done = false;
        se.onload = se.onreadystatechange = function() {
          if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
            done = true;
            // Place your SnapEngage JS API code below
            //SnapEngage.openProactiveChat(true, true); // Example: open the proactive chat on load
          }
        };
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
      })();
    </script>
    <!-- end SnapEngage code -->

    {% if conf.intercom_app_id %}
        <script id="IntercomSettingsScriptTag">
              window.intercomSettings = {
                app_id: "{{ conf.intercom_app_id }}",
                user_id: {{ site.client.id }},
                name: "{{ site.client.name|e("js") }}",
                email: "{{ site.client.email|e("js") }}",
                created_at: {{ site.client.dateCreated|date("U") }},
                "Trial Ends": {{ site.client.customer.trialEndDate|date("U") }},
                "Plan": "{{ site.client.plan.name|e("js") }}"
              };
        </script>
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    {% endif %}

{% endblock javascript %}

{% block layout %}
	{% block navigation %}
	    <div class="navbar navbar-fixed-top">
	        <div class="navbar-inner">
	            <div class="container">
	                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </a>

	                <a class="brand" href="{{ path('dashboard') }}">routezilla</a>

	                <div class="nav-collapse">

	                    {{ knp_menu_render('OrcSaasBundle:Builder:mainMenu', { currentClass: 'active' }) }}

	                    <ul class="nav pull-right">
                            <li><a href="#" onclick="return SnapEngage.startLink();" style="padding-top: 7px; padding-bottom: 0;"><img src="https://www.snapengage.com/statusImage?w=85769ac2-c0e7-49cd-b12a-a2a0a87c54be" alt="Contact us" border="0"></a></li>
                            <li><a href="http://www.routezilla.com/howto/" target="_blank">How to</a></li>
                            <li>{{ knp_menu_render('OrcSaasBundle:Builder:settingsMenu', { currentClass: 'active' }) }}</li>
                            <li>{{ knp_menu_render('OrcSaasBundle:Builder:accountMenu', { currentClass: 'active' }) }}</li>
                            {# START Share Button #}
                            <li>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                                        <i class="icon-share-alt icon-white"></i> Share
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% set url = "http://twitter.com/intent/tweet?url=%s&text=24 hour online booking at" %}
                                        <li><a target="_blank" href="{{ url|format(site.client.site.url) }}"><i class="icon-retweet"></i> Twitter</a></li>

                                        {% set url = "http://www.facebook.com/sharer.php?u=%s&t=Book Online: Where would you like service? %s" %}
                                        <li><a target="_blank" href="{{ url|format(site.client.site.url, site.client.site.url) }}"><i class="icon-thumbs-up"></i> Facebook</a></li>

                                        {% set url = "mailto:?subject=Schedule your appointment with %s online now!&body=We are reaching out to remind you about our online booking feature. You can check availability and confirm an appointment at your own leisure, 24/7. See it in action at: %s" %}
                                        <li><a target="_blank" href="{{ url|format(site.client.name, site.client.site.url) }}"><i class="icon-envelope"></i> Email</a></li>
                                    </ul>
                                </div>
                            </li>
                            {# END Share Button #}
	                    </ul>
	                </div>

	            </div>
	        </div>
	    </div>
	{% endblock navigation %}

    <div class="container">
        {{ flashMessages }}

        {% if site.client.skipWizard %}
            <div class="alert alert-info">
                You've skipped Setup.
                <a href="{{ path('setup_skip', { toggle: 0 }) }}">Resume</a> from where you left off,
                or <a href="{{ path('setup_dismiss') }}">Dismiss</a> this alert forever.
            </div>
        {% endif %}

        {% if not site.client.active and site.client.trialEndsWithin(10) %}
            <div class="alert alert-warning">
                <a class="btn btn-inverse pull-right" href="{{ path('billing') }}">Upgrade Now</a>
                <h3>Your Routezilla trial is ending in about {{ site.client.getTrialEnd() }} days.</h3>
            </div>
        {% endif %}

        {% block page_header %}{% endblock page_header %}
        {% block content %}{% endblock content %}

        <div id="feedbackModal" class="modal hide fade" role="dialog" aria-hidden="true"></div>

        <hr>

        {% block footer_container %}
	        <footer>
	            {% block footer %}
                    <p>&copy; Routezilla Software Corp. {{ 'today'|date('Y') }} <a href="{{ path('tos') }}">Terms</a> | <a href="{{ path('privacy') }}">Privacy</a> | <a href="{{ path('contact') }}">Contact</a></p>
	            {% endblock footer %}
	        </footer>
        {% endblock footer_container %}
    </div>

{% endblock layout %}
