{% extends '::admin.html.twig' %}

{% block page_header %}
    <header class="header">
        <h1>Company Setup</h1>
        <p class="lead">Fill out the details for your company and the services it provides</p>
    </header>   
    {{ knp_menu_render(['OrcSaasBundle:Builder:settingsMenu', 'Settings'],  { 
        currentClass: 'active', 
        tabs: true
    }) }}
{% endblock page_header %}