{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/account.css">
{% endblock %}

{% block page_header %}
    <header class="header">
        <h1>Account Information</h1>
        <p class="lead">Account management, billing, etc.</p>
    </header>   
    {{ knp_menu_render(['OrcSaasBundle:Builder:accountMenu', 'Account'],  { 
        currentClass: 'active', 
        tabs: true,
        depth: 1
    }) }}
{% endblock page_header %}