{% extends '::admin.html.twig' %}

{% block page_header %}
    <header class="header">
        <h1>Availability</h1>
        <p class="lead">Make changes to your schedule to affect your Booking Availability</p>
    </header>   
    {{ knp_menu_render(['OrcSaasBundle:Builder:mainMenu', 'Availability'],  { 
        currentClass: 'active', 
        tabs: true
    }) }}
{% endblock page_header %}