{% from 'MopaBootstrapBundle::flash.html.twig' import flash, session_flash, booking_flash %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock title %} {% if block('title') %}- {% endif %}Routezilla</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">

    {% block stylesheets %}

	    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	    <style>
	    body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	    }

        {% if app.environment == 'prod' %}

            .pending {
                display: none !important;
                visibility: hidden;
            }

        {% endif %}

	    </style>
	    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
	    <link rel="stylesheet" href="/css/global.css">

    {% endblock stylesheets %}

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/libs/html5.js"><\/script>')</script>
        <![endif]
    {% endblock head %}
</head>
{% block body_tag %}
    <body class="{% block body_class %}{% endblock body_class %}" >
{% endblock body_tag %}

{% block body %}
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="//browsehappy.com/">Upgrade to a different browser</a> or <a href="//www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    {% set flashMessages %}
        {# captures this block to a "flashes" variable #}
    {% if app.session and app.session.flashbag.peekAll|length > 0 %}
        <div class="row-fluid">
            <div class="span12">
                {{ session_flash() }}
            </div>
        </div>
    {% endif %}

    {% if messages is defined and messages %}
    {% for message in messages %}
        {{ flash(message[0], message[1]) }}
    {% endfor %}
    {% endif %}
    {% endset %}

    {% block layout %}

    {% endblock layout %}

    {% block javascript %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
        <script src="/bootstrap/js/bootstrap.js"></script>

        <script type="text/javascript">
        if (typeof flashPrompt != 'undefined') {
            $(flashPrompt);
        }
        </script>

        {% if app.environment == 'prod' %}
	        <script>
	        var _gaq=[['_setAccount','UA-34958785-1'],['_trackPageview']];
	        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	            s.parentNode.insertBefore(g,s)}(document,'script'));
	        </script>
        {% endif %}
    {% endblock javascript %}

{% endblock body %}
</body>
</html>
