{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/booking.css">
    <link rel="stylesheet" href="/vendors/fullcalendar/fullcalendar.css" />
    
    <style>
        p.staff_login a {
            color: #999;
        }
    
        p.staff_login a:hover {
            color: #666;
        }
    </style>

    {% if site is defined and site.client and site.client.brandingColor %}
       {% include '::partials/css_colors.html.twig' with { 'color': site.client.brandingColor } %}
    {% endif %}

{% endblock stylesheets %}


{% block layout %}
    <section id="global">
        <div class="row">
            <div class="span3 offset2">
    
                <header class="header">
                    {% if site.client.webPath %}
                        <img src="{{ site.client.webPath }}" title="{{ site.client.name }} Logo" />
                    {% endif %}
    
                    <h3>{{ site.client.name }}</h3>
                </header>
                
                {% if site.client.phone %}
                    <hr>
                    <p>Please book your service request. If you have questions or concerns, please call:</p>
                    <h2>{{ site.client.phone|raw }}</h2>
                {% endif %}

                {% if '.' in site.client.website %}
                    <p>Return to the website of <a href="{{ site.client.website }}">{{ site.client.name }}</a></p>
                {% endif %}

                <hr>
    
                <p class="staff_login"><a href="{{ path('dashboard') }}">Staff Login</a></p>
            </div>
    
    
            <div class="span6">
    
              {% block breadcrumbs %}
                  {{ knp_menu_render('OrcBookingBundle:Builder:mainMenu', { currentClass: 'active' }) }}
              {% endblock breadcrumbs %}
    
              <div class="booking well">
                {{ flashMessages }}
    
                {% block content %}{% endblock content %}
                </div> 
            </div>     
        </div> 
    </section>
{% endblock layout %}

{% block javascript %}
    {{ parent() }}
    <script>$(window).unload(function(){});</script>
{% endblock %}
