{% extends '::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash, session_flash %}

{% block title %}Signup{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    {% include '::partials/css_colors.html.twig' with { 'color': '#fdfdfd', 'color2': '#50A0E2' } %}

    <style>
        .feedback {
            background-color: #f8b500;
            padding: 5px;
            -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
                    border-radius: 3px;
            -webkit-box-shadow:0px 1px 2px #333;
               -moz-box-shadow:0px 1px 2px #333;
                    box-shadow:0px 1px 2px #333;
        }

        a.btn.btn-navbar {
            display: none;
        }

        hr {
            display: none;
        }

        .modal {
            position: relative;
            margin-top: 20px;
        }
    </style>

{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}

    <!-- begin SnapEngage code -->
    <script type="text/javascript">
      (function() {
        var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
        se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/85769ac2-c0e7-49cd-b12a-a2a0a87c54be.js';
        var done = false;
        se.onload = se.onreadystatechange = function() {
          if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
            done = true;
            // Place your SnapEngage JS API code below
            //SnapEngage.openProactiveChat(true, true); // Example: open the proactive chat on load
          }
        };
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
      })();
    </script>
    <!-- end SnapEngage code -->

{% endblock javascript %}

{% block layout %}
	{% block navigation %}
	    <div class="navbar navbar-fixed-top">
	                <div class="navbar-inner">
	                    <div class="container">
	                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	                            <span class="icon-bar"></span>
	                            <span class="icon-bar"></span>
	                            <span class="icon-bar"></span>
	                        </a>

	                        <a class="brand" href="http://www.routezilla.com/">routezilla</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	{% endblock navigation %}

    <div class="container">
        {{ flashMessages }}

        {% block page_header %}{% endblock page_header %}
        {% block content %}{% endblock content %}

        <div id="feedbackModal" class="modal hide fade" role="dialog" aria-hidden="true"></div>

        <hr>

        {% block footer_container %}
	        <footer>
	        	{% block footer %}{% endblock footer %}
	        </footer>
        {% endblock footer_container %}
    </div>

{% endblock layout %}
