{% extends '::admin_settings.html.twig' %}

{% block title %}Create new Crew{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .raised {
            margin-top: 4px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<form method="post">
    <header class="page-header">
        <button type="submit" class="btn btn-large pull-right" id="submit"><i class="icon-plus"></i> Save New Crew</button>
        <h1>Create New Crew <small>Add to your team</small></h1>
    </header>

    <div class="row form-horizontal">
        <div class="span6">
            {{ form_errors(form) }}
            
            <section>
                {{ form_row(form.name) }}
                <div id="service_workers_control_group" class="control-group">
                    <label class="control-label">Staff Members</label>
                    <div class="controls raised">{{ form_widget(form.workers) }}</div>
                </div>
            </section>
            
            <section>
                <legend>Service Options</legend>
                <div class="well">
                    <div id="service_services_control_group" class="control-group">
                        <label class="control-label">Offered Services</label>
		                <div class="controls raised">{{ form_widget(form.services) }}</div>
                    </div>
	                
                    <div id="service_services_control_group" class="control-group">
                        <label class="control-label">Serviceable Areas</label>                    
		                <div class="controls raised">{{ form_widget(form.regions) }}</div>
                    </div>
                    
                    {{ form_rest(form) }}
                </div>
            </section>
            
        </div>

        <div class="span4 offset2">
            <h3>Guidance</h3>
            <div id="help" class="alert alert-info">
                <p>Here you will create a <strong>Crew Name</strong> and select which <strong>Staff Members</strong> are assigned to that Crew. Other options include what Services that crew can perform and what Service Area that crew services.</p>

                <p>You can prevent a Crew from taking Bookings by unchecking <strong>Accept Bookings</strong>.</p>

                <p>If you don't see a Staff Member you would like to assign to this crew:</p>

                <a class="btn" href="{{ path('staff_admin_create') }}"><i class="icon-plus"></i> Add Staff Member</a>
            </div>
        </div>
        
    </div>
</form>
{% endblock content %}