{% extends '::admin_settings.html.twig' %}

{% block title %}Remove Crew{% endblock title %}

{% block content %}
    <header class="header">
        <h1>Confirm Deletion:</h1>
        <p class="lead">Are you sure you want to remove {{ crew.name }}?</p>
    </header>

    <section id="deleteConfirmation">
        <form method="post">
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-large btn-danger" id="submit" value="Remove">
        </form>
    </service>
    
{% endblock content %}