{% extends '::admin_settings.html.twig' %}

{% block title %}Edit Crew{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .raised {
            margin-top: 4px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<form method="post">
    <header class="page-header">
        <button type="submit" class="btn btn-large pull-right btn-primary" name="save" value="draft"><i class="icon-ok-circle icon-white"></i> Save Changes</button>
        <a class="btn btn-large pull-right btn-danger" href="{{ path('crew_admin_delete', { 'id' :  crew.id } ) }}" title="Remove {{ crew.name }}"><i class="icon-trash icon-white"></i> Delete</a>
        <h1>Edit Crew <small>modify crew details</small></h1>
    </header>

    {{ form_errors(form) }}

    <div class="row form-horizontal">
        <div class="span6">
            <section>
                {{ form_row(form.name) }}
                <div id="service_workers_control_group" class="control-group">
                    <label class="control-label">Staff</label>
                    <div class="controls raised">{{ form_widget(form.workers) }}</div>
                </div>
            </section>
            
            <section>
                <legend>Service Options</legend>
                <div class="well">
                    <div id="service_services_control_group" class="control-group">
                        <label class="control-label">Offered Services</label>
                        <div class="controls raised">{{ form_widget(form.services) }}</div>
                    </div>
                    
                    <div id="service_services_control_group" class="control-group">
                        <label class="control-label">Serviceable Areas</label>                    
                        <div class="controls raised">{{ form_widget(form.regions) }}</div>
                    </div>
                    
                    {{ form_rest(form) }}
                </div>
            </section>
        </div>

        <div class="span4 offset2">
            <h3>Guidance</h3>
            <div id="help" class="alert alert-info">
                <p>Be careful about selecting Crew members that belong to another crew. By selecting them here, they will be removed from their assigned crew.</p>

            </div>
        </div>
    </div>
</form>
{% endblock content %}
