{% extends '::admin_settings.html.twig' %}

{% block title %}Crews{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

<style>

.crewBox {
    width:260px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: solid 1px #dadada;
    float: left;
    display: block;
    overflow-y: scroll;
}

.table:hover {
  background-color: inherit;
}

.span8 {
  overflow:hidden;
}

</style>

{% endblock stylesheets %}


{% block content %}
    <header class="page-header">
        <a class="btn pull-right btn-large" href="{{ path('crew_admin_create') }}"><i class="icon-plus"></i> Create New Crew</a>
        <h1>Crews <small>group your workers into crews</small></h1>
    </header>

    <div class="row">
        <div class="span8">
            {% if crews %}
            {% for crew in crews %}
                <div class="crewBox">
                    <a class="btn btn-mini btn-danger pull-right" href="{{ path('crew_admin_delete', { 'id' :  crew.id } ) }}" title="Remove {{ crew.name }}"><i class="icon-remove icon-white"></i></a>

                    <h6>Crew</h6>
                    <h3><a href="{{ path('crew_admin_edit', { 'id' : crew.id } ) }}" title="Edit {{ crew.name }}">{{ crew.name }}</a> <small>{{ crew.active ? "Active" : "Inactive" }}</small></h3>

                    <table class="table table-condensed">
                        <tbody>
                            <th>Members</th>
                            <th>Services</th>

                            <tr>
                                <td>
                                    {% for worker in crew.workers %}
                                    {{ worker.name }}<br />
                                    {% endfor %}
                                </td>

                                <td>
                                    {% for service in crew.services %}
                                    {{ service.name }}<br />
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-condensed">
                        <tbody>
                            <th>Service Areas</th>

                            <tr>
                                <td>
                                    {% for region in crew.regions %}
                                    {{ region.name }}<br />
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
           {% endfor %}

           {% else %}
           <p>You don't have any crews added yet.</p>
           {% endif %}
       </div>

       <div class="span4">
          <h3>Guidance</h3>
          <div id="help" class="alert alert-info">
              <p>Here you will create and assign <strong>Staff</strong> to a <strong>Crew</strong>. A Crew can be made up of one person or many people depending on your business.</p>
          </div>

          {% if site.client.plan %}
            <div id="crews" class="well">
                <h3>Current Usage</h3>
                <p>
                    <strong>Crews in use:</strong>
                    {% if site.client.plan and site.client.plan.maxCrews %}
                        {% set percent = 100 * site.client.crews / site.client.plan.maxCrews %}
                        {% if percent > 100 %}{% set percent = 100 %}{% endif %}
                        {% if percent <= 50 %}
                            {% set color = 'info' %}
                        {% elseif percent <= 80 %}
                            {% set color = 'warning' %}
                        {% else %}
                            {% set color = 'important' %}
                        {% endif %}
                    {% else %}
                        {% set color = 'success' %}
                    {% endif %}
                    <span class="label label-{{ color }}">{{ site.client.crews }} out of {% if site.client.plan.maxCrews %}{{ site.client.plan.maxCrews }}{% else %}<em>unlimited</em>{% endif %}</span>
                </p>
                <p>Routezilla charges you based on the number of plans you'd like to have.</p>
            </div>
        {% endif %}


      </div>
  </div>
{% endblock content %}
