{% extends '::availability_settings.html.twig' %}

{% block title %}Create new Blackout{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">
    <style>
	    select {
	        margin-left: 10px;
	    }
        .help-inline { color: red; }
        #blackout_timeStart,
        #blackout_timeEnd {
            display: inline;
        }
    </style>
{% endblock stylesheets %}


{% block content %}
<form method="post">
    {% block header %}
	    <header class="page-header">
	        <h1>Create Blackout <small>limit your future Booking Availability</small></h1>
	    </header>
    {% endblock header %}

    <div class="row">
        <div class="span6">
            {{ form_errors(form) }}



                <section id="name">{{ form_row(form.name, { 'attr': {
                    'class': 'input-xlarge',
                    'placeholder': 'Eg. Prevent bookings during summer holidays'
                } }) }}</section>

                <section id="options" class="form-horizontal">
                    <legend>Choose what to black out</legend>
                    <div class="well">
                        {{ form_row(form.service) }}
                        {{ form_row(form.region) }}
                        {{ form_row(form.crew) }}
                    </div>
                </section>


                <section id="dateTime" class="form-horizontal">
                    <legend>Choose a timeframe for the Blackout to take effect</legend>

                    <div class="control-group">
                        <label class="control-label">Date Range</label>
                        <div class="controls inline">
                            <div class="input-append start">
                                {{ form_widget(form.dateStart, { 'attr': { 'class': 'input-small', 'placeholder': 'Start' } }) }}<span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                            <div class="input-append end">
                                {{ form_widget(form.dateEnd, { 'attr': { 'class': 'input-small', 'placeholder': 'End' } }) }}<span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                            {{ form_errors(form.dateStart) }}
                            {{ form_errors(form.dateEnd) }}
                            <span class="help-block">To limit to a single day, make sure that the Start and End dates are the same.</span>
                        </div>
                    </div>
                </section>



                <section id="timerange" class="form-horizontal">
                    <legend>OPTIONAL: Specify a time to black out on those days</legend>

                    <div class="control-group">
                        <label class="control-label">Time Range</label>
                        <div class="controls inline">
                            From
                            {{ form_widget(form.timeStart, { attr: { class: 'input-small', 'placeholder': '00:00:00' } }) }}
                            to
                            {{ form_widget(form.timeEnd, { attr: { class: 'input-small', 'placeholder': '23:59:59' } }) }}
                        </div>

                        {{ form_errors(form.timeStart) }}
                        {{ form_errors(form.timeEnd) }}
                    </div>
                </section>


               {{ form_rest(form) }}

                <div class="form-actions">
                    {% block submitButtons %}
                    <button type="submit" class="btn btn-large pull-right" id="submit"><i class="icon-off"></i> Create Blackout</button>
                    {% endblock submitButtons %}
                </div>

        </div>

        <div class="span4 offset2">
            <h3>Guidance</h3>
            <div id="help" class="alert alert-info">
                <p>A Blackout is a way of telling the system to ignore certain times when calculating Booking Availability for specific Services, Crews or Regions.</p>
            </div>
        </div>

    </div>
</form>
{% endblock content %}


{% block javascript %}
    {{ parent() }}

    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
        $(function() {
            $('.start input').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $(".end input").datepicker( "option", "minDate", selectedDate );
                }
            });
            $('.end input').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $('.start input').datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>
{% endblock javascript %}
