{% extends 'OrcBookingBundle:Blackouts:create.html.twig' %}

{% block title %}Edit Blackout{% endblock title %}

{% block header %}
    <header class="page-header">
        <h1>Edit Blackout <small>{{ blackout.name }}</small></h1>
    </header>
{% endblock header %}

{% block submitButtons %}
    <button type="submit" class="btn btn-large pull-right" id="submit"><i class="icon-off"></i> Save Changes</button>
{% endblock submitButtons %}