{% extends '::availability_settings.html.twig' %}
{% import "OrcBookingBundle:Blackouts:macros.html.twig" as black %}

{% block title %}Blackouts{% endblock title %}

{% block content %}

    <header class="page-header">
        <a class="btn pull-right btn-large" href="{{ path('blackouts_admin_create')}}"><i class="icon-plus"></i> Create New Blackout</a>
        <h1>Blackouts <small>schedule an interruption of service</small></h1>
    </header>

    <div class="row">
        <div class="span12">
	        <section id="currentBlackouts"> 
	            <div class="header">
	                <h2>Currently in effect</h2>
	            </div>
	            
                {% if current|length %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Duration</th>
                                <th>Crew</th>
                                <th>Service</th>
                                <th>Region</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for blackout in current %}
                            <tr>
                                <td><a href="{{ path('blackouts_admin_edit', { id:blackout.id }) }}">{{ blackout.name }}</a></td>
                                <td>{{ blackout.dateStart|date('Y-m-d') }}<br>{{ blackout.dateEnd|date('Y-m-d') }}</td>
                                <td>
                                    {% if blackout.crew %}
                                        {{ blackout.crew.name }}
                                    {% else %}
                                        all
                                    {% endif %}
                                </td>
                                <td>
                                    {% if blackout.service %}
                                        {{ blackout.service.name }}
                                    {% else %}
                                        all
                                    {% endif %}
                                </td>
                                <td>
                                    {% if blackout.region %}
                                        {{ blackout.region.name }}
                                    {% else %}
                                        all
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn" href="{{ path('blackouts_admin_edit', { id: blackout.id }) }}">Edit</a>
                                    <a class="btn btn-danger" href="{{ path('blackouts_admin_delete', { id: blackout.id }) }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="lead">no current blackouts</p>
                {% endif %}

	        </section>
        </div>
    </div>

    <div class="row">
        <div class="span12">
	        <section id="upcomingBlackouts"> 
	            <div class="header">
	                <h2>Upcoming</h2>
	            </div>
	            
                {% if upcoming|length %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Duration</th>
                                <th>Crew</th>
                                <th>Service</th>
                                <th>Region</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for blackout in upcoming %}
                            <tr>
                                <td><a href="{{ path('blackouts_admin_edit', { id:blackout.id }) }}">{{ blackout.name }}</a></td>
                                <td>{{ blackout.dateStart|date('Y-m-d') }}<br>{{ blackout.dateEnd|date('Y-m-d') }}</td>
                                <td>
                                    {% if blackout.crew %}
                                        {{ blackout.crew.name }}
                                    {% else %}
                                        all
                                    {% endif %}
                                </td>
                                <td>
                                    {% if blackout.service %}
                                        {{ blackout.service.name }}
                                    {% else %}
                                        all
                                    {% endif %}
                                </td>
                                <td>
                                    {% if blackout.region %}
                                        {{ blackout.region.name }}
                                    {% else %}
                                        all
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn" href="{{ path('blackouts_admin_edit', { id: blackout.id }) }}">Edit</a>
                                    <a class="btn btn-danger" href="{{ path('blackouts_admin_delete', { id: blackout.id }) }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="lead">no upcoming blackouts</p>
                {% endif %}
	        </section>
        </div>
    </div>

{% endblock content %}
