{% extends '::availability_settings.html.twig' %}

{% block title %}Create new Blackout{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">

    <style>

    select {
        margin-left: 10px;
        opacity: 0.5;
    }

    </style>

{% endblock stylesheets %}

{% block content %}
<form method="post">
    <header class="page-header">
        <h1>Create Availability Limiter <small>limit your future Booking Availability</small></h1>
    </header>

    <div class="row form-horizontal">
        <div class="span6">
            {# form_widget(form) #}

            <form method="get" class="form-inline">

                <section id="name">
                    <div class="control-group">
                        <label class="control-label" for="Name">Name of Limiter</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" placeholder="Eg. Prevent bookings during summer holidays">
                        </div>
                    </div>
                </section>
                

                <section id="options">
                    <p class="alert">
                        By default <strong>ALL</strong> Services, Crews and Regions will be limited unless you select a specific option below:
                    </p>
                    <div class="well">
                        <div class="control-group">
                            <label class="control-label">Service</label>
                            <div class="controls">
                                <input type="checkbox" value="">

                                <select class="input-medium">
                                    <option>Services list</option>
                                    <option>Carpet Cleaning</option>
                                    <option>Wiring</option>
                                    <option>Winterization</option>
                                    <option>Plumbing</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Crew</label>
                            <div class="controls">
                                <input type="checkbox" value="">

                                <select class="input-medium">
                                    <option>Crews list</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                            
                        <div class="control-group">
                            <label class="control-label">Region</label>
                            <div class="controls">
                                <input type="checkbox" value="">

                                <select class="input-medium">
                                    <option>Regions list</option>
                                    <option>Downtown Kelowna</option>
                                    <option>Rutland</option>
                                    <option>W. Kelowna</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>


                <h3>Choose a timeframe for the Limiter to take effect</h3>

                <div class="accordion">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                For a specific day
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" style="height: 0px; ">
                            <div class="accordion-inner">
                                <div class="control-group">
                                    <label class="control-label">Date</label>
                                    <div class="controls inline">
                                        <div class="input-append start">
                                            <input class="date input-small" type="text" placeholder=""><span class="add-on"><i class="icon-calendar"></i></span>

                                            <div class="date"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Set as a Day Off</label>
                                    <div class="controls">
                                        <input type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    For a range of days
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" style="height: 0px; ">
                                <div class="accordion-inner">
                                    <div class="control-group">
                                        <label class="control-label">Date Range</label>
                                        <div class="controls inline">
                                            <div class="input-append start">
                                                <input class="end input-small" type="text" placeholder="Start"><span class="add-on"><i class="icon-calendar"></i></span>
                                            </div>
                                            <div class="input-append end">
                                                <input class="end input-small" type="text" placeholder="End"><span class="add-on"><i class="icon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Override Days Off</label>
                                        <div class="controls">
                                            <input type="checkbox" value=""><span class="help-inline">Affect  Days Off in Settings: Hours</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                    For a time range on a specific day
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" style="height: 0px; ">
                                <div class="accordion-inner">
                                    <div class="control-group">
                                        <label class="control-label">Date</label>
                                        <div class="controls inline">
                                            <div class="input-append start">
                                                <input class="date input-small" type="text" placeholder=""><span class="add-on"><i class="icon-calendar"></i></span>

                                                <div class="date"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Time Range</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input class="input-small" type="text" placeholder="Start"><span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                            <div class="input-append">
                                                <input class="input-small" type="text" placeholder="End"><span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                    For a time range across a date range
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" style="height: 0px; ">
                                <div class="accordion-inner">
                                    <div class="control-group">
                                        <label class="control-label">Date Range</label>
                                        <div class="controls inline">
                                            <div class="input-append start">
                                                <input class="end input-small" type="text" placeholder="Start"><span class="add-on"><i class="icon-calendar"></i></span>
                                            </div>
                                            <div class="input-append end">
                                                <input class="end input-small" type="text" placeholder="End"><span class="add-on"><i class="icon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Time Range</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input class="input-small" type="text" placeholder="Start"><span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                            <div class="input-append">
                                                <input class="input-small" type="text" placeholder="End"><span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Override Days Off</label>
                                        <div class="controls">
                                            <input type="checkbox" value=""><span class="help-inline">Affect  Days Off in Settings: Hours</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    
                </div>


                <div class="form-actions"><button type="submit" class="btn" id="submit"><i class="icon-resize-small"></i> Create Limiter</button></div>
            </form>
        </div>

        <div class="span4 offset2">
            <h3>Guidance</h3>
            <div id="help" class="alert alert-info">
                <p>A Limiter is a way of telling the system to ignore certain times when calculating Booking Availability. Use it to schedule holidays or other known interruptions of service. You can even blackout specific Services, Crews or Regions.</p>
            </div>
        </div>

    </div>
</form>
{% endblock content %}

{% block javascript %}
    {{ parent() }}


    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
        $(function() {
            $('.date div').datepicker({
                changeMonth: false,
                numberOfMonths: 1,
                dateFormat: "M d, yy",
                onSelect: function( selectedDate ) {
                    $('.date input').datepicker( selectedDate );
                }
            $('.start input').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "M d, yy",
                onSelect: function( selectedDate ) {
                    $(".end input").datepicker( "option", "minDate", selectedDate );
                }
            });
            $('.end input').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "M d, yy",
                onSelect: function( selectedDate ) {
                    $('.start input').datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>
{% endblock javascript %}