{# Card View; used in Blackouts main area #}
{% macro card(blackout) %}
    <div class="blackoutBox">
        <a class="btn btn-mini btn-danger pull-right" href="{{ path('blackouts_admin_delete', { 'id':  blackout.id } ) }}" title="Remove {{ blackout.name }}"><i class="icon-trash icon-white"></i></a>

        <h6>Blackout</h6>
        <h3><a href="{{ path('blackouts_admin_edit', { 'id' : blackout.id } ) }}" title="Edit {{ blackout.name }}">{{ blackout.name }}</a></h3>

        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th>From</th>
                    <td>{{ blackout.dateStart|date('Y-m-d') }}</td>
                </tr>

                <tr>
                    <th>To</th>
                    <td>{{ blackout.dateEnd|date('Y-m-d') }}</td>
                </tr>

                <tr>
                    <th>Affecting</th>
                    <td>
                        {% if blackout.service %}
                            Service: {{ blackout.service }}<br>
                        {% endif %}
                        {% if blackout.region %}
                            Region: {{ blackout.region }}<br>
                        {% endif %}
                        {% if blackout.crew %}
                            Crew: {{ blackout.crew }}<br>
                        {% endif %}
                        {% if not blackout.crew and not blackout.region and not blackout.service %}
                            All Crews, Services and Regions
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endmacro %}

{# List View: used on Dashboard #}
{% macro list(blackout) %}
    <li>
        {{ blackout.dateStart|date('M j') }} &rarr; {{ blackout.dateEnd|date('M j') }}
        {% if blackout.service %}
            Service: {{ blackout.service }}
        {% endif %}
        {% if blackout.region %}
            Region: {{ blackout.region }}
        {% endif %}
        {% if blackout.crew %}
            Crew: {{ blackout.crew }}
        {% endif %}
    </li>
{% endmacro %}
