{% extends '::admin_settings.html.twig' %}

{% block title %}Data Exports{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">

    <style>
        form.form-inline select {
            width: auto;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <header class="page-header">
        <a name="services"></a>
        <h2>Data Exports  <small>Export Routezilla data for external use</small></h2>
    </header>


    <div class="row">
        <div class="span8">
            <form class="form-horizontal" id="exportForm" action="{{ path('export_csv') }}">
                <fieldset>

                    {{ form_errors(form) }}

                    <h3>Filters</h3>
                    {{ form_row(form.name) }}
                    {{ form_row(form.dateStart) }}
                    {{ form_row(form.dateEnd) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form.crew) }}
                    {{ form_row(form.region) }}
                    {{ form_row(form.service) }}

                </fieldset>
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary" tabindex="4"><i class="icon-ok-circle icon-white"></i> Create Extract</button>
            </form>

            <h3>Saved Reports</h3>
            {% if reports %}
                <table class="table table-striped">
                    <tbody>
                        {% for report in reports %}
                            <tr>
                                <td>
                                   <h3>{{ report.name }}</h3>

                                   {% if report.dateStart or report.dateEnd %}
                                    <p>
                                    Date:
                                        {% if report.dateStart and report.dateEnd %}
                                            {{ report.dateStart|date('Y-m-d') }} to {{ report.dateEnd|date('Y-m-d') }}
                                        {% elseif report.dateStart %}
                                            after {{ report.dateStart|date('Y-m-d') }}
                                        {% elseif report.dateEnd %}
                                            before {{ report.dateEnd|date('Y-m-d') }}
                                        {% endif %}
                                    </p>
                                   {% endif %}
                                   {% if report.status %}<p>Status: {{ report.status | to_status }}</p>{% endif %}
                                   {% if report.crew %}<p>Crew: {{ report.crew.name }}</p>{% endif %}
                                   {% if report.region %}<p>Region: {{ report.region.name }}</p>{% endif %}
                                   {% if report.service %}<p>Service: {{ report.service.name }}</p>{% endif %}

                                </td>
                                <td class="align-right">
                                   <a class="btn btn-primary" href="{{ path('export_report_csv', { 'id' :  report.id } ) }}" title="Download {{ report.name }}"><i class="icon-download icon-white"></i> Download</a>
                                   <a class="btn btn-danger" href="{{ path('export_report_remove', { 'id' :  report.id } ) }}" title="Delete {{ report.name }}"><i class="icon-trash icon-white"></i> Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>

        <div class="span4">
                <h3>Guidance</h3>
                <div id="help" class="alert alert-info">
                    <p>Create a data extract of all your bookings here.</p>
                    <p>Use the drop downs to filter the data you want.</p>
                    <p>Then select 'Create Extract' and save the file to your computer.</p>
                    <p>Please note that if you 'Download' the file again, it will reflect any new or changed bookings from your previous download.</p>
                </div>
        </div>

    </div>
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
        $(function() {
            {% if open %}
            window.location = '{{ path('export_report_csv', { id: open }) }}';
            {% endif %}

            $('#export_report_dateStart').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $("#export_report_dateEnd").datepicker( "option", "minDate", selectedDate );
                }
            });
            $('#export_report_dateEnd').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $('#export_report_dateStart').datepicker( "option", "maxDate", selectedDate );
                }
            });
            $('#saveReport').click(function(e) {
                var $name = $('#export_report_name').val();
                if (!$name.length) {
                    alert('Please specify a name before saving');
                    return false;
                }
            });
        });
    </script>
{% endblock javascript %}
