{% autoescape false %}
Hi {{ worker.name }},

Here is your job schedule.

http://{{ client.site.domain }}{{ path('orc_calendar_feed', { workerToken: worker.token }) }}

You may have to manually add calendar feed to your personal calendar if your phone cannot do it automatically.

Thanks,
{{ client.name }}
{{ client.phone }}
{% endautoescape %}