{% extends '::signup_layout.html.twig' %}

{% block content %}
    <div class="modal" id="setup">
        <form method="post" style="margin-bottom: 0px;">
            <div class="modal-header">
                <h3>Sign up: Login information <small>Step 2 of 7</small></h3>
            </div>

            <div class="modal-body">
                <div class="progress progress-striped active progress-success">
                    <div class="bar" style="width: 28%"></div>
                </div>

                {{ form_errors(form) }}

                <label for="{{ form.email.vars.id }}">Email (your username)</label>
                {{ form_widget(form.email, { attr: { style: '', value: '', placeholder: '' } }) }}

                <label for="{{ form.plainPassword.first.vars.id }}">Password</label>
                {{ form_widget(form.plainPassword.first, { attr: { style: '', value: '', placeholder: '' } }) }}

                <label for="{{ form.plainPassword.second.vars.id }}">Re-enter password</label>
                {{ form_widget(form.plainPassword.second, { attr: { style: '', value: '', placeholder: '' } }) }}

                {{ form_rest(form) }}
    		</div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" tabindex="4" id="submit" value="Create Account">Next step <i class="icon-play icon-white"></i></button>
            </div>
        </form>
	</div>
{% endblock content %}
