{% extends '::signup_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% include '::partials/css_colors.html.twig' with { 'color': '#fdfdfd', 'color2': '#50A0E2' } %}

    <style>
        body {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        /* Custom container */
        .container {
            margin: 0 auto;
            max-width: 1000px;
        }
        .container > hr {
            margin: 60px 0;
        }

        /* Main marketing message and sign up button */
        .jumbotron {
            margin: 80px 0;
            text-align: center;
        }
        .jumbotron h1 {
            font-size: 60px;
            line-height: 1;
        }
        .jumbotron .lead {
            font-size: 24px;
            line-height: 1.25;
        }
        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }

        /* Supporting marketing content */
        .marketing {
            margin: 60px 0;
        }
        .marketing p + h4 {
            margin-top: 28px;
        }


        /* Customize the navbar links to be fill the entire space of the .navbar */
        .navbar .navbar-inner {
            padding: 0;
        }
        .navbar .nav {
            margin: 0;
            display: table;
            width: 100%;
        }
        .navbar .nav li {
            display: table-cell;
            width: 1%;
            float: none;
        }
        .navbar .nav li a {
            font-weight: bold;
            text-align: center;
            border-left: 1px solid rgba(255,255,255,.75);
            border-right: 1px solid rgba(0,0,0,.1);
        }
        .navbar .nav li:first-child a {
            border-left: 0;
            border-radius: 3px 0 0 3px;
        }
        .navbar .nav li:last-child a {
            border-right: 0;
            border-radius: 0 3px 3px 0;
        }
    </style>

{% endblock stylesheets %}


{% block content %}

    <div class="masthead">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="http://www.routezilla.com/benefits/clkn/http/www.routezilla.com/howitworks/">How it works</a></li>
                        <li><a href="http://www.routezilla.com/benefits/clkn/http/www.routezilla.com/features/">Features</a></li>
                        <li><a href="http://www.routezilla.com/benefits/clkn/http/www.routezilla.com/benefits/">Benefits</a></li>
                        <li><a href="http://www.routezilla.com/benefits/clkn/http/www.routezilla.com/pricing/">Pricing</a></li>
                        <li><a href="http://www.routezilla.com/benefits/clkn/http/www.routezilla.com/contact/">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar -->
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Automate your schedule</h1>
        <p class="lead">An automated scheduler can improve customer service by eliminating phone and email tag, making it easy for you to get in touch with your customers provide services faster.</p>
        <a class="btn btn-large btn-primary" href="/signup">Get started today</a>
    </div>


    <div class="row-fluid">
        <div class="span4">
            <h2>More Customers</h2>
            <p>Capture new leads while your competitors aren't looking. Take better care of existing customers by improved customer service features like auto response email.</p>
        </div>
        <div class="span4">
            <h2>Eliminate Phone Tag</h2>
            <p>Auto-response email feature confirms bookings and reminds your customers of upcoming appointments.</p>
        </div>
        <div class="span4">
            <h2>Maximize Resources</h2>
            <p>Spend less time focusing on the daily details and more time working on what's around the corner.</p>
        </div>
    </div>


{% endblock content %}

{% block javascript %}
    {{ parent() }}

    <script>
        (function() {
            var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
            se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/85769ac2-c0e7-49cd-b12a-a2a0a87c54be.js';
            var done = false;
            se.onload = se.onreadystatechange = function() {
                if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
                    done = true;
                    // Place your SnapEngage JS API code below
                    //SnapEngage.openProactiveChat(true, true); // Example: open the proactive chat on load
                }
            };
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
        })();
    </script>

{% endblock javascript %}