{% extends '::signup_layout.html.twig' %}

{% block content %}

     <a href="/" class="public_brand"><img src="/images/rz_logo_full_41.png"></a>

    <h1>Account Ready!</h1>
    <p class="lead">Your login address is:</p>

    <p class="lead client_domain"><a title="Continue" href="{{ client.site.url(path('dashboard')) }}">{{ client.site.domain ~ path('dashboard') }} </a></p>

{% endblock content %}
