{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock stylesheets %}


{% block content %}

<div class="row">
    <div class="span6 offset3">
        <header class="header">
            <a href="javascript:window.print()" class="btn btn-primary pull-right"><i class="icon-file icon-white"></i> Print</a>
            <a href="/" class="public_brand"><img src="/images/rz_logo_full_41.png"></a>
            <h1>Terms of Service</h1>
            <p class="lead">IMPORTANT, THIS IS A LICENSE AGREEMENT</p>
        </header>

        {% include "OrcSaasBundle:Index:tos_content.html.twig" %}

        <p><a href="{{ path('saas_signup') }}" class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Return to Signup</a></p>.

    </div>
</div>

{% endblock content %}