{% extends '::signup_layout.html.twig' %}

{% block content %}
    <div class="modal" id="setup">
        <form action="{{ path('saas_signup') }}" method="post" style="margin-bottom: 0px;">

        <div class="modal-header">
            <h3>Sign up: Company name and Domain <small>Step 1 of 7</small></h3>
        </div>

            <div class="modal-body">
                <div class="progress progress-striped active progress-success">
                    <div class="bar" style="width: 14%"></div>
                </div>

                <p class="lead">Try Routezilla for free. Setup only takes a minute. <br>
                    No commitment or credit card required</p>

            	<p>Please enter your company name and your desired domain</p>

                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_label(form.domain) }}

        		<div class="input-append">
        			{{ form_widget(form.domain) }}
        			<span class="add-on"><strong>.routezilla.com</strong></span>
        		</div>

                <section>
                    <p><span class="label">NOTE</span> Before creating your account, please read the <a href="{{ path('public_tos') }}"><strong>Terms of Service</strong></a></p>
                </section>

                {% if code %}
                    {{ form_row(form.code) }}
                {% else %}
                    {% set tmp = form_row(form.code) %}
                {% endif %}

        		{{ form_rest(form) }}

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" tabindex="3" id="submit" value="Create Account">Get started <i class="icon-play icon-white"></i></button>
            </div>
        </form>
    </div>

{% endblock content %}

{% block javascript %}
    {{ parent() }}

    <script src="/js/autofill_client_domain.js"></script>

    <script>
        (function() {
            var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
            se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/85769ac2-c0e7-49cd-b12a-a2a0a87c54be.js';
            var done = false;
            se.onload = se.onreadystatechange = function() {
                if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
                    done = true;
                    // Place your SnapEngage JS API code below
                    //SnapEngage.openProactiveChat(true, true); // Example: open the proactive chat on load
                }
            };
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
        })();
    </script>

{% endblock javascript %}