{% extends '::admin.html.twig' %}

{% block title %}Confirm Cancellation{% endblock title %}

{% block content %}
    <header class="header">
        <h1>Confirm Cancellation:</h1>
        <p class="lead">Are you sure you want to cancel the booking for {{ booking.location.address }}?</p>
    </header>

    <section id="cancelConfirmation">
        <form method="post">
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-large btn-danger" id="submit" value="Cancel">
        </form>
    </service>
    
{% endblock content %}