{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="/css/booking.css">
	<link rel="stylesheet" href="/vendors/fullcalendar/fullcalendar.css" />
	
    <style type="text/css">
        .fc-header-center.loading {
            background: url(/images/loading.gif) no-repeat center center;
            opacity: 1;
        }
        #calendar.loading {
            opacity: 0.5;
        }
    </style>
{% endblock stylesheets %}


{% block content %}
    <header class="page-header">
        <h1>Check Availability <small>{{ booking.name }}</small></h1>
    </header>

    <section>
        <div class="row">
            {% block calendar %}
            <div class="span6">
                <div id="calendar"></div>
            </div>
            {% endblock calendar %}
		</div>
    </section>
{% endblock content %}


{% block javascript %}
    {{ parent() }}

    <script src="/vendors/fullcalendar/fullcalendar.js"></script>
    <script>
      $(document).ready(function() {
          $('#calendar').fullCalendar({
              {% block calendarOptions %}
              events: '{{ path('book_admin_query', { id: booking.id }) }}',
              cache: true,
              loading: function(isLoading, view) {
                if (isLoading) {
                    $('#calendar,.fc-header-center').addClass('loading');
                } else {
                    $('#calendar,.fc-header-center').removeClass('loading');
                }
              },
              eventClick: function(event) {
                  document.location='{{ path('book_admin_check_day', { id: booking.id }) }}/' 
                      + event.start.getFullYear() 
                      + '-' + ('0' + (event.start.getMonth()+1)).slice(-2)
                      + '-' + ('0' + (event.start.getDate())).slice(-2)
                  return false;
              }
              {% endblock calendarOptions %}
          });
      }); 
      </script>
{% endblock javascript %}