{% extends 'OrcBookingBundle:Booking:check.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        label, input, button, select, textarea {
            line-height: 22px;
        }
    </style>
{% endblock %}

{% block calendar %}
    {{ parent() }}

    <div class="span6">

	    <form method="post">
	        <fieldset>
	            <p class="lead">{{ day.format('l, j F Y') }}</p>

	             {{ form_rest(form) }}
	        </fieldset>

	        {{ form_widget(form) }}

	        <input class="btn" type="submit" value="Choose Time">
	    </form>
    </div>

{% endblock calendar %}

{% block calendarOptions %}
    year: {{ day|date('Y') }},
    month: {{ day|date('n') - 1 }},
    date: {{ day|date('d') }},
    {{ parent() }}
{% endblock %}