{% extends '::admin.html.twig' %}
{% import 'OrcBookingBundle:Booking:macros.html.twig' as b %}

{% block title %}Create Booking{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">
    <style type="text/css">
		#booking_customer_location_control_group > .controls,
		#booking_customer_billing_control_group > .controls,
		#booking_location_control_group > .controls,
		#booking_fields_control_group > .controls,
		div.collection-item > div > div.controls,
		#booking_customer_billing_location_control_group > .controls {
		  margin: 0;
		}
		
        .btn-danger {
            margin-right: 5px;
        }
        
        #quickEdit.readonly {
            opacity: 0.5;
        }
		
    </style>
{% endblock stylesheets %}


{% block content %}
<form method="post" class="form-horizontal">
    {% block header %}
    <header class="page-header">
        <h1>Create New Booking <small>manually add a Booking</small></h1>
    </header>
    {% endblock header %}

    {% if not booking.id and (booking.crew or booking.dateStart) %}
        <p class="lead">
            {% if booking.crew %}
                assigned to {{ booking.crew.name }} on
            {% else %}
                unassigned for
            {% endif %}
            {{ booking.dateStart|date('D, M jS \\a\\t g:ia') }} 
        </p>
    {% endif %}
        
    {{ form_errors(form) }}

    <div class="row">
    
        <div class="span6 leftColumn">
            {% block leftColumn %}
                {{ form_row(form.service) }}
                <div class="ajaxFields" id="additionalFields" data-target="#booking_service">{{ form_row(form.fields) }}</div>
    
                {{ form_row(form.additionalInformation) }}
                {{ form_row(form.location) }}
                
            {% endblock leftColumn %}
        </div>


        <div class="span6 rightColumn">
            {% block rightColumn %}
                {{ form_row(form.customer.name, { 'label': 'Customer Name' }) }}
                {{ form_row(form.customer.email) }}
                {{ form_row(form.customer.phone) }}
                
                {% block formLocation %}
	                {{ form_row(form.same, { 'label': 'Copy to Contact' }) }}
	                <div class="{{ booking.id ? '' : 'duplicatable' }}" id="location" data-target="#booking_same">
	                    <h3>Contact Location</h3>
	                    {{ form_row(form.customer.location) }}
	                </div>
                {% endblock formLocation %}
                
                {% block formBilling %}
                    {{ form_row(form.customer.same, { 'label': 'Copy to Billing'} ) }}
                    
                    <div class="duplicatable" id="billingInfo" data-target="#booking_customer_same">        
                        <h3>Billing Information</h3>
                        {{ form_row(form.customer.billing) }}
                    </div>
                {% endblock formBilling %}
	
	            <div class="well" style="overflow: hidden;">
	                {{ form_row(form.notes) }}
	                {{ b.booking_actions(booking, app.environment) }}
	            </div>

            {% endblock rightColumn %}
        </div>
        
        {{ form_rest(form) }}
    </div>
</form>
{% endblock content %}


{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var fieldPath = '{{ path('book_admin_fields') }}';
        var bookingId = '{{ booking.id|default('') }}';
    </script>
    <script type="text/javascript" src="/js/booking.js"></script>

    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
        $(function() {
            $( "#booking_dateStart_date" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "M d, yy",
            });
        });
    </script>
{% endblock javascript %}