 <div class="modal hide fade" id="modal">
    <div id="quickEdit">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>
                {% if booking.complete %}
                    Delivered
                    {% if booking.dateCompleted %}
                        {{ booking.dateCompleted|date('Y-m-d') }}
                    {% endif %}
                {% endif %}
                {{ booking.name }} <small><strong>{{ booking.customer.name }}</strong> tel: <strong>{{ booking.customer.phone }}</strong></small>
            </h3>
        </div>
        <div class="modal-body">
        
            <div class="alert alert-warning">READ ONLY: This booking is in the past.</div>

            <p class="lead">
               Booked for {{ booking.crew ? booking.crew.name : "unassigned" }} from
               {{ booking.dateStart|timeShort }} to 
               {{ booking.dateEnd|timeShort }}
            </p>

            <p class="lead">Current Status: <strong>{{ booking.statusText }}</strong></p>

            <p>{{ booking.notes }}</p>

        </div>
        <div class="modal-footer">
            <p class="pull-left" style="padding-top: 6px;" tabindex="10"><i class="icon-eye-open"></i> <a href="{{ path('book_admin_edit',{id:booking.id}) }}">See all Booking details</a></p>
            
            {#
                <button type="submit" class="btn" tabindex="4"><i class="icon-retweet"></i> Rebook</button>
                <button type="submit" class="btn btn-success" tabindex="4"><i class="icon-leaf icon-white"></i> Mark as Billed</button>
            #}
        </div>
    </form>
</div>
