{% extends 'OrcBookingBundle:Booking:create.html.twig' %}

{% block title %}Edit Booking{% endblock title %}

{% block header %}

    {% if booking.readOnly %}
        <div class="alert alert-warning">READ ONLY: This booking has already passed and the actions you are able to do will be limited.</div>
    {% endif %}

    <header class="page-header">
        <h1>Edit {{ booking.request ? 'Request' : 'Booking' }} <small>{{ booking.location.address }}</small></h1>
    </header>

{% endblock header %}


{% block leftColumn %}
    <p class="lead">
        {% if booking.status == -5 %}
            Callback Requested
        {% elseif booking.status == -1 %}
            Booking is drafted
        {% else %}

	       Booked for {{ booking.crew ? booking.crew.name : "unassigned" }} from
	       {{ booking.dateStart|date('g:ia') }} to {{ booking.dateEnd|date('g:ia') }} on {{ booking.dateStart|date('l, F jS Y') }}
        {% endif %}
   </p>

    <h3>Service Information</h3>

    {{ parent() }}

    {% if booking.workerNotes.count %}
        <h3>Crew Notes</h3>

        <ul class="crewNotes">
            {% for note in booking.workerNotes %}
                <li>
                    {{ note.text }} — 
                    <strong>{{ note.worker.user.username }}</strong> 
                    <em>{{ note.datePosted|date_today }}</em>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock leftColumn %}


{% block rightColumn %}
    <h3>Contact Information</h3>

    {{ parent() }}

    <h6>
        Created {{ booking.datePosted|date('d-m-Y H:ia') }} 
        &nbsp;&nbsp;
        Updated {{ booking.dateUpdated|date('d/m/Y H:ia') }}
    </h6>
{% endblock rightColumn %}


{% block formLocation %}
    {% set ignore = form_row(form.same) %}
    <div class="{{ booking.id ? '' : 'duplicatable' }}" id="location" data-target="#booking_same">
        {{ form_row(form.customer.location) }}
    </div>
{% endblock formLocation %}

{% block formBilling %}
    <h3>Billing Information</h3>
    {% set ignore = form_row(form.customer.same) %}
    {{ form_row(form.customer.billing) }}
{% endblock formBilling %}


{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/js/booking-quick.js"></script>
    <script type="text/javascript">
        {% if booking.readOnly %}
            $('.leftColumn').find('input,select,textarea').attr('readonly', 'readonly');
        {% endif %}

        $(function() {
            var qe = new quickEditor($('#quickEdit'));
            qe.init('{{ path('book_admin_check_availability', { id: booking.id }) }}');
        });
    </script>

{% endblock javascript %}
