 <div class="modal hide fade" id="modal">
    <form method="post" action="{{ path('book_admin_edit_quick', { id: booking.id }) }}" id="quickEdit">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>
                {% if booking.complete %}
                    <div>
                        Delivered
                        {% if booking.dateCompleted %}
                            {{ booking.dateCompleted|date('Y-m-d') }}
                        {% endif %}
                    </div>
                {% endif %}
                {{ booking.name }}
                <small><strong>{{ booking.customer.name }}</strong> tel: <strong>{{ booking.customer.phone }}</strong></small></h3>
	    </div>
	    <div class="modal-body">
            {{ form_errors(form) }}
            
            <p class="lead">
	           Booked for {{ booking.crew ? booking.crew.name : "unassigned" }} from
	           {{ booking.dateStart|timeShort }} to 
	           {{ booking.dateEnd|timeShort }}
            </p>
            
            <div class="control-group" id="feedback">
                {{ form_label(form.move) }}
                <div class="controls">
                    {{ form_widget(form.move, { 'attr': {'tabindex': '1'} }) }}
                    <p class="help-inline">Example: {{ booking.dateStart|modify('+1 hour')|date('ga') }}
                </div>
            </div>
            
            {{ form_row(form.crew, { 'attr': {'tabindex': '2'} }) }}
            
            <hr />
            
            <p class="lead">Booked for a duration of {{ booking.timeRequired / 60 }} {{ booking.timeRequired == 60 ? 'hour' : 'hours' }}</p>

            

            <div class="control-group">
                <div class="controls">
                    {{ form_widget(form.extend, { 'attr': {'tabindex': '3'} }) }}
                    <p class="help-inline">Set a new end time (eg. {{ booking.dateEnd|modify('+1 hours')|date('ga') }}) or adjust the duration (eg. +/-2 hours)</p>
                </div>
            </div>

        {{ form_rest(form) }}

	    </div>
	    <div class="modal-footer">
	        <p class="pull-left" style="padding-top: 6px;" tabindex="10"><i class="icon-eye-open"></i> <a href="{{ path('book_admin_edit',{id:booking.id}) }}">See all Booking details</a></p>

            {% if booking.region %}
                <a class="btn" href="{{ path('book_admin_check', { id: booking.id }) }}"><i class="icon-calendar"></i> Reschedule</a>
            {% endif %}
	        <button type="submit" class="btn btn-primary" tabindex="4"><i class="icon-ok-circle icon-white"></i> Save Changes</button>
	    </div>
    </form>
</div>
