{% macro bookings_table(bookings) %}
    <table class="table">
        <tbody>
                {% for booking in bookings %}
                {% if booking.status %}
                <tr>
                    <td>{{ booking.name }}</td>

                    <td>
                        {% if booking.crew %}
                            {{ booking.crew.name }}
                        {% else %}
                            <em>unassigned</em>
                        {% endif %}
                    </td>
                       <td class="align-right">
                           <a class="btn btn-mini" href="{{ path('book_admin_edit', { 'id' : booking.id } ) }}" title="Booking Details"><i class="icon-eye-open"></i></a> 
                       </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table> 
{% endmacro %}


{% macro bookings_list(bookings) %}
    {% for booking in bookings %}
        <tr>
            <td><a href="{{ path('book_admin_edit', { 'id' : booking.id } ) }}" title="Edit Booking">{{ booking.dateStart|date('m/d/Y \\a\\t H:ia') }}</a></td>
            <td>{{ booking.datePosted|date('m/d/Y \\a\\t H:ia') }}</td>
            <td>{{ booking.name }}</td>
            <td>
                {% if booking.crew %}
                    {{ booking.crew.name }}
                {% else %}
                    <em>unassigned</em>
                {% endif %}
            </td>
            <td>{{ booking.statusText }}</td>
        </tr>
    {% endfor %}
{% endmacro %}


{% macro booking_actions(booking, e) %}
    {# PRIMARY SAVE BUTTON #}       
    {% if not booking.id %}
        {% if booking.dateStart %}
            {{ _self.booking_button(e, 'place', 'Create Booking', 'file', 'primary') }}
        {% else %}
            {{ _self.booking_button(e, 'check', 'Check Availability', 'check', 'primary') }}
        {% endif %}
    {% else %}
         {{ _self.booking_button(e, 'update', 'Save Changes', 'file', 'primary') }}
    {% endif %}
    
    
    {# MISC BUTTONS #}
    {% if not booking.readOnly %}
        {% if booking.id and booking.statusText in ['Draft', 'Attempt', 'Requested', 'Cancelled'] and booking.region%}
            {{ _self.booking_button(e, booking.id ? 'reschedule' : 'check', 'Check Availability', 'check') }}
        {% endif %}
        {% if booking.statusText in ['Assigned', 'Unassignable'] and booking.region %}
            {{ _self.booking_button(e, 'reschedule', 'Reschedule', 'check') }}
        {% endif %}
        {% if not booking.id and booking.statusText in ['Assigned', 'Unassignable', 'Attempt', 'Requested'] %}
            {{ _self.booking_button(e, 'draft', 'Save as Draft', 'file') }}
        {% endif %}
    {% endif %}
    
    
    {# CANCEL / DELETE #}
    {% if booking.id and booking.statusText in ['Attempt', 'Requested', 'Draft'] %}
        <a class="btn btn-danger pull-right" href="{{ path('book_admin_delete', { id: booking.id }) }}">
            <i class="icon-minus-sign icon-white"></i>
            {% if booking.request %}
                Delete Request
            {% else %}
                Delete Booking
            {% endif %}
        </a>
    {% endif %}
    {% if booking.statusText in ['Assigned', 'Unassignable'] %}
        <a class="btn btn-danger pull-right" href="{{ path('book_admin_cancel', { id: booking.id }) }}">
            <i class="icon-minus-sign icon-white"></i>
            Cancel Booking
        </a>
    {% endif %}
    
    {% if e == 'test' %}
        <input type="submit" id="_submit">
    {% endif %}

{% endmacro %}


{% macro booking_button(e, value, label, icon, style, right) %}
    {# 
        behat can't submit the button value, so we're replacing with a radio 
        and a standard submit button
    #}

    {% set right = true %}
    {% spaceless %}
	    {% if e == 'test' %}
	        {{ _self.booking_radio_button(value, label) }}
	    {% else %}
	        {% set btnClass = 'btn' %}
	        {% set iconClass = 'icon-' ~ icon %}
	        
	        {% if style %}
	            {% set btnClass = btnClass ~ ' btn-' ~ style %}
	            {% set iconClass = iconClass ~ ' icon-white' %}
	        {% endif %}
	        
	        {% if right %}
	            {% set btnClass = btnClass ~ ' pull-right' %}
	        {% endif %}
	    
	        <button type="submit" class="{{ btnClass }}" name="save" value="{{ value }}">
	            <i class="{{ iconClass }}"></i> 
	            {{ label }}
	        </button>
	    {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro booking_radio_button(value, label) %}
    {% set id = "save_" ~ value %}
    <input type="radio" name="save" value="{{ value }}" id="{{ id }}">
    <label for="{{ id }}">{{ label }}</label>
{% endmacro %}

{% macro booking_summary(booking) %}
    <div class="summary">
        <h1>{{ booking.name }}</h1>
        <div>
            {{ booking.customer.name }}<br>
            {{ '%s %s, %s' | format(booking.customer.location.street, booking.customer.location.line2|trim, booking.customer.location.city) }}<br>
            {% if booking.customer.phone %}{{ booking.customer.phone }}<br>{% endif %}
            <br>
            Crew: {{ booking.crew ? booking.crew.name : 'unassigned' }}<br>
            Service: {{ booking.service.name }}<br>
            Region: {{ booking.region ? booking.region.name : 'outside service area' }}
        </div>
    </div>
{% endmacro %}
