{% extends '::admin.html.twig' %}

{% block title %}Search Bookings{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">

    <style>
        form.form-inline select {
            width: auto;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<header class="page-header">
    <a class="btn btn-large pull-right" href="{{ path('book_admin_create') }}"> <i class="icon-plus"></i> Create New Booking</a>
    <h1>Search Bookings</h1>
</header>   


{# TOP NAV #}
<div class="btn-group pull-right booking-views">
    <a href="{{ path('book_admin_view_day') }}" class="btn"><i class="icon-inbox"></i> Day</a>
    <a href="{{ path('book_admin_view_month') }}" class="btn"><i class="icon-calendar"></i> Month</a>
    <a href="{{ path('book_admin_view_list') }}" class="btn"><i class="icon-tasks"></i> List</a>
    <a href="{{ path('book_admin_search') }}" class="btn disabled"><i class="icon-search"></i> Search</a>
</div>

{# FORM FILTERS #}
<form method="post" class="form-inline">
	<fieldset>
	
	{{ form_errors(form) }}
	

    <div class="control-group">
	    <div class="controls">

            {{ form_widget(form.searchField) }}


            <div class="input-append">
                {{ form_widget(form.query, { attr: { class: 'search-query span4', 'placeholder': 'Search'} }) }}
                <button class="btn" type="submit"><i class="icon-search"></i></button>
            </div>
        </div>
    </div>


    <div class="control-group">                                             
        <div class="controls">
            <label class="control-label">Filters</label>

            {% spaceless %}
            <div class="input-prepend start">
                <span class="add-on"><i class="icon-calendar"></i></span>
                {{ form_widget(form.start, { attr: { class: 'search-query span2', placeholder: 'Start' } }) }}
            </div>
            {% endspaceless %}
            
            {% spaceless %}
            <div class="input-prepend end">
                <span class="add-on"> <i class="icon-calendar"></i></span>
                {{ form_widget(form.end, { attr: { class: 'search-query span2', placeholder: 'End' } }) }}
            </div>
            {% endspaceless %}

            {{ form_widget(form.status, { attr: { class: 'input-small' } }) }}

            {{ form_widget(form.region, { attr: { class: 'input-small' } }) }}

	    </div>
    </div>
	</fieldset>
	
	{{ form_rest(form) }}
</form>


{# BOOKINGS #}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Street</th>
            <th>Region</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in results %}
            <tr>
                <td><a href="{{ path('book_admin_edit', { 'id' : booking.id } ) }}" title="Edit {{ booking.name }}">{{ booking.customer.name }}</a></td>
                <td>{{ booking.customer.email }}</td>
                <td>{{ booking.customer.phone }}</td>
                <td>{{ booking.location.street }}</td>
                <td>{{ booking.region.name }}</td>
                <td>{{ booking.statusText }}</td>
                <td><a href="{{ path('book_admin_view_day', { date: booking.dateStart.format('Y-m-d'), booking: booking.id }) }}">{{ booking.dateStart|date('m/d/Y \\a\\t g:ia') }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table> 

{% endblock content %}

{% block javascript %}
    {{ parent() }}


    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
        $(function() {
            $('.start input').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $(".end input").datepicker( "option", "minDate", selectedDate );
                }
            });
            $('.end input').datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $('.start input').datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>
{% endblock javascript %}
