{% extends '::admin.html.twig' %}
{% import "OrcBookingBundle:Booking:macros.html.twig" as m %}
{% set now = date|date('U') %}

{% block title %}
    {% if date|date('Y-m-d') == 'today'|date('Y-m-d') %}
        Today
    {% else %}
        {{ date|date('l, F d') }}
    {% endif %}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">


    <style type="text/css">
        .gantt {
            min-height: 150px;
            overflow-x: scroll;
            border: solid 1px #dedede;
            padding: 5px;
            border-radius: 5px;
        }

        div.summary {
            display: none;
        }

        table tr th {
            white-space: nowrap;
        }
        #gantt tbody td {
            padding-left: 0;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 0;
            overflow: hidden;
        }

        {% if past %}
            .table {
                opacity: 0.6;
            }
        {% endif %}

        .booking a {
            float: left;
            height: 18px;
            width: 100%;
            background: blue;
            border-radius: 3px;
            text-indent: -9999em;
            overflow: hidden;
        }

        table tr.unassigned th {
            font-style: italic;
        }

        /* CREW COLORS FOR LEGEND */

        .crewLegend {
            margin-top: 10px;
            margin-bottom: 10px;
            list-style: none;
            overflow: hidden; /* clear floats */

        }

        ul.crewLegend li {
            position: relative;
            float: left;
            height: 40px;
            width: 140px;
            font-size: 14px;
            font-weight: bold;
            line-height: 43px;
            color: #fff;
            text-align: center;
            border: 1px solid #ddd;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            margin-left: 10px;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
            opacity: 0.8;
            overflow: hidden;
        }

        ul.crewLegend li:hover {
            position: relative;
            opacity: 1;
            cursor: pointer;
        }

        ul.crewLegend li:first-child {
            color: #999;
            font-weight: normal;
            text-shadow: none;
        }

        .modal form {
            margin-bottom: 0;
        }

    </style>

{% endblock stylesheets %}


{% block content %}

    {% if past %}
        <div class="alert alert-warning">READ ONLY: This day has already passed and the actions you are able to do will be limited.</div>
    {% endif %}

    <header class="page-header">
        <a class="btn btn-large pull-right" href="{{ path('book_admin_create') }}"> <i class="icon-plus"></i> Create New Booking</a>
        {% if blackouts|length %}
            <a class="btn btn-inverse pull-right btn-large" id="blackouts"><i class="icon-minus-sign icon-white"></i> Blackouts</a>
        {% endif %}
        <h1>Bookings <small>{{ date|date('l, F d') }}</small></h1>
    </header>

    {% if blackouts|length %}
        <section id="blackoutsContainer" style="display:none" class="well">
            <table class="table table-striped">
                <thead>
                    <th>Blackout</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Crew</th>
                    <th>Service</th>
                    <th>Region</th>
                </thead>
                {% for blackout in blackouts %}
                    <tr>
                        <td>
                            {% if blackout.configuration %}
                                <a href="{{ path('blackoutconfigurations_admin_edit', { id: blackout.configuration.id }) }}">{{ blackout.name }}</a>
                            {% else %}
                                <a href="{{ path('blackouts_admin_edit', { id: blackout.id }) }}">{{ blackout.name }}</a>
                            {% endif %}
                        </td>
                        <td>{{ blackout.timeStart|date('g:ia') }}</td>
                        <td>{{ blackout.timeEnd|date('g:ia') }}</td>
                        <td>{{ blackout.crew ? blackout.crew.name : 'all' }}</td>
                        <td>{{ blackout.service ? blackout.service.name : 'all' }}</td>
                        <td>{{ blackout.region ? blackout.region.name : 'all' }}</td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    {% endif %}

    <div class="btn-group booking-views pull-right">
        <a href="{{ path('book_admin_view_day') }}" class="btn disabled"><i class="icon-inbox"></i> Day</a>
        <a href="{{ path('book_admin_view_month') }}" class="btn"><i class="icon-calendar"></i> Month</a>
        <a href="{{ path('book_admin_view_list') }}" class="btn"><i class="icon-tasks"></i> List</a>
        <a href="{{ path('book_admin_search') }}" class="btn"><i class="icon-search"></i> Search</a>
    </div>

    <div class="row">
        <form method="get" class="form-inline">
            <div class="controls pull-left span2">
                <div class="btn-group">
                    <a class="btn" href="{{ path('book_admin_view_day', { date: date|modify('-1 day')|date('Y-m-d') }) }}"><i class="icon-arrow-left"></i></a>
                    <a class="btn{{ date|date('m/d/Y') == 'today'|date('m/d/Y') ? ' disabled' : '' }}" href="{{ path('book_admin_view_day') }}">Today</a>
                    <a class="btn" href="{{ path('book_admin_view_day', { date: date|modify('+1 day')|date('Y-m-d') }) }}"><i class="icon-arrow-right"></i></a>
                </div>
            </div>

            <div class="controls  span3">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-calendar"></i></span><input type="text" id="datepicker" class="input-small" value="{{ date|date("Y-n-d") }}"></span>
                </div>

                <button type="submit" class="btn"><i class="icon-search"></i> Show</button>
            </div>
        </form>
    </div>


    <section>
        <div class="gantt">
            <table class="table table-bordered" id="gantt" >
                <thead>
                    <tr>
                        <th></th>
                        {% for time in gantt_times() %}
                            {% if time|date('i') == 0 %}
                                <th colspan="{{ hourSpan }}">{{ time|date(hourSpan > 1 ? 'ga' : 'g:ia') }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% if hourSpan > 1 %}
	                    <tr>
	                        <th></th>
	                        {% for time in gantt_times() %}
	                            <th>{{ time|date('i') }}</th>
	                        {% endfor %}
	                    </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for crew in crews if (crew.deleted and crew.bookings|length) or (not crew.active and crew.bookings|length) or (crew.active and not crew.deleted) %}
                        <tr data-crew="{{ crew.id }}">
                            <th>{{ crew.name|default('Name') }}</strong></th>

                                {% for slot in gantt_slots(crew.bookings, date) %}

                                    {% if slot.booking %}
                                        {% if slot.booking.complete %}
                                            {% if slot.booking.dateCompleted %}
                                                {% set name = 'Delivered ' ~ slot.booking.dateCompleted|date('Y-m-d') %}
                                            {% else %}
                                                {% set name = 'Delivered ' %}
                                            {% endif %}
                                        {% else %}
                                            {% set name = slot.booking.name %}
                                        {% endif %}
                                        <td
                                            class="booking"
                                            id="b{{ slot.booking.id }}"
                                            colspan="{{ slot.slots }}"
                                            data-id="{{ slot.booking.id }}"
                                            data-time="{% for i in range(1, slot.slots) %}{{ ((now - slot.time|date('U'))|abs / 3600 * 2) + (i-1) }}{% if not loop.last %},{% endif %}{% endfor %}"
                                            data-datetime="{{ slot.time|date('Y-m-d g:ia') }}">
                                            <a {{ slot.booking.complete ? 'class="complete" ' : '' }}href="{{ path('book_admin_edit', { id: slot.booking.id }) }}" title="{{ name }}" style="background-color: {{ crew.color }}"></a>
                                                {{ m.booking_summary(slot.booking) }}
                                        </td>
                                    {% else %}
                                        <td
                                            class="empty"
                                            data-time="{% for i in range(1, slot.slots) %}{{ (now - slot.time|date('U'))|abs / 3600 * 2 }}{% if not loop.last %},{% endif %}{% endfor %}"
                                            data-datetime="{{ slot.time|date('Y-m-d g:ia') }}"></td>
                                    {% endif %}
                                {% endfor %}

                        </tr>
                    {% endfor %}
                    {% for booking in unassigned %}
                        <tr class="unassigned" data-crew="unassigned">
                            <th>Unassigned</th>
                            {% for slot in gantt_slots([booking], date) %}
                                {% if slot.booking %}
                                    <td
                                        class="booking"
                                        id="b{{ slot.booking.id }}"
                                        data-time="{% for i in range(1, slot.slots) %}{{ (now - slot.time|date('U'))|abs / 3600 * 2 }}{% if not loop.last %},{% endif %}{% endfor %}"
                                        colspan="{{ slot.slots }}" data-id="{{ slot.booking.id }}">
                                            <a href="{{ path('book_admin_edit', { id: slot.booking.id }) }}" title="{{ slot.booking.name }}" style="background: #000"></a>
                                            {{ m.booking_summary(slot.booking) }}
                                    </td>
                                {% else %}
                                    <td
                                        class="empty"
                                        data-time="{% for i in range(1, slot.slots) %}{{ (now - slot.time|date('U'))|abs / 3600 * 2 }}{% if not loop.last %},{% endif %}{% endfor %}"
                                        data-datetime="{{ slot.time|date('Y-m-d g:ia') }}"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <ul class="crewLegend">
                <li>Crew Legend</li>
                {% for crew in crews if (crew.deleted and crew.bookings|length) or (not crew.active and crew.bookings|length) or (crew.active and not crew.deleted) %}
                    <li class="crew" title="Click to edit radius" style="background: {{ crew.color }}" data-crew="{{ crew.id }}">{{ crew.name }}</li>
                {% endfor %}
            </ul>
        </div>


        {% if totalBookings %}
            <div id="canvas"></div>
        {% endif %}

    </section>
{% endblock content %}

{% block javascript %}
    {{ parent() }}

    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script type="text/javascript" src="/js/booking-quick.js"></script>

    {% if totalBookings %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{ apiKey }}&sensor=false"></script>
    <script src="/js/dayview.js"></script>
    {% endif %}


    <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).datepicker({
                dateFormat: "yy-m-d",
                onSelect: function(date) {
                    $(this).parents('form').submit();
                }
            });

            $('#blackouts').toggle(
                function() { $('#blackoutsContainer').show(); },
                function() { $('#blackoutsContainer').hide(); }
            );

            {% if blackouts|length %}
                var blackouts = [];
                {% set now = 'today'|date('U') %}
                {% for blackout in blackouts %}
                    blackouts.push({
                        start: {{ (blackout.timeStart|date('U') - now) / 3600 * 2 }},
                        end: {{ (blackout.timeEnd|date('U') - now) / 3600 * 2 }},
                        crew: '{{ blackout.crew ? blackout.crew.name : "" }}'
                    });
                {% endfor %}

                for (var i in blackouts) {
                    var blackout = blackouts[i];
                    $('#gantt tbody tr').each(function() {
                        var name = $(this).find('th').text();
                        $(this).find('td').each(function(i) {
                            var $td = $(this);
                            var times = $(this).data('time').toString().split(',').map(Number);
                            times.forEach(function(time) {
                                if (blackout.start <= time && blackout.end >= time && (blackout.crew == name || !blackout.crew)) {
                                    $td.css('background', 'rgba(0, 0, 0, 0.3)');
                                }
                            });
                        });
                    });

                }

            {% endif %}

            {% if not site.client.hoursofOperation[date|date('w')].off %}
                var start = '{{ site.client.hoursOfOperation[date|date('w')].startTime|date('ga') }}';
                var scrollTo = $('#gantt thead th:contains("' + start + '")');
                $('div.gantt').animate({ scrollLeft: scrollTo.position().left }, 500);
            {% endif %}

            $('#datepicker').parents('form').submit(function() {
                var date = $('#datepicker').val();
                document.location = '{{ path('book_admin_view_day') }}/' + date;
                return false;
            });

            {% if totalBookings %}
            var assignedBookings = {{ crews ? crews|crews_json : "[]" }};
            var unassignedBookings = {{ unassigned ? unassigned|unassigned_json : "[]" }};

            mapView = new dayView('{{ date|date('Y-m-d') }}', {
                booking_edit: '{{ path('book_admin_edit_quick') }}',
                update_radius: '{{ path('crew_admin_radius_resize') }}',
                move_radius: '{{ path('crew_admin_radius_move') }}'
            });

            mapView.init($('#canvas')[0], assignedBookings, unassignedBookings, {{ regions|regions_json }}, '{{ past }}', '{{ site.client.units }}');

            $(document).keyup(function(e) {
                if ((e.keyCode == 13 || e.keyCode == 27) && mapView.getMode() != mapView.View) {
                    mapView.setMode(mapView.modes.View);
                }
            });

            $('body').click(function() {
                if (mapView.getMode() != mapView.modes.View) {
                    mapView.setMode(mapView.modes.View);
                }
            });

            $('#canvas').click(function(event) {
                event.stopPropagation();
            });


            {% endif %}

            {% if not past %}
		        $('td.empty').click(function() {
		            var crew= $(this).parents('tr').data('crew');
		            var time = $(this).data('datetime');
		            document.location = '{{ path('book_admin_create') }}?crew=' + crew + '&date=' + time;
		            return false;
		        });
	        {% endif %}

	        $('td.booking').each(function() {
	            var id = $(this).data('id');
	            var $a = $(this).find('a');

	            $a.click(function() {
		            $('#modal').remove();
		            $.get('{{ path('book_admin_edit_quick') }}/' + id, function(response) {
		                var $modal = $(response);
		                $('body').append($modal);

		                var qe = new quickEditor($('#quickEdit'));
		                qe.init('{{ path('book_admin_check_availability') }}/' + id);

	                    $('#modal').modal();

	                });
	                return false;

	            });

                var $summary = $a.next();
                $a.popover({
                    html: true,
                    title: $summary.find('h1').text(),
                    content: $summary.find('div').html(),
                    placement: "bottom"
                });
	        });

	        $('.crewLegend li.crew').click(function() {
	            var crewId = $(this).data('crew');
	            var crew = assignedBookings[crewId];

	            if (typeof crew.radius != 'undefined') {
	               mapView.setMode(mapView.modes.EditRadius, crewId);
	               return false;
	            }
	        });

	        {% if app.request.query.get('booking') %}
	        $('#b{{ app.request.query.get('booking', 0) }} a').click();
	        {% endif %}

    });

    </script>

{% endblock javascript %}
