{% extends '::admin.html.twig' %}

{% block title %}This Month{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/booking.css">
    <link rel="stylesheet" href="/vendors/fullcalendar/fullcalendar.css" />

    <style type="text/css">
        .fc-header-center.loading {
            background: url(/images/loading.gif) no-repeat center center;
            opacity: 1;
        }
        #calendar {
            margin-bottom: 1em;
        }
        #calendar.loading {
            opacity: 0.5;
        }
    </style>
{% endblock stylesheets %}


{% block content %}

<header class="page-header">
    <a class="btn btn-large pull-right" href="{{ path('book_admin_create') }}"> <i class="icon-plus"></i> Create New Booking</a>
    <h1>Bookings</h1>
</header>   


<div class="btn-group pull-right booking-views">
    <a href="{{ path('book_admin_view_day') }}" class="btn"><i class="icon-inbox"></i> Day</a>
    <a href="{{ path('book_admin_view_month') }}" class="btn disabled"><i class="icon-calendar"></i> Month</a>
    <a href="{{ path('book_admin_view_list') }}" class="btn"><i class="icon-tasks"></i> List</a>
    <a href="{{ path('book_admin_search') }}" class="btn"><i class="icon-search"></i> Search</a>
</div>



<div class="row">
    <div id='calendar' class="span6"></div>
</div>

{% endblock content %}

{% block javascript %}
    {{ parent() }}

    <script src="/vendors/fullcalendar/fullcalendar.js"></script>
    <script>
      $(document).ready(function() {
        $('#calendar').fullCalendar({
            events: '{{ path('book_admin_query_month') }}',
            cache: true,
            loading: function(isLoading, view) {
                if (isLoading) {
                    $('#calendar,.fc-header-center').addClass('loading');
                } else {
                    $('#calendar,.fc-header-center').removeClass('loading');
                }
            },
            dayClick: function(date) {
                document.location = '{{ path('book_admin_view_day') }}/'
                    + date.getFullYear() 
                    + '-' + ('0' + (date.getMonth()+1)).slice(-2)
                    + '-' + ('0' + (date.getDate())).slice(-2);
                    
                return false;
            },
            eventClick: function(event) {
                document.location='{{ path('book_admin_view_day') }}/' 
                    + event.start.getFullYear() 
                    + '-' + ('0' + (event.start.getMonth()+1)).slice(-2)
                    + '-' + ('0' + (event.start.getDate())).slice(-2);
                    
                return false;
            },
            header: {
                left:   'title',
                center: '',
                right:  'today prev,next'
            }
        });
    });
      </script>
{% endblock javascript %}
