{% extends '::admin.html.twig' %}

{% block title %}All Bookings{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">

    <style>
        form.form-inline select {
            width: auto;
        }
    </style>

{% endblock stylesheets %}

{% block content %}
<header class="page-header">
    <a class="btn btn-large pull-right" href="{{ path('book_admin_create') }}"> <i class="icon-plus"></i> Create New Booking</a>
    <h1>Bookings</h1>
</header>   



{# TOP NAV #}
<div class="btn-group pull-right booking-views">
    <a href="{{ path('book_admin_view_day') }}" class="btn"><i class="icon-inbox"></i> Day</a>
    <a href="{{ path('book_admin_view_month') }}" class="btn"><i class="icon-calendar"></i> Month</a>
    <a href="{{ path('book_admin_view_list') }}" class="btn disabled"><i class="icon-tasks"></i> List</a>
    <a href="{{ path('book_admin_search') }}" class="btn"><i class="icon-search"></i> Search</a>
</div>


{# FORM FILTERS #}
<form method="get" class="form-inline">
	<fieldset>
	    <div class="controls">
	        <div class="input-prepend start">
	            <span class="add-on"><i class="icon-calendar"></i></span>{{ form_widget(form.start, { 'attr': { 'placeholder': 'FROM', 'class': 'input-small' } }) }}
	        </div>
	        
	        <div class="input-prepend end">
	            <span class="add-on"> <i class="icon-calendar"></i></span>{{ form_widget(form.end, { 'attr': { 'placeholder': 'TO', 'class': 'input-small' } }) }}
	        </div>
	
           {{ form_widget(form.status, { 'attr': {'class': 'input-small' } }) }}
           {{ form_widget(form.sort, { 'attr': {'class': 'input-small' } }) }}
	
	        <button type="submit" class="btn"><i class="icon-search"></i> Show</button>
	
	    </div> 
	    
	    {{ form_rest(form) }}
	</fieldset>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Booking Date/Time</th>
            <th>Date posted</th>
            <th>ID</th>
            <th>Crew</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
            {% for booking in bookings %}
            {% if booking.status %}
            <tr>
                <td><a href="{{ path('book_admin_edit', { 'id' : booking.id } ) }}" title="Edit {{ booking.name }}">
                    {% if booking.request %}
                        View Request
                    {% else %}
                        {{ booking.dateStart|date('m/d/Y \\a\\t H:ia') }}
                    {% endif %}
                </a></td>
                <td>{{ booking.datePosted|date('m/d/Y \\a\\t H:ia') }}</td>
                <td>{{ booking.name }}</td>
                <td>
                    {% if booking.crew %}
                        {{ booking.crew.name }}
                    {% else %}
                        <em>unassigned</em>
                    {% endif %}
                </td>
                <td>{{ booking.statusText }}</td>

            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table> 

{% endblock content %}

{% block javascript %}
    {{ parent() }}


    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
        $(function() {
            $("#bookingfilter_start").datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "M d, yy",
                onSelect: function( selectedDate ) {
                    $("#bookingfilter_end").datepicker( "option", "minDate", selectedDate );
                }
            });
            
            $("#bookingfilter_end").datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "M d, yy",
                onSelect: function( selectedDate ) {
                    $("#bookingfilter_start").datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>
{% endblock javascript %}
