{% extends '::admin_settings.html.twig' %}

{% block title %}Set your Hours{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/schedule.css">

{% endblock stylesheets %}


{% block content %}

    <form method="post" {{ form_enctype(form) }}>

    <header class="page-header">
        <button class="btn btn-large pull-right" id="submit"><i class="icon-time"></i> Update Hours</button>
        <h2>Hours <small>your default hours of operation</small></h2>
    </header>

        <div class="row">
            <div class="span8">

                <label for="{{ form.timezone.vars.id }}" class="inline"><strong>Timezone</strong></label>
                {{ form_widget(form.timezone, { attr: { style: 'width: 500px' } }) }}
                {{ form_errors(form.timezone) }}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Day Off</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,day in client.hoursOfOperation %}
                            <tr{{ client.hoursOfOperation[key].off ? ' class="day-off"' : '' }}>
                                <th>
                                    {{ captions[day.day] }}
                                </th>
                                <td class="hours">{{ form_widget(form.hoursOfOperation[key].startTime) }}</td>
                                <td class="hours">{{ form_widget(form.hoursOfOperation[key].endTime) }}</td>
                                <td>

                                    <div class="control-group">
                                        <div class="controls">
                                          <label class="checkbox day-off">
                                            {{ form_widget(form.hoursOfOperation[key].off) }}
                                            <span class="badge badge-warning day-off">OFF</span>
                                        </label>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="span4">
                <h3>Guidance</h3>
                <div id="help" class="alert alert-info">
                    <p>Default hours determine the times you can accept bookings. By checking <strong>Day Off</strong> you can ensure that no booking will be accepted on that day.</p>

                    <p>Sometimes you may want to change your <strong>Availability</strong> for a specific day. You can do so using a <a href="{{ path('blackouts_admin') }}">Blackout</a>.</p>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}

    </form>

{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script src="/js/schedule.js"></script>
{% endblock javascript %}
