{% extends '::availability_settings.html.twig' %}
{% import "OrcBookingBundle:Blackouts:macros.html.twig" as black %}

{% block title %}Hours of operations change{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/schedule.css">
    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">

	<style type="text/css">
		tr.day.modified {
		    color: #000;
		    font-weight: bold;
		    background-color: #FFF49C;
		}
        #upcomingChanges span.day-off {
            visibility: visible;
        }
	</style>
{% endblock stylesheets %}

{% block content %}

    <header class="page-header">
        <h1>Hours of operations change <small>extend or limit your hours</small></h1>
    </header>


<div class="row">
    <div class="span10">

            <div class="btn-group pull-right">
                <a class="btn" href="{{ path('schedule_admin') }}?{{ previous|raw }}"><i class="icon-arrow-left"></i></a>
                <a class="btn{{ app.request.get('schedulefilter') ? '' : ' disabled' }}" href="{{ path('schedule_admin') }}">This Week</a>
                <a class="btn" href="{{ path('schedule_admin') }}?{{ next|raw }}"><i class="icon-arrow-right"></i></a>
            </div>

            <form method="get" class="form-inline">

                <div class="control-group">
                <div class="controls">
                    <span class="help-inline">Showing FROM:</span>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-calendar"></i></span>{{ form_widget(filterForm.start, {'attr': {'class': 'input-small'}}) }}
                    </div>

                    <span class="help-inline"> TO:</span>
                    <div class="input-prepend">
                        <span class="add-on"> <i class="icon-calendar"></i></span>{{ form_widget(filterForm.end, {'attr': {'class': 'input-small'}}) }}
                    </div>

                    <button type="submit" class="btn"><i class="icon-search"></i> Show</button>
                </div>
            </div>



            </form>

    	    <form method="post">

                {{ form_errors(form) }}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Day Off</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,day in client.hoursChanges %}
                            {% if not day.day|date('w') %}
                                <tr class="week">
                                    <th colspan="5">
                                        Week of {{ day.day.format('l F jS') }}
                                    </th>
                                </tr>
                            {% endif %}
                            <tr class="day {{ client.hoursChanges[key].off ? 'day-off ' : '' }}{{ not day.default ? ' modified' : '' }}" data-weekday="{{ day.day.format('w') }}">
                                <th>
                                    {{ day.day|date('M j') }}

                                </th>
                                <th class="centered">
                                    {{ day.day|date('l') }} <span class="badge badge-info modified">ADJUSTED</span>
                                </th>
                                <td class="hours start">{{ form_widget(form.hoursChanges[key].startTime) }}</td>
                                <td class="hours end">{{ form_widget(form.hoursChanges[key].endTime) }}</td>
                                <td>

                                    <div class="control-group">
                                        <div class="controls day-off">

                                            {{ form_widget(form.hoursChanges[key].off) }}
                                        <span class="badge badge-warning day-off">OFF</span>

                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>


    		    {{ form_rest(form) }}

    		    <button type="submit" class="btn btn-large"><i class="icon-ok-circle"></i> Save Changes</button>
    	    </form>

    </div>

    <div class="span2">
        <section id="upcomingChanges">
            <h2>Upcoming Changes</h2>
            <ul>
                {% for change in changes %}
                    <li>
                        <strong title="{{ change.day|date('l F jS, Y') }}">{{ change.day|date('Y-m-d') }}</strong>
                        {% if change.off %}
                            <span class="badge badge-warning day-off">OFF</span>
                        {% else %}
                            <div>
                                {{ change.startTime|date('g:ia') }} to
                                {{ change.endTime|date('g:ia') }}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var scheduleDefaults = {{ defaults|raw }};
    </script>
    <script src="/js/schedule.js"></script>

    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
        $(function() {
            $( "#schedulefilter_start" ).datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "M d, yy",
                onSelect: function( selectedDate ) {
                    $( "#schedulefilter_end" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#schedulefilter_end" ).datepicker({
                changeMonth: false,
                numberOfMonths: 2,
                dateFormat: "M d, yy",
                onSelect: function( selectedDate ) {
                    $( "#schedulefilter_start" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>
{% endblock javascript %}
