{{ booking.service.name|upper|raw }} AT:

http://maps.google.com/?q={{ booking.location.address|escape('url') }}

{{ booking.location.street|raw }}, {{ booking.location.city|raw }}
{{ booking.location.province }} {{ booking.location.code|raw }}

{% if booking.additionalInformation %}
Additional Information:
{{ booking.additionalInformation|raw }}
{% endif %}

{%- for field in booking.fields -%}

{{ field.field.question|upper|raw }}:
{{ field.answer|raw }}

{% endfor %}

{{ booking.customer.name|raw }}
{{ booking.customer.phone|raw }}

{% if booking.notes %}
Admin notes:
{{ booking.notes|raw }}
{% endif %}

REPORT:
http://{{ site.domain }}{{ path('field_reports_create', { workerToken: worker.token, booking: booking.id }) }}