BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//hacksw/handcal//NONSGML v1.0//EN
{% for booking in bookings %}
BEGIN:VEVENT
UID:{{ booking.id }}@{{ site.domain }}
DTSTAMP:{{ booking.datePosted|ical_date }}
DTSTART:{{  booking.dateStart|ical_date }}
DTEND:{{  booking.dateEnd|ical_date }}
SUMMARY:{{ booking.name|ical_text|raw }}
DESCRIPTION:{% set content %}{% include "OrcCalendarBundle:Feed:feed-description.ical.twig" %}{% endset %}{{ content|ical_text|raw }}
END:VEVENT
{% endfor %}
END:VCALENDAR