{% extends '::admin_settings.html.twig' %}

{% block title %}Sales{% endblock title %}

{% block content %}
    <header class="page-header">
        <h2>Sales Interface<small>Add Credit Card</small></h2>
    </header>

    <div class="row"></div>
{% endblock content %}
