{% extends '::admin.html.twig' %}

{% block title %}What do you want to do?{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .btn {
            margin-left: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <header class="header">
        <h1>What do you want to do?</h1>
        <p class="lead">
            {% if junction.reason == 'region' %}
                The requested location is not covered by our service area.
            {% endif %}
            {% if junction.reason == 'discouraged' %}
                Your booking placement is discouraged, as it would not normally fit into the schedule.
            {% endif %}
            {% if junction.reason == 'unavailable' %}
                This crew is already booked at this time.
            {% endif %}
        </p>
    </header>
    
    <section>
	    <div class="well">
		    {% if 'cancel' in junction.options %}
		        <a class="btn btn-danger" href="{{ path('book_admin_cancel', { id: booking.id }) }}" data-content="Cancel this booking and remove it from the system."><i class="icon-minus-sign icon icon-white"></i> Cancel Booking</a>
		    {% endif %}
		 
		    {% if 'draft' in junction.options %}
		        <a class="btn" href="{{ path('book_admin_junction_draft', { id: booking.id }) }}" data-content="Save this Booking as a draft and come back to it later."><i class="icon-file"></i> Save as Draft</a>
		    {% endif %}
		
		    {% if 'reschedule' in junction.options %}
		        <a class="btn" href="{{ path('book_admin_check', { id: booking.id }) }}" data-content="Pick another day/time based on which crews are available"><i class="icon-calendar"></i> Check Availability</a>
		    {% endif %}
		
		    {% if 'check-unassigned' in junction.options %}
		        <a class="btn" href="{{ path('book_admin_check', { id: booking.id }) }}?unassignable=1" data-content="Pick another day/time for this booking without assigning it to a crew."><i class="icon-user"></i> Schedule as Unassigned</a>
		    {% endif %}
		    
		    {% if 'unassign' in junction.options %}
		        <a class="btn" href="{{ path('book_admin_junction_unassign', { id: booking.id }) }}" data-content="Save this booking without assigning it to a crew."><i class="icon-user"></i> Unassign</a>
		    {% endif %}
		    
		    {% if junction.reason == 'discouraged' %}
		        <a class="btn btn-primary" href="{{ path('book_admin_view_day', { date: booking.dateStart.format('Y-m-d') }) }}" data-content="This booking is already saved. Continue to view it."><i class="icon-white icon-ok-circle"></i> Continue Anyway</a>
		    {% endif %}
	    </div>
    </section>
    
       
    {% if booking.status == -1 %}
        <p>Your booking has been marked as a Draft until this is resolved.</p>
    {% endif %}
    
    
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function() {
            $('a.btn').each(function() {
                $(this).attr('title', $(this).text());
            });
           $('a.btn').popover({ placement: "bottom" });
        });
    </script>
{% endblock javascript %}