 #card h3 {
     font-weight: normal;
 }
 
 ul.invoices {
     list-style-type: none;
 }
 ul.invoices li {
     margin-bottom: 10px;
 }
 
 #card {
     padding: 10px;
     margin: 0;
 }
 #card div {
     margin-left: 50px;
 }
 #card h3 {
     margin-left: 50px;
 }
 #card small {
     text-align: center;
     display: block;
 }
 #card img {
     float: right;
     padding: 5px;
 }
 
 
 
 
 
 #line-items tfoot th {
    text-align: right;
    text-transform: uppercase;
}
#line-items tfoot th:after {
    content: ": ";
}
#line-items tfoot td {
    font-weight: bold;
}