/****** FOR BOOKING PAGES ******/


.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  list-style: none;
  background-color: #fff;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  filter: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

.breadcrumb li:after {
    content: "\2192";
    padding: 5px;
}

.breadcrumb li.first {
    font-weight: bold;
   	text-transform: uppercase;
}

.breadcrumb li.first span:after {
	content: ": ";
  display: inline-block;
}


.breadcrumb li.last:after,
.breadcrumb li.first:after {
	content: "";
  display: inline-block;
}


form {
  padding: 5px;
  overflow:hidden;
}

.booking {
  padding: 20px;
  background-color: #f5f5f5;
  border: 4px solid #fff;
  border: 4px solid rgba(255, 255, 255, 1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 11px 20px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 11px 20px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 11px 20px rgba(50, 50, 50, 0.75);
}


/****** FOR CALENDAR ******/

span.fc-header-title h2 {
  font-size: 1.5em;
  font-weight: normal;
}

.fc-event-skin:hover {
  border-color: #72a6ff;
  background-color: #72a6ff;
  cursor: pointer;
}

.day-off .fc-event-inner {
  border-color: #ccc;
  background-color: #ccc;
  cursor: default;
}

.day-off.fc-event-skin {
  border-color: #ccc;
}

#customer_same_control_group label,
#customer_same_control_group div {
       display: inline;
}
#customer_same {
	margin-left: 0;
}

#billingInfo {
    display: none;
    margin-top: 20px;
}

#customer_same_control_group div {
    float: left;
}


h3 label {
	font-size: 18px;
	font-weight: bold;
}
