/***** BASIC ALIGNMENT *****/

.centered {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}


/***** BASIC ALIGNMENT for TABLE CELLS *****/

td.centered,
th.centered,
tr.centered {
    text-align: center;
}

td.align-right,
th.align-right {
    text-align: right;
}

td.align-left,
th.align-left {
    text-align: left;
}


/***** GENERAL STUFF *****/

.brand {
    width: 200px;
    height: 20px;
    background: url(/images/routezilla_logo_25.png) no-repeat 20px 7px;
    text-indent: -9999px;
    opacity: 0.9;
}

a.public_brand {
    opacity: .9;
}

.public_brand img {
    margin-bottom: 20px;
}

.brand:hover,
.public_brand:hover {
     opacity: 1;
}

header p.lead {
    color: #0055A5;
}

section {
    padding-top: 20px;
}

.btn-primary {
    margin-left: 5px;
}

div.error {
    width: 450px;
    margin: auto;
        }

/***** SETTINGS RELATED *****/


/***** for client logo positioning *****/

.your_logo {
    margin-left: 160px;
    margin-bottom: 20px;
}


/***** For brand colour selection *****/

input.color {
    font-size: 16px;
    text-align:center;
}


/***** For customer questions *****/

.collection-item {
    margin-bottom: 12px !important;
}

.collection-item:last-of-type  {
    border-bottom: none !important;
}

/***** For service area selection *****/

#canvas {
    height: 400px;
    width: 100%;
    border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    border: 1px solid #E6E6E6;
}

ul.crewNotes {
    margin-left: 0;
    margin-right: 10px;
}

ul.crewNotes li {
    list-style: none;
    background: #efefef;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 5px;
    border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
}

/* max-width: 100% breaks zoom control */
#canvas img { max-width: none; }

table.table tr.active  {
    background-color: #FFFACF;
}
#indicator{
    width: 16px;
    height: 16px;
    background: url(/images/loading.gif);
    display: none;
}
#indicator.loading {
    display: block;
    margin: 5px 3px;
}
#indicator span {
    margin-left: 20px;
}

body input::-webkit-input-placeholder {
   color: #ccc;
}

body input:-moz-placeholder {
   color: #ccc;
}

@media (max-width: 979px) {
    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
      color: #333;
    }
}

@media (max-width: 800px) {
    div.booking-views.pull-right {
        float: none;
        margin-bottom: 20px;
    }
}

.booking a.complete {
    background-image: url('/images/strike.png');
    background-repeat: repeat;
}
