span.day-off {
    visibility: hidden;
}

span.modified {
    visibility: hidden;
}

tr.modified span.modified {
    visibility: visible;
    float: right;
}

tr.day-off span.day-off {
    visibility: visible;
}
tr.day-off td.hours div {
    opacity: 0.2;
}
table.table-striped tbody tr.week th {
    color: #78A7D6;
    background-color: #fbfdff;
    border-bottom: 1px solid #78A7D6;
    border-top: 1px solid #78A7D6;
    font-weight: normal;
    text-align: center;
}

tr.day {
    color: #ccc;
    font-weight: normal;
}
    tr.day span.day-off {
       opacity: 0.5;
    }

table.table-striped tbody tr.modified td,
table.table-striped tbody tr.modified th {
    color: #000;
    background-color: #fbffdb;
    border-top: 1px solid  #E6D559;
    font-weight: normal;
}

    tr.day.modified span.day-off {
        opacity: 1;
    }

.checkbox {
    display: inline;
}