/****** FOR SIGN UP PAGES ******/

.signup {
    width: 300px;
    padding: 20px;
    margin: auto;
    background-color: #f5f5f5;
    border: 4px solid #fff;
    border: 4px solid rgba(255, 255, 255, 1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 11px 20px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 11px 20px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 11px 20px rgba(50, 50, 50, 0.75);
}

.client_domain {
    word-break: break-all;
    word-wrap: break-word;
}

.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"]
 {
    width: 260px;
}

input#client_name {
    width: 260px;
    font-size:1.5em;
    padding: 0.43em 0.4em;
    line-height:1.25em;
    height: 1.25em;
}

input#client_domain {
    width: 163px;
    text-align:right;
}

label.required:after {
    content:" * ";
}

#client_code_control_group {
	margin-top: 20px;
}

#client_code {
    width: 260px;
    font-size:1.5em;
    padding: 0.43em 0.4em;
    line-height:1.25em;
    height: 1.25em;
}

.symfony-form-errors {
    width: 300px;
}

.help-inline {
    display: block;
    padding-left: 0;
    padding-bottom: 25px;
}