{% extends '::signup_layout.html.twig' %}
{% import "OrcBillingBundle:Billing:macros.html.twig" as m %}

{% block title %}
    Sales: Find Customer for Payment
{% endblock title %}

{% block content %}
    <div class="modal" id="setup">
        <form method="post" id="cardForm" action="" class="form-horizontal card" style="margin:0">
            <div class="modal-header">
                <h3>Add Credit Card <small>for {{ client.name }}</small></h3>
            </div>

            <div id="cardErrors" class="alert alert-error" style="display:none"></div>
            <br>
            <ul>
                {% for plan in form.plan %}
                {% set parts = plan.vars.label|split(',', 4) %}
                {% set plan_cost     = parts[0] %}
                {% set plan_crews    = parts[1] %}
                {% set plan_name     = parts[2] %}
                {% set plan_interval = parts[3] %}

                <li style="list-style-type: none">
                <label for="{{ plan.vars.id }}">
                    {{ form_widget(plan, { attr: { style: "display: inline", "data-name": plan_name } }) }}
                    {{ plan_name }}
                    <small>
                        {% if plan_crews %}
                        (max {{ plan_crews }} crews)
                        {% else %}
                        (unlimited crews)
                        {% endif %}
                    </small>
                    <strong>&#36;{{ plan_cost }}/{{ plan_interval }}</strong>
                </label>
                </li>
                {% endfor %}
            </ul>

            <input type="hidden" name="card[_token]" value="{{ form._token.vars.value }}">
            {{ form_rest(form) }}

            <div class="modal-footer">
                <button class="btn btn-primary" id="submitPayment" type="submit">Enter Credit Card <i class="icon-play icon-white"></i></button>
            </div>
        </form>
	</div>
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    {% include "OrcBillingBundle:Billing:partials/stripe-js.html.twig" with { key: api_public_key } %}
{% endblock javascript %}
