{% extends '::signup_layout.html.twig' %}

{% block title %}
    Sales: Find Customer for Payment
{% endblock title %}

{% block content %}
    <div class="modal" id="setup">
        <form action="" method="post" style="margin-bottom: 0px;">

            <div class="modal-header">
                <h3>Add Credit Card <small>Find Customer</small></h3>
            </div>

            <div class="modal-body">
                {{ form_errors(form) }}
                {{ form_rest(form) }}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" tabindex="3" id="submit" value="Create Account">Get started <i class="icon-play icon-white"></i></button>
            </div>
        </form>
	</div>
{% endblock content %}
