{% extends '::signup_layout.html.twig' %}

{% block title %}
    Sales: Find Customer for Payment
{% endblock title %}

{% block content %}
    <div class="modal" id="setup">
        <div class="modal-header">
            <h3>Add Credit Card <small>Reviewing {{ client.name }}</small></h3>
        </div>
            {% set trialing = customer.subscription and customer.subscription.status == 'trialing' %}

                <div id="accountStatus">
                    {# Discontinued #}
                    {% if customer.subscription and  client.plan and client.plan.deleted %}
                    <div class="alert alert-warning">
                        <h2>Plan Discontinued</h2>
                        <p>We have decided to discontinue your plan. We recommend you switch to a new plan that best fits your needs. Please contact us at 1-800-730-6773 if you have any questions.</p>
                    </div>
                    {% endif %}

                    {% if trialing %}
                        {# Has a Card #}
                        {% if existing %}
                            <div class="alert alert-info">
                                <h2>Subscribed; In Trial</h2>
                                <p>Customer is within their trial period.</p>
                            </div>
                        {% else %}
                            <div class="alert">
                                <h2>Trial Mode</h2>
                                <p>
                                    Their trial version of Routezilla expires <strong>{{ customer.subscription.trial_end|date('Y-m-d') }}</strong>.
                                </p>
                            </div>
                        {% endif %}

                    {# Cancelled #}
                    {% elseif not customer.subscription %}
                        <div class="alert alert-error">
                            <h2>Not Subscribed</h2>
                            <p>Customer has no active subscription</p>
                        </div>

                    {# Subscribed #}
                    {% else %}
                        {# Overage #}
                        {% if client.plan and client.plan.maxCrews and client.crews > client.plan.maxCrews %}
                            <div class="alert alert-error">
                                <h2>Crew overage</h2>
                                <p>Customer is over their plan's crew quota.</p>
                            </div>
                        {% endif %}


                        {# Account Status #}
                        {% if customer.account_balance < 0 %}
                            <div class="alert alert-info">
                                <h2>Credit: ${{ '%1.2f'|format(customer.account_balance / -100) }}</h2>
                                <p>Customer has a credit.</p>
                            </div>
                        {% elseif customer.account_balance > 0 %}
                            <div class="alert alert-error">
                                <form action="{{ path('billing_square') }}" method="post" id="payBalance" style="display: inline" data-balance="{{ customer.account_balance }}">
                                    <input type="hidden" name="card[_token]" value="{{ form._token.vars.value }}">
                                    <h2>
                                        Amount Owing: ${{ '%1.2f'|format(customer.account_balance / 100) }}
                                        <button type="submit" class="btn btn-danger">Pay Balance</button>
                                    </h2>
                                    <p>Customer is currently owing money.</p>
                                </form>
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                <h2>Account Up to Date</h2>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

        <div class="modal-body">
            <dl>
                <dt>Company</dt>         <dd>{{ client.name }}</dd>
                <dt>Routezilla URL</dt>  <dd><a href="{{ client.site.getUrl() }}">{{ client.domain }}</a></dd>
                {% if client.website and client.website != 'http://' %}
                <dt>Website</dt>         <dd><a href="{{ client.website }}">{{ client.website }}</a></dd>
                {% endif %}
                {% if customer.subscription %}
                <dt>Plan</dt>            <dd>{{ customer.subscription.plan.name }} {% if trialing %}(trial){% endif %}</dd>
                {% endif %}
                <dt>Phone Number</dt>    <dd>{{ client.phone }}</dd>
                <dt>Date Joined</dt>     <dd>{{ client.dateCreated|date('Y-m-d') }}</dd>
                <dt>Last Login</dt>      <dd>{{ client.lastLogin|date('Y-m-d') }}</dd>
            </dl>
        </div>

        <div class="modal-footer">
            <a class="btn" href="{{ path('sales_query') }}">Find Another Account</a>
            <a class="btn btn-primary" href="{{ path('sales_card') }}">Proceed to Add Card</a>
        </div>
	</div>
{% endblock content %}
