{% extends '::signup_layout.html.twig' %}

{% block content %}
    <div class="modal" id="setup">
        <div class="modal-header">
            <h3>Administrator login</h3>
        </div>

        <div class="modal-body">

    {% if error %}
      <span class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</span><br /><br />
    {% endif %}

        <header class="header">
            {% if site is defined and site.client.name is defined %}
            {% if site.client.webPath %}
            <img src="{{ site.client.webPath }}" title="{{ site.client.name }} Logo" />
            {% endif %}
            <h1>{{ site.client.name }}</h1>
            {% else %}

            {% endif %}
        </header>

        <form action="{{ path('fos_user_security_check') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">Email</label>
            <input type="text" id="username" name="_username" placeholder="Email" value="{{ last_username }}" />

            <label for="password">Password</label>
            <input type="password" id="password" name="_password" placeholder="Password" />

            <label for="remember_me" class="checkbox">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                <input type="checkbox" checked="checked" class="checkbox" id="remember_me" name="_remember_me" value="on" />
            </label>

            <br />
            <input type="submit" class="btn btn-large" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </form>
        </div>
    </div>
{% endblock content %}