{% extends '::admin.html.twig' %}

{% block content %}
	<header class="header">
	    <h1>Contact Routezilla</h1>
	    <p class="lead">Questions? Comments? Feedback? Get in touch!</p>
	</header>
	
	<div class="row">
	    <div class="span6">
	        {% include "OrcSaasBundle:Index:contact_content.html.twig" %}
	    </div>
	</div>
{% endblock content %}