<style>
        #contact-form {
            position:relative;
            z-index:100;
            padding:30px;
            background: #D1D1D1; /* Old browsers */
            background: -moz-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
                background: -webkit-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
                background: -o-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
                background: repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
            -webkit-border-radius:8px;
               -moz-border-radius:8px;
                    border-radius:8px;
            -webkit-box-shadow:0px 1px 5px #333;
               -moz-box-shadow:0px 1px 5px #333;
                    box-shadow:0px 1px 5px #333;
        }

        #contact-form:after{
            background:#fff;
            margin:10px;
            position: absolute;
            content : " ";
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: -1;
            border:1px #E5E5E5 solid;
            /*border-radius*/
            -webkit-border-radius:8px;
               -moz-border-radius:8px;
                    border-radius:8px;
}

    #contact-form textarea {
        width: 100%;
    }
    
    .modal form {
        margin: 0 0 18px;
    }

</style>

<div id="contact-form">
    <form action="{{ path('contact') }}" method="post">

        <h4>From: {{ site.client.name }}</h4>
        <p class="muted">To: Routezilla</p>

        {{ form_widget(form.message, { attr: { rows: 5 } }) }}
        {{ form_errors(form.message) }}

        <button type="submit" class="btn pull-right"><i class="icon-envelope"></i> Send message</button>
        
        {{ form_rest(form) }}

    </form>
</div>
