$(function () {
    {% if stats.totalsConverting %}
        {# SHOW CONVERSIONS GRAPHS #}
	    var data = [
	        {
	            label: "Total Leads",
	            data: {{ conversion_totals(stats.totalsConverting, filter, 'total')|json_encode|raw }},
	            bars: {
	                show: true,
	                barWidth: 0.2,
	                fill: true,
	                lineWidth: 1,
	                order: 1,
	                fillColor:  "#CCC"
	            },
	            color: "#CCC"
	        },
	        {
	            label: "Delivered",
	            data: {{ conversion_totals(stats.totalsConverting, filter, 'converted')|json_encode|raw }},
	            bars: {
	                show: true,
	                barWidth: 0.2,
	                fill: true,
	                lineWidth: 1,
	                order: 2,
	                fillColor:  "#73BE1E"
	            },
	            color: "#73BE1E"
	        },
	        {
	            label: "Unconverted",
	            data: {{ conversion_totals(stats.totalsConverting, filter, 'attempts')|json_encode|raw }},
	            bars: {
	                show: true,
	                barWidth: 0.2,
	                fill: true,
	                lineWidth: 1,
	                order: 3,
	                fillColor:  "#0055A5"
	            },
	            color: "#0055A5"
	        }
	    ];

        $.plot($("#leadconversion"), data, {
            xaxis: {
                autoscaleMargin: 0.05,
                tickLength: 0,
                ticks: {{ conversion_legends(stats.totalsConverting, filter)|json_encode|raw }}
            },
            grid: {
                hoverable: true,
                clickable: false,
                borderWidth: 0
            },
            legend: {
                labelBoxBorderColor: "none",
                position: "ne"
            }
        });

        function showTooltip(x, y, contents, z) {
	        $('<div id="flot-tooltip">' + contents + '</div>').css({
	            top: y - 20,
	            left: x - 90,
	            'border-color': z
	        }).appendTo("body").show();
	    }

        $("#leadconversion").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.datapoint) {
                    previousPoint = item.datapoint;
                    $("#flot-tooltip").remove();

                    var originalPoint;

                    if (item.datapoint[0] == item.series.data[0][3]) {
                        originalPoint = item.series.data[0][0];
                    } else if (item.datapoint[0] == item.series.data[1][3]){
                        originalPoint = item.series.data[1][0];
                    } else if (item.datapoint[0] == item.series.data[2][3]){
                        originalPoint = item.series.data[2][0];
                    } else if (item.datapoint[0] == item.series.data[3][3]){
                        originalPoint = item.series.data[3][0];
                    }

                    var y = item.datapoint[1];
                        z = item.series.color;

                    showTooltip(item.pageX, item.pageY,
                        item.series.label + " = " + "<strong>" + y + "</strong>", z);
                }
            } else {
                $("#flot-tooltip").remove();
                previousPoint = null;
            }
        });

    {% else %}
        {# NOT ENOUGH DATA #}
        var data = [
            {label: 'Not enough data', color:'#CCC', data: [[1,100], [2,150], [3,190], [4,150], [5,100], [6,125], [7, 75]] }
        ];
        var options = {
            series: {
                    bars: {show: true, barWidth: 0.5, fill:1, align: 'center'}
                    },
                    xaxis: { autoscaleMargin: 0.05, tickLength: 0, ticks: [ [1,""], [2,""], [3,"Not enough data"], ] },
            grid:   { borderWidth: 0 },
            legend: { show: false}
        };

        $.plot($("#leadconversion"), data, options);
    {% endif %}
});