$(function () {
    var options = {
        series: {
            pie: { 
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 2/3,
                    formatter: function(label, series){
                        return '<div style="font-size:10pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                    },
                    threshold: 0.1
                }
            }
        },
        grid: {
            hoverable: false,
            clickable: false
        },
        legend: {
            show: true,
            position: "se"
        }
    };

    {% if stats.byMethod.phone or stats.byMethod.online %}
        {# SHOW METHOD BOOKING GRAPH #}
	    var data = [
	        { label: "Phone", data: {{ stats.byMethod.phone }}, color: '#0055A5' },
	        { label: "Online", data: {{ stats.byMethod.online }}, color: '#73BE1E' }
	    ];
        $.plot($("#booking_method"), data, options);
        
    {% else %}
        {#% SHOW NOT ENOUGH DATA GRAPH #}
        var data = [
            { label: "Not enough data", data: 1, color: '#CCC' }    
        ];

        var options = {
            series: {
                pie: { 
                    show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 0/3,
                        formatter: function(label, series){
                            return '<div style="font-size:14pt;font-weight:bold;text-align:center;padding:2px;color:white;">'+label+'</div>';
                        } 
                    }
                }
            },
            legend: {show: false}
        };

        $.plot($("#booking_method"), data, options);
    {% endif %}
});