$(function () {
    var options = {
        series: {
            pie: { 
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 2/3,
                    formatter: function(label, series){
                        return '<div style="font-size:10pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                    },
                    threshold: 0.1
                }
            }
        },
        grid:  {
            hoverable: false,
            clickable: false
        },
        legend: {
            show: true,
            position: "se"
        }
    };
    
    {% if stats.byReturning.returning or stats.byReturning.first %}
        {# SHOW RETURNING CUSTOMERS GRAPH #}
        var data = [
            { label: "Return", data: {{ stats.byReturning.returning }}, color: '#0055A5' },
	        { label: "New", data: {{ stats.byReturning.first }}, color: '#73BE1E' }
	    ];
    
        $.plot($("#repeaters"), data, options);
        
    {% else %}
        {# SHOW NOT ENOUGH DATA #}
        var data = [
            { label: "Not enough data", data: 1, color: '#CCC' }    
        ];

        var options = {
            series: {
                pie: { 
                    show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 0/3,
                        formatter: function(label, series){
                            return '<div style="font-size:14pt;font-weight:bold;text-align:center;padding:2px;color:white;">'+label+'</div>';
                        } 
                    }
                }
            },
            legend: {show: false}
        };

        $.plot($("#repeaters"), data, options);
    {% endif %}
});