{% extends '::admin.html.twig' %}
{% import "OrcBookingBundle:Booking:macros.html.twig" as b %}
{% import "OrcBookingBundle:Blackouts:macros.html.twig" as black %}

{% block title %}Dashboard{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/vendors/jquery-ui-1.8.22/css/smoothness/jquery-ui-1.8.22.custom.css">

    <style>
        .span4 {
            min-height: 200px;
        }
        table a:hover {
            text-decoration: none;
        }
        .pending {
            border: dashed 1px orange;
            border-radius: 5px;
            opacity: 0.7;
            margin: -1px;
            padding: 0px;
        }
        .modal-backdrop,
        .modal-backdrop.fade.in {
            opacity: 0.90;
        }

        div.piegraph
        {
            width: 200px;
            height: 200px;
            float: left;
            margin: 20px 0 20px 0;
        }

        div.bargraph
        {
            width:250px;
            height:200px;
            margin: 20px 0 20px 0;
        }

        #flot-tooltip {
            font-size: 12px;
            position: absolute;
            display: none;
            border: 2px solid;
            padding: 4px;
            background-color: #FFF;
            opacity: 0.8;
               -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
             -khtml-border-radius: 3px;
                    border-radius: 3px;
        }
    </style>
{% endblock stylesheets %}


{% block content %}
    <header class="page-header">
        <div class="btn-group pull-right">
                <a href="{{ path('book_admin_view_day') }}" class="btn btn-primary btn-large">Today's Bookings</a>
                <a class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('book_admin_view_month') }}">This month's Bookings</a></li>
                <li><a href="{{ path('book_admin_view_list') }}">All Bookings</a></li>
            </ul>
        </div>
        <h1>Dashboard <small>{{ site.client.name }}</small></h1>
    </header>

    {# Filter Analytics #}
    <div class="row" id="analytics_filters">
        <div class="span12">
            <form class="form-inline" method="post">
	            {{ form_errors(form) }}
		        <div class="controls">
		            {% spaceless %}
			            <div class="input-prepend start">
			                <span class="add-on"><i class="icon-calendar"></i></span>
		                    {{ form_widget(form.dateStart, { 'attr': { 'class': 'span2', 'placeholder': 'Start' } }) }}
			            </div>
			            <div class="input-prepend end">
			                <span class="add-on"><i class="icon-calendar"></i></span>
			                {{ form_widget(form.dateEnd, { 'attr': { 'class': 'span2', 'placeholder': 'End' } }) }}
			            </div>
		            {% endspaceless %}

                    {{ form_widget(form.region) }}
                    {{ form_widget(form.service) }}

		            {{ form_widget(form.groupBy, { 'attr': { 'class': 'input-small ' } }) }}
	                <button type="submit" class="btn"><i class="icon-search"></i> Show</button>
		        </div>
		        <div style="clear:both"></div>
		        {{ form_rest(form) }}
	        </form>
        </div>

    </div>

    <div class="row" id="graph_row">
        <div class="span4">
            <h3>Lead conversion</h3>
            <div id="leadconversion" class="bargraph"></div>
        </div>

        <div class="span4">
            <h3>Repeat customers</h3>
            <div id="repeaters" class="piegraph"></div>
        </div>

        <div class="span4">
            <h3>Booking method</h3>
            <div id="booking_method" class="piegraph"></div>
        </div>
    </div>

    <section id="analytics">
        <div class="row">
            <div class="span8">
                <h2>Recently Booked</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date booked</th>
                            <th>Booking / Customer</th>
                            <th>For</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booking in recentBookings %}
                        <tr class="booking">
                            <td>
                                {% if booking.datePosted.format('Y-m-d') == 'today'|date('Y-m-d') %}
                                    <strong>Today</strong>
                                {% elseif booking.datePosted.format('Y-m-d') == 'yesterday'|date('Y-m-d') %}
                                    Yesterday
                                {% else %}
                                    {{ booking.datePosted|date('m/d/Y') }}
                                {% endif %}
                                at {{ booking.datePosted.format('g:ia') }}<br>
                                by
                                {% if booking.user %}
                                    {{ booking.user.username }}
                                {% else %}
                                    customer
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('book_admin_edit',{id:booking.id}) }}"><strong>{{ booking.name }}</strong></a><br>
                                {{ booking.customer.name }}<br>
                                {{ booking.customer.phone }}
                            </td>
                            <td>
                                <a href="{{ path('book_admin_view_day', { date: booking.dateStart.format('Y-m-d'), booking: booking.id }) }}">{{ booking.dateStart|date('m/d/Y \\a\\t g:ia') }}</a><br>
                                {% if booking.radius %}
                                    <span class="badge badge-warning">FIRST</span>
                                    <br>
                                {% endif %}
                                {{ booking.crew.name }}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="span4">
                <h2>Availability</h2>

                <table class="table table-lined">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Today</th>
                            <th>This week</th>
                            <th>This month</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Crew hours</th>
                            <td class="centered">{{ availability.today.available }}</td>
                            <td class="centered">{{ availability.week.available }}</td>
                            <td class="centered">{{ availability.month.available }}</td>
                        </tr>
                        <tr>
                            <th>Booked hours</th>
                            <td class="centered">{{ availability.today.booked }}</td>
                            <td class="centered">{{ availability.week.booked }}</td>
                            <td class="centered">{{ availability.month.booked }}</td>
                        </tr>
                    </tbody>
                </table>

                {% if upcomingChanges %}
                    <strong>Schedule Changes</strong>
                    <ul>
                        {% for change in upcomingChanges %}
                            <li>
                                {{ change.day|date('D M j') }}:
                                {% if change.off %}
                                    <span class="badge badge-warning">OFF</span>
                                {% else %}
                                    {{ change.startTime|date('g:ia') }} to {{ change.endTime|date('g:ia') }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="small">no schedule changes</p>
                {% endif %}

                {% if currentBlackouts %}
                    <strong>Current Blackouts:</strong>
                    <ul>
                        {% for blackout in currentBlackouts %}
                            {{ black.list(blackout) }}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="small">no current blackouts</p>
                {% endif %}

                {% if upcomingBlackouts %}
                    <strong>Upcoming Blackouts:</strong>
                    <ul>
                        {% for blackout in upcomingBlackouts %}
                            {{ black.list(blackout) }}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="small">no upcoming blackouts</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}


{% block javascript %}
    {{ parent() }}
    <script src="/vendors/flot/jquery.flot.js"></script>
    <script src="/vendors/flot/jquery.flot.stack.js"></script>
    <script src="/vendors/flot/jquery.flot.pie.js"></script>
    <script src="/vendors/jquery.flot.orderBars.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/vendors/jquery-ui-1.8.22/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
        $(document).ready(function() {
	        $('#filter_analytics_dateStart').datepicker({
	            changeMonth: false,
	            numberOfMonths: 2,
	            dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $( "#filter_analytics_dateEnd" ).datepicker( "option", "minDate", selectedDate );
                }
	        });
	        $("#filter_analytics_dateEnd").datepicker({
	            changeMonth: false,
	            numberOfMonths: 2,
	            dateFormat: "yy-mm-dd",
                onSelect: function( selectedDate ) {
                    $( "#filter_analytics_dateStart" ).datepicker( "option", "maxDate", selectedDate );
                }
	        });

            if(!!document.createElement('canvas').getContext){
                // YAY! You can see the fancy graphs!
                {% include "OrcSaasBundle:Index:dashboard-stats-conversions.js.twig" %}
                {% include "OrcSaasBundle:Index:dashboard-stats-repeats.js.twig" %}
	            {% include "OrcSaasBundle:Index:dashboard-stats-methods.js.twig" %}
            } else {
                $("div#analytics_filters").hide();
                $("div#graph_row").replaceWith('<div class="alert">To see analytics about your business, please update your browser or install <a href="//www.google.com/chromeframe/?redirect=true">Chromeframe</a>.</div>');
            }
        });

        (function() {
            var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
            se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/85769ac2-c0e7-49cd-b12a-a2a0a87c54be.js';
            var done = false;
            se.onload = se.onreadystatechange = function() {
                if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
                    done = true;
                    // Place your SnapEngage JS API code below
                    // Launch popup upon login
                    if (typeof enableSnapEngage !== "undefined"){
                        SnapEngage.getAgentStatusAsync(function (online) {
                            if(online) {
                                SnapEngage.openProactiveChat(true, true); // Example: open the proactive chat on load
                            }
                        });
                    }
                }
            };
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
        })();
    </script>
{% endblock javascript %}
