<p class="muted">Last Updated: December 14, 2012</p>


<p>This is the Privacy Policy of the Routezilla website and Routezilla booking application (the “Site”), operated by Routezilla Software Corporation (together with our affiliates and subsidiaries, “Routezilla”, “we”, “us”, “our” and terms of similar meaning) and our related products and services. It describes the information that we collect from you as part of the normal operation of our Site, and how we use and disclose this information.</p>

<p>By accepting the Privacy Policy in registration or by visiting and using the Site, you expressly consent to our collection, use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to our <a href="{{ path('tos') }}">Terms of Service</a>.</p>

<p>In this Privacy Policy, we use the following terms to describe different types of visitors to our Site. Our customers are called “Subscribers” and our Subscribers’ customers are called “Customers”. We use the word “staff” to describe persons to whom Subscribers give “staff” access on the Site. Together with registered users of our forum or other interactive areas of the Site, these people are collectively described in this Privacy Policy as “Users” of our Site.</p>

<h2>How We Use Your Information</h2>

<p>We use personal information in the file we maintain about you, and other information we obtain from your current and past activities on the Site, to provide to you the services offered by the Site; resolve service and billing disputes; troubleshoot problems; bill any amounts due from you; measure consumer interest in our products and services, inform you about online and offline offers, products, services, events and updates; deliver information to you that, in some cases, is relevant to your interests, such as product news; customize your experience; detect and protect us against error, fraud and other criminal activity; enforce our <a href="{{ path('tos') }}">Terms of Service</a>; provide you with system or administrative messages, and as otherwise described to you at the time of collection. On occasion we use email address or other contact information to contact our Users to ask them for their input on our services, to forward to them media opportunities, and even to invite them to dinner.</p>

<p>We may also use personal information about you to improve our marketing and promotional efforts, to analyze Site usage, to improve our content and product offerings, and to customize the Site's content, layout, and services. These uses improve the Site and better tailor it to meet your needs, so as to provide you with a smooth, efficient, safe and customized experience while using the Site.</p>

<p>If you wish to subscribe to our newsletters, we will use your name and email address to send the newsletter to you. Out of respect for your privacy, we provide you a way to unsubscribe in the email.</p>

<p>If you wish to no longer receive our newsletters you may update the settings in your account, follow the instructions located in the email, or you may contact us at info@routezilla.com.</p>

<h2>What Information Do We Collect?</h2>

<p>Our primary purpose in collecting personal information from you is to provide you with a safe, smooth, efficient, and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our service to make your experience safer and easier. We only collect personal information about you that we consider necessary for achieving this purpose.</p>

<p>In general, you can browse the Site without telling us who you are or revealing any personal information about yourself. Once you become a User, we require you to provide various contact and identity information, billing information, and other personal information as indicated on the relevant forms on the Site (which vary, depending on what kind of User you are), and you are no longer anonymous to us. Where possible, on these forms we indicate which fields are required and which fields are optional.</p>

<p>If you are a Subscriber, we collect your credit card information for billing purposes through a 3rd party system called Stripe. Detailed Privacy Policy for Stripe can be found here: <a href="http://stripe.com/docs">http://stripe.com/docs</a>. At no time is credit card information stored with the Routezilla system or servers.</p>

<p>We also automatically track certain information about you based upon your behaviour on our Site. We use this information to do internal research on our users' demographics, interests, and behaviour to better understand, protect and serve you and our community. This information may include the URL that you just came from (whether this URL is on our Site or not), which URL you next go to (whether this URL is on our Site or not), your computer browser information, and your IP address.</p>

<p>“Cookies” are small files placed on your hard drive that assist us in providing our services. We use cookies to allow you to enter your password less frequently during a session, and we use data collection devices (such as Google Analytics), including cookies, on certain pages of the Site to help analyze our web page flow, measure promotional effectiveness, and promote trust and safety, to offer certain features that are only available through the use of a cookie and to allow us to provide information that is targeted to your interests. We link the information we store in our cookies to personally identifiable information you submit when you create a Routezilla account. We may use third-party service provides to assist us in monitoring your use of the Site. Information collected by these cookies is also governed by this privacy policy.</p>

<p>Following your registration on the Site, you can review and change your information in your account area. If you disclose personal information in any posting in our forum or blog and wish to have it removed, please contact us at the support contact information listed below, and posted on the Site.</p>

<p>We also use Google, as a third party vendor, to serve Routezilla ads on other websites. Google uses what it calls a “DART cookie” to enable it to serve ads to users based on their visits to participating websites. As a result of our use of Google as a vendor and the use of DART cookies, the ads that you will be served on the internet may in some cases be based on your visit to our Site. You may opt out of the use of the DART cookie by visiting the Google site <a href="http://www.google.com/policies/privacy/ads/">here</a>.</p>

<h2>Our Disclosure of Your Information</h2>

<p>We will share your personal information with third parties only in the ways that are described in this privacy statement. We do not sell your personal information to third parties. The following describes some of the ways that your information may be disclosed in the normal scope of business to provide our services:</p>

<p>Anonymized Aggregated Data. We aggregate and anonymize information including (but not limited to) industry type, booking data, customer demographics and customer booking patterns, and disclose such information in a non-personally identifiable manner to Subscribers. However, in these situations, we do not disclose any information that could be used to identify you personally.</p>

<p>Subsidiaries and Affiliates; Service Providers. We may from time to time use the services of affiliates, subsidiaries and unrelated service providers in the operation of the Site, and may disclose personal information to them in the course of our use of their services. For example, we may use the services of third-party hosting companies to host the operation of the Site. This may involve the hosting of data, including personal information, on servers operated by those hosting companies. We take care to use only service providers that we believe are reputable and able to live up to our and your expectations, including about the handling of confidential information.</p>

<p>Legal Requests; Emergencies. Routezilla Software Corporation may disclose your personal information (a) to any governmental authority as part of an investigation to determine our compliance with any applicable law, rule, or regulation (including privacy laws, rules, and regulations), (b) in response to a court order, subpoena, discovery request, or other lawful judicial or administrative proceeding, (c) as otherwise required under any applicable law, rule, or regulation, and (d) in good faith, to protect or defend the rights or property of Routezilla Software Corporation and other users.</p>

<h2>Your Use of Other Persons’ Information</h2>

<p>In order to facilitate the services provided by the Site, the Site allows you in certain circumstances to give other Users limited access to the personal information of other persons. For example, if you are a Subscriber, you may use the Site to give access to a staff member to the personal information of your Customers. By entering into our <a href="{{ path('tos') }}">Terms of Service</a>, you agree that, with respect to the personal information of other persons that you collect, use and disclose on the Site, you have all necessary consents and rights to collect, use and disclose that information as described in this Privacy Policy from time to time, and you agree that the indemnity you give to us in the <a href="{{ path('tos') }}">Terms of Service</a>
applies to any non-compliance by you with the foregoing.</p>

<h2>Security</h2>

<p>Routezilla Software Corporation strives to protect your personal information. For security of transactions, we use the Secure Sockets Layer (SSL) protocol, which encrypts any information. The encryption process protects your information, by scrambling it before it is sent to us from your computer. Once Routezilla Software Corporation receives your transmission, we make commercially reasonable efforts to ensure its security on our system. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, we cannot warrant the security of any information you transmit to us. More information about security is available on the Site and in our <a href="{{ path('tos') }}">Terms of Service</a>.</p>

<h2>Other Information Collectors</h2>

<p>Except as otherwise expressly included in this Privacy Policy, this document only addresses the use and disclosure of information we collect from you. To the extent that you disclose your information to other parties through the Site, whether they are Subscribers or Customers or otherwise, different rules may apply to their use, collection and disclosure of the personal information you disclose to them. Since we do not control the information use, collection or disclosure policies of third parties, you are subject to their privacy policies. We encourage you to ask questions before you disclose your personal information to others.</p>

<h2>Correcting and Updating Your Personal Information</h2>

<p>To review and update your personal information to ensure it is accurate, you may login into your account to make the changes, or you may contact us at info@routezilla.com.</p>

<h2>Account Deletion</h2>

<p>Routezilla is a complex business network that connects many users. Routezilla manages a business eco system that brings together contractors and customers. This network relies on the exchange and sharing of information that is important to others in your network. These are the official history of work done and moneys paid.</p>

<p>The complexity and connected nature of the system requires that this history exists in perpetuity to accommodate proper function and accounting for the other systems that you have connected to an invoices, estimates. Routezilla Software Corporation cannot guarantee the deletion of all your information.</p>

<p>When a customer chooses to close an account we will remove your information from our marketing and billing systems. This will ensure that there are not further mailings or billings directed towards the canceled user.</p>

<p>As we continue to refine Routezilla Software Corporation we will establish a method for the complete removal of all user information from the system without breaking accepted accounting principles for other connected Routezilla Software Corporation accounts. This document will evolve as these new methods are defined and tested for permanent account deletion.</p>

<h2>Notification of Privacy Statement Changes</h2>

<p>We may update this privacy statement to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.</p>

<h2>Questions?</h2>

<p>It is our goal to make our privacy practices easy to understand. If you have questions, concerns or if you would like more detailed information, please email our privacy officer at:</p>

<p>Routezilla Software Corporation</p>

<p>PO Box 26048<br>
    West Kelowna BC<br>
    V4T 2G3</p>