{% extends '::admin.html.twig' %}

{% block content %}
    <header class="header">
        <h1>Privacy Policy</h1>
    </header>

	<div class="row">
	    <div class="span8">
	        {% include "OrcSaasBundle:Index:privacy_content.html.twig" %}
	    </div>
	</div>
{% endblock content %}