{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/schedule.css">
{% endblock stylesheets %}

{% block content %}

    <header class="header">
        <h1>Company Setup</h1>
        <p class="lead">Fill out the details of your company and the services it provides.</p>
    </header>

    <form method="post" {{ form_enctype(form) }}>
    
        <section id="profile">
            <header class="page-header">
                <button class="btn btn-large pull-right" id="submit"><i class="icon-user"></i> Update Profile</button>
                <h1>Profile <small>your brand details</small></h1>
            </header>
        
            <div class="row">
                <div class="span4">
                    <h3>Company Name <small>(customer facing)</small></h3>
                    {{ form_widget(form.name) }}
                </div>  

                <div class="span3 offset1">
                    <h3>Brand Colour</h3>
                    <div class="form-item">
                        {{ form_widget(form.brandingColor) }}
                    </div>
                </div> 
                
                <div class="span3 offset1">
                    <h3>Your Logo</h3>   
                    {% if client.webPath %}
                        <img src="{{ client.webPath }}" alt="Your Logo" />
                    {% else %}
                        <img src="http://placehold.it/100x100" alt="Logo placeholder" />
                    {% endif %}
                    <p>{{ form_widget(form.file) }}</p>
                </div>
            </div>
        </section>
            
        <section id="hours">
            <header class="page-header">
                <button class="btn btn-large pull-right" id="submit"><i class="icon-time"></i> Update Hours</button>
                <h1>Hours of Operation <small>your standard bookable hours</small></h1>
            </header>
        
            <div class="row">
                <div class="span12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Day Off</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,day in client.hoursOfOperation %}
                                <tr{{ client.hoursOfOperation[key].off ? ' class="day-off"' : '' }}>
                                    <th>
                                        {{ captions[day.day] }}
                                    </th>
                                    <td class="hours">{{ form_widget(form.hoursOfOperation[key].startTime) }}</td>
                                    <td class="hours">{{ form_widget(form.hoursOfOperation[key].endTime) }}</td>
                                    <td>

                                        <div class="control-group">
                                            <div class="controls">
                                              <label class="checkbox day-off">
                                                {{ form_widget(form.hoursOfOperation[key].off) }}
                                                <span class="badge badge-warning day-off">OFF</span>
                                            </label>
                                        </div>
                                
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    
        {{ form_widget(form._token) }}
    </form>
    
    <section id="services">
        {# services.content|raw #}
    </section>
{% endblock content %}

{% block javascript %}
    {{ parent() }}
        <script src="/vendors/jscolor/jscolor.js"></script>
        <script src="/js/schedule.js"></script>

        <script>
	        $(document).ready(function() {
	            $('input.color').change(function()  {
	               $.get('{{ path('settings_preview') }}/' + encodeURIComponent($(this).val()), function(data) {
	                   $('#branding').remove();
	                   $('head').append(data);
	               });
	            });
	        });
        </script>
{% endblock javascript %}