{% extends '::admin.html.twig' %}

{% block content %}
    <header class="header">
        <h1>Terms of Service</h1>
        <p class="lead">IMPORTANT, THIS IS A LICENSE AGREEMENT</p>
    </header>

	<div class="row">
	    <div class="span8">
	        {% include "OrcSaasBundle:Index:tos_content.html.twig" %}
	    </div>
	</div>
{% endblock content %}