<p class="muted">Last Updated: December 14, 2012</p>

<p>Routezilla Software Corporation (“Routezilla”, “we”, “us” and terms of similar meaning) provides this web site and the services provided by or through this web site to you subject to these terms and conditions of use (these “Terms”).</p>

<p>In these terms we call this web site, any successor web sites (together, the “Site”) and the software we provide the “Application”. The Application includes (i) your use of the Routezilla API, and the use of the Routezilla API by third parties authorized through your Routezilla account to use your User Content (as defined below) through the Routezilla API. We refer to the services provided by the Application as the “Services”.</p>

<p>Please read these Terms carefully before using the Services. By accessing or using the Services you agree to be legally bound by these Terms and all terms, policies and guidelines incorporated by reference in these Terms. If you do not agree with these Terms in their entirety, you may not use the Services.</p>

<p>The Services are not intended to be used by children. You must be at least of the age of majority to use the Services.</p>

<p>In these Terms, our customers and their staff members to whom they give “staff” access to their Routezilla account are called “Subscribers”, and our customers’ customers who use the Services (for example, to book a service) are called “Customers”. In these Terms users of the Services, whether they are Subscribers, Customers, members of the Routezilla forum, people who post comments on the Routezilla blog, or casual browsers of the Site, are called “Users”.</p>

<p>Routezilla reserves the right to change or modify any of the terms and conditions contained in these Terms, or any policy or guideline applicable to the Services, at any time and in its sole discretion. If we do so, we will notify you at the email address you provide in your registration information, if any. If you do not agree with the changes, you can cancel your account with us without further obligation, except for the amount due for the balance of the billing period in which you cancel your account (if your billing period is monthly, we will prorate your account to the nearest month-end after cancellation). Unless otherwise specified, any changes or modifications will be effective immediately upon posting of the revisions on the Site, and your continued use of the Services after such time will constitute your acceptance of such changes or modifications. You should from time to time review the Terms and any policies and documents incorporated in them to understand the terms and conditions that apply to your use of the Services. The Terms will always show the ‘last updated’ date at the top. If you do not agree to any amended Terms, you must stop using the Services. If you have any questions about the Terms, please email us at info@routezilla.com</p>

<p>The Services are for your own use only. You may not resell, lease or provide them in any other way to anyone else, except as expressly permitted through the Application.</p>

<h2>1. Privacy Policy</h2>

<p>Please refer to Routezilla privacy policy for information on how Routezilla collects, uses and discloses personally identifiable information from its users. By using the Services you agree to our use, collection and disclosure of personally identifiable information in accordance with the Privacy Policy.</p>

<h2>2. Registration Data; Account Security</h2>

<p>If you register for an account on the Services, you agree to (a) provide accurate, current and complete information as may be prompted by any registration forms on the Services (“Registration Data”); (b) maintain the security of your password ; (c) maintain and promptly update the Registration Data, and any other information you provide to Routezilla, and to keep it accurate, current and complete; and (d) accept all risks of unauthorized access to the Registration Data and any other information you provide to Routezilla. You are responsible for all activity on your Routezilla account, and for all charges incurred by your Routezilla account.</p>

<h2>3. Fees; Charges; Taxes</h2>

<p>Fees and any other charges for the use of the Application and for any Add-ons are described on the Site. They may change from time to time. If we change them, we will give you at least 30 days’ notice. If they do change, your continued use of the Application or the Add-ons, as the case may be, after the change indicates your agreement with the new fees and charges after the effective date of the change. Any change to fees and other charges will not be applicable to the billing period in which the change occurs.</p>

<p>You are responsible for all taxes applicable to the fees and charges in any applicable jurisdiction.</p>

<h2>4. Ownership, Copyright and Trademarks</h2>

<p>In these Terms the content available through the Services, including all information, data, logos, marks, designs, graphics, pictures, sound files, other files, and their selection and arrangement, is called “Content”. Content provided by Users, whether they are Subscribers, Customers or other Users, is called “User Content”.</p>

<p>User Content is that User’s property. Routezilla only right to that User Content is the limited licenses to it granted in these Terms. Those licenses are described in Section 5 and Section 17 of these Terms.</p>

<p>Other than the User Content, the Services, all Content and all software available on the Services or used to create and operate the Services is the property of Routezilla or its licensors, and is protected by Canadian and international copyright laws, and all rights to the Services, such Content and such software are expressly reserved. All trademarks, registered trademarks, product names and company names or logos mentioned in the Services are the property of their respective owners. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by Routezilla.</p>

<p>Your User Content is your responsibility. We have no responsibility or liability for it, or for any loss or damage your User Content may cause to you or other people. Although we have no obligation to do so, we have the absolute discretion to remove, screen or edit without notice any User Content posted or stored on the Services, and we may do this at any time and for any reason. You are solely responsible for maintaining copies of and replacing any User Content you post or store on the Services.</p>

<h2>5. Your Limited License of Your User Content to Routezilla</h2>

<p>We do not claim any ownership interest in your User Content, but we do need the right to use your User Content to the extent necessary to operate the Site and provide the Services, now and in the future. For example, if you leave comments on the Routezilla blog or posts on the Routezilla forum, we need your license to display that User Content on the Services, and we need the right to sublicense that User Content to our other Users so that they can view that User Content.</p>

<p>Therefore, by posting or distributing User Content to or through the Services, you (a) grant Routezilla and its affiliates and subsidiaries a non-exclusive, royalty-free, transferable right to use, display, perform, reproduce, distribute, publish, modify, adapt, translate, and create derivative works from such User Content, in the manner in and for the purposes for which the Services from time to time use such User Content; (b) represent and warrant that (i) you own and control all of the rights to the User Content that you post or otherwise distribute, or you otherwise have the lawful right to post and distribute that User Content, to or through the Services; and (ii) the use and posting or other transmission of such User Content does not violate these Terms and will not violate any rights of or cause injury to any person or entity.</p>

<p>If your User Content is intended for the use of other Users you also grant us and our affiliates and subsidiaries a non-exclusive, royalty-free, transferable right to sublicense such User Content to such Users for their use in connection with their use of the Services, as described in Section 5 of these Terms.</p>

<p>These licenses from you are non-exclusive because you have the right to use your User Content elsewhere. They are royalty-free because we are not required to pay you for the use of your User Content on the Services. And they are transferable because we need the right to transfer these licenses to any successor operator of the Services. Our rights to “modify, adapt, translate, and create</p>

<p>derivative works from” are necessary because the normal operation of the Services does this to your User Content when it processes it for use in the Services.</p>

<h2>6. Our Limited License of Content to You</h2>

<p>Routezilla grants you a limited, revocable, non-exclusive, non-sublicensable license to access the Services and to view, copy and print the portions of the Content available to you through the Services. Such license is subject to these Terms, and specifically conditioned upon the following: (i) you may only view, copy and print such portions of the Content for your own use; (ii) you may not modify or otherwise make derivative works of the Content, or reproduce, distribute or display the Content (except for page cacheing) except as expressly permitted in these Terms; (iii) you may not remove or modify any copyright, trademark, or other proprietary notices that have been placed in the Content; (iv) you may not use any data mining, robots or similar data gathering or extraction methods; and (v) you may not use the Services or the Content other than for their intended purpose.</p>

<p>Except as expressly permitted above, any use of any portion of the Content without the prior written permission of its owner is strictly prohibited and will terminate the license granted in this Section, this Agreement and your account with us. Any such unauthorized use may also violate applicable laws, including without limitation copyright and trademark laws. Unless explicitly stated herein, nothing in these Terms may be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. The license in this Section is revocable by Routezilla at any time.</p>

<p>Your use of any Add-on is governed by the End User License Agreement that applies to that Add-on, and not by this Section of the Terms. That End User License Agreement is an agreement between you and the provider of that Add-on, and you acknowledge that that End User License Agreement is a binding agreement between you and that provider. Your use of the Service through an Add-on, including any Content that may be delivered to you through the Add-on, is subject to this Section of the Terms.</p>

<p>You represent and warrant that your use of the Services and the Content will be consistent with this license and will not infringe or violate the rights of any other party or breach any contract or legal duty to any other parties, or violate any applicable law.</p>

<p>To request permission for uses of Content not included in this license, you may contact Routezilla at the address set out at the bottom of these Terms.</p>

<h2>7. Use of Interactive Areas and the Services</h2>

<p>The Services may include discussion forums, bulletin boards, review services or other forums in which you or third parties may post reviews or other content, messages, materials or other items on the Services (“Interactive Areas”). If Routezilla provides such Interactive Areas, you are solely</p>

<p>responsible for your use of such Interactive Areas and use them at your own risk. User Content submitted to any public area of the Services will be considered non-confidential. You agree not to post, upload to, transmit, distribute, store, create or otherwise publish through the Services any of the following:</p>

<ul>
    <li>Any message, data, information, text, music, sound, photos, graphics, code or other material that is unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent or otherwise objectionable;</li>
    <li>Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise create liability or violate any local, state, national or international law;</li>
    <li>Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party;</li>
    <li>Content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity;</li>
    <li>Unsolicited promotions, political campaigning, advertising or solicitations;</li>
    <li>Private information of any third party, including, without limitation, addresses, phone numbers, email addresses and credit card numbers, unless that third party has expressly consented to such use;</li>
    <li>Viruses, corrupted data or other harmful, disruptive or destructive files;</li>
    <li>Content that is unrelated to the topic of the Interactive Area(s) in which such Content is posted; or</li>
    <li>Content that, in the sole judgment of Routezilla, is objectionable or which restricts or inhibits any other person from using or enjoying the Interactive Areas or the Services, or which may expose Routezilla or its affiliates or its users to any harm or liability of any type.</li>
</ul>

<p>Finally, Routezilla has a “zero-tolerance” policy towards SPAM: you may not use the Interactive Areas or the Services generally to send commercial or other messages to any third-party if those messages are not solicited, authorized or welcomed by the third-party, and in your use of the Services you must comply with all applicable laws, including laws that apply in any jurisdiction to SPAM and marketing practices, and with any applicable marketing association guidelines on ethical marketing practices.</p>

<p>Any use of the Interactive Areas or other portions of the Services in violation of the foregoing violates these Terms and may result in, among other things, termination or suspension of your rights to use the Interactive Areas and/or the Services.</p>

<h2>8. Providing a Reliable and Secure Service</h2>

<p>If you have spent any time reviewing the Services, you will hopefully have noticed that we take reliability and security seriously. We put a great deal of effort into ensuring that our service operates all the time, and that it is a secure environment for your data. We use what we believe to be “best-of-class” hosting services and security technologies and services that we believe provide you with a secure and safe environment.</p>

<p>For example, to safeguard personal information, Routezilla encrypts entered information, uses restrictive firewalls to protect stored data and uses 256 bit SSL certificates to encrypt data transferred between you and the Services.</p>

<p>However, no system is perfectly secure or reliable, the Internet is an inherently insecure medium, and the reliability of hosting services, Internet intermediaries, your Internet service provider, and other service providers cannot be assured. When you use Routezilla, you accept these risks, and the responsibility for choosing to use a technology that does not provide perfect security or reliability.</p>

<h2>9. No Responsibility for Third-Party Material</h2>

<p>The Site may contain links to third-party Web sites (“Third-Party Sites”) and third-party content (“Third-Party Content”) as a service to those interested in this information, including Add-ons, payment processors and other payment intermediaries that you may use in connection with your use of the Services. You use links to Third-Party Sites and any Third-Party Content or service provided there, at your own risk.</p>

<p>Routezilla makes no claim or representation regarding Third-Party Content or Third-Party Sites, and provides them or links to them only as a convenience. Inclusion in the Services of a link to a Third- Party Site or Third-Party Content does not imply Routezilla endorsement, adoption or sponsorship of, or affiliation with, such Third-Party Site or Third-Party Content. Routezilla accepts no responsibility for reviewing changes or updates to, or the quality, content, policies, nature or reliability of, Third- Party Content, Third-Party Sites, or Web sites linking to the Services. When you leave the Services, our terms and policies no longer govern. You should review applicable terms and policies, including privacy and data gathering practices, of any Third-Party Site, and should make whatever investigation you feel necessary or appropriate before proceeding with any transaction with any third party.</p>

<p>You acknowledge and agree that Routezilla and its affiliates are third party beneficiaries of the End User License Agreement for each Add-on, and that, upon your acceptance of the terms and conditions of the license to any such Add-on, Routezilla will have the right (and will be deemed to have accepted the right) to enforce such license against you as a third party beneficiary thereof.</p>

<h2>10. Advertisements and promotions</h2>

<p>Routezilla may run advertisements and promotions from third parties on the Services. Your business dealings or correspondence with, or participation in promotions of, advertisers other than Routezilla, and any terms, conditions, warranties or representations associated with such dealings, are solely between you and such third party. Routezilla is not responsible or liable for any loss or damage of</p>

<p>any sort incurred as the result of any such dealings or as the result of the presence of third-party advertisers on the Services.</p>

<h2>11. Warranty Disclaimer</h2>

<p>The Site, the Content, the Add-ons and the Services are provided to you on an “as is” basis without warranties from Routezilla of any kind, either express or implied. Routezilla expressly disclaims all other warranties, express or implied, including without limitation implied warranties of merchantability, fitness for a particular purpose, title and non-infringement. Routezilla does not represent or warrant that Site, the Content, the Add-ons or the Services are accurate, complete, reliable, current or error-free.</p>

<p>While Routezilla attempts to make your access to and use of the Services safe, Routezilla does not represent or warrant that the Site, the Content, the Add-ons or the Services are free of viruses or other harmful components.</p>

<h2>12. Limitation of Liability; Indemnity</h2>

<p>You waive and shall not assert any claims or allegations of any nature whatsoever against Routezilla, its affiliates or subsidiaries, their sponsors, contractors, advertisers, vendors or other partners, any of their successors or assigns, or any of their respective officers, directors, agents or employees (collectively, the “Released Parties”) arising out of or in any way relating to your use of the Site, the Content, the Add-ons or the Services, including, without limitation, any claims or allegations relating to infringement of proprietary rights, or allegations that any Released Party has or should indemnify, defend or hold harmless you or any third party from any claim or allegation arising from your use or other exploitation of the Site, the Content, the Add-ons or the Services. You use the Site, the Content, the Add-ons and the Services at your own risk.</p>

<p>Without limitation of the foregoing, neither Routezilla nor any other Released Party shall be liable for any direct, special, indirect or consequential damages, or any other damages of any kind, including but not limited to loss of use, loss of profits or loss of data, whether in an action in contract, tort (including but not limited to negligence) or otherwise, arising out of or in any way connected with the use of or inability to use the Site, the Content, the Add-ons or the Services, including without limitation any damages caused by or resulting from your reliance on the Site, the Content, the Add-ons or the Services or other information obtained from Routezilla or any other Released Party or accessible via the Site, the Content, the Add-ons or the Services, or that result from mistakes, errors, omissions, interruptions, deletion of files or email, defects, viruses, delays in operation or transmission or any failure of performance, whether or not resulting from acts of god, communications failure, theft, destruction or unauthorized access to Routezilla or any other Released Party's records, programs or services.</p>

<p>In no event shall the aggregate liability of Routezilla, whether in contract, warranty, tort (including negligence, whether active, passive or imputed), product liability, strict liability or other theory, arising out of or relating to the use of the Site, the Content, the Add-ons or the Services exceed any compensation paid by you for access to or use of the Site, the Content, the Add-ons or the Services, as the case may be, during the three months prior to the date of any claim.</p>

<p>You shall defend, indemnify and hold harmless Routezilla and the other Released Parties from any loss, damages, liabilities, costs, expenses, claims and proceedings arising out of your use of the Site, the Content, the Add-ons and the Services, and if you are a Subscriber, from your Customers’ use of the Services and from the use of the Site, the Content, the Add-ons and the Services by any person to whom you give access to your account (including as staff), including any claims made by any person that any of your, and if you are a Subscriber, your Customers’, User Content infringes the rights, including the intellectual property rights, of any third party.</p>

<h2>13. Communications</h2>

<p>Notices that we give you (other than notice of amendment of these Terms, which is discussed in the introduction of these Terms) may be provided in any number of ways, depending on the circumstances. For example, we may email you or telephone you at the contact information you provide in your Registration Data. Or we may post a notice to Subscribers and Customers in the dashboard area of your account on the Site, or post the notice elsewhere on the Site. When we post notices on the Site, we post them in the area of the Site suitable to the notice. It is your responsibility to periodically review the Site for notices.</p>

<p>Subject to the Privacy Policy, if you send to Routezilla or post on the Site in any public area any information, ideas, inventions, concepts, techniques or know-how (“User Submissions”), for any purpose, including the developing, manufacturing and/or marketing or products or services incorporating such information, you acknowledge that Routezilla can use the User Submissions without acknowledgement or compensation to you, and you waive any claim of ownership or compensation or other rights you may have in relation to the User Submissions. We actively review User Submissions for new ideas. If you wish to preserve any interest you might have in your User Submissions, you should not post them to the Site or send them to us.</p>

<h2>14. Applicable Law and Venue</h2>

<p>The Services are controlled by Routezilla and operated by it from its offices in Vancouver and Kelowna, British Columbia. You and Routezilla both benefit from establishing a predictable legal environment in regard to the Services. Therefore, you and Routezilla explicitly agree that all disputes, claims or other matters arising from or relating to your use of the Site, the Content, the Add-ons or the Services will be governed by the laws of the Province of British Columbia and the federal laws of Canada applicable therein. The United Nations Convention on Contracts for the International Sale of Goods does not apply to these Terms.</p>

<p>Except where prohibited by applicable law, any claim, dispute or controversy (whether in contract or tort, pursuant to statute or regulation, or otherwise, and whether preexisting, present or future) involving Routezilla and arising out of or relating to (a) these Terms; (b) the Site, the Content, the Add-ons or the Services; (c) oral or written statements, advertisements or promotions relating to these Terms or to the Site, the Content, the Add-ons or the Services; or (d) the relationships that result from these Terms or the Site, the Content, the Add-ons or the Services (collectively, a “Claim”), will be referred to and determined by a sole arbitrator (to the exclusion of the courts). Except where prohibited by applicable law, you waive any right you may have to commence or participate in any class action against Routezilla related to any Claim and, where applicable, you also agree to opt out of any class proceedings against Routezilla. If you have a Claim, you should give written notice to arbitrate at the address specified below. If we have a Claim, we will give you notice to arbitrate at your address provided in your Registration Data. Arbitration will be conducted by one arbitrator pursuant to the commercial arbitration laws and rules in effect on the date of the notice in the Province of British Columbia.</p>

<p>To the extent arbitration as described in the immediately preceding paragraph is prohibited by applicable law, you agree that all Claims will be heard and resolved in a court of competent subject matter jurisdiction located in Vancouver, British Columbia. You consent to the personal jurisdiction of such courts over you, stipulate to the fairness and convenience of proceeding in such courts, and covenant not to assert any objection to proceeding in such courts.</p>

<p>If you choose to access the Services from locations other than British Columbia, you will be responsible for compliance with all local laws of such other jurisdiction and you agree to indemnify Routezilla and the other Released Parties for your failure to comply with any such laws.</p>

<h2>15. Termination/Modification of License and Site Offerings</h2>

<p>Notwithstanding any provision of these Terms, Routezilla reserves the right, without notice and in its sole discretion, without any notice or liability to you, to (a) terminate your license to use the Services, or any portion thereof ; (b) block or prevent your future access to and use of all or any portion of the Services or Content (including any use of any Add-on) and the rights of any third party to which you have granted access to your User Content through ; (c) change, suspend or discontinue any aspect of the Services or Content; and (d) impose limits on the Services or Content.</p>

<h2>16. Inactive Accounts; Termination of Agreement</h2>

<p>If your account is inactive for at least two months, we may deactivate your account. Deactivated accounts are not deleted – they are placed in storage and can be restored. We will notify you by email if we decide to deactivate your account. If you know in advance that your account will be inactive at some time and don’t want us to deactivate it, let us know in advance at info@routezilla.com. If after your account has been deactivated it stays inactive and we don’t hear from you, we may terminate it at any time and without notice.</p>

<p>You and Routezilla may terminate your use of the Services including your agreement to these Terms at any time. If you terminate your use of the Services you must pay the fees applicable for the balance of the then current billing period (if your billing period is monthly, we will prorate your account to the nearest month-end after termination) including for any Add-ons you may be using. When your Routezilla account is terminated, your User Content will, shortly thereafter, not appear on the Services, except for User Content submitted to public areas of the Site such as the blog, forum, or product reviews, which may remain on the Site after termination. We may also retain an archival copy of your User Content after termination, and you hereby grant us a non-exclusive, perpetual, irrevocable license to maintain such archival copy for our internal business purposes.</p>

<p>If these Terms expire or terminate for any reason, Sections 4, 9, 10, 12, 13, 15, 17, and 18, and any representation or warranty you make in these Terms, shall survive indefinitely.</p>

<h2>17. Miscellaneous</h2>

<p>If any provision of these Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions. Routezilla may assign any or all of its rights hereunder to any party without your consent. You are not permitted to assign any of your rights or obligations hereunder without the prior written consent of Routezilla, and any such attempted assignment will be void and unenforceable. These Terms constitute the entire agreement between you and Routezilla regarding your use of the Site, the Content, the Add-ons and the Services, and supersede all prior or contemporaneous communications whether electronic, oral or written between you and Routezilla regarding your use of them. The parties confirm that it is their wish that these Terms, as well as any other documents relating to this Terms, including notices, have been and shall be drawn up in the English language only.</p>

<h2>18. Questions and Comments</h2>

<p>If you have any questions regarding these Terms or your use of the Services, please contact us here:</p>

<p>Routezilla Software Corp</p>

<p>PO Box 26048<br>
    West Kelowna BC<br>
    V4T 2G3</p>