{% extends 'OrcBookingBundle:Wizard:layout_wizard.html.twig' %}

{% block wizard_content %}
	<div class="modal" id="setup">
	    <form method="post" action="{{ path('setup_step1') }}" style="margin-bottom: 0px;">
	        <div class="modal-header">
	            <h3>Setup: Company Name <small>Step 3 of 7</small></h3>
	        </div>

	        <div class="modal-body">
	            <div class="progress progress-striped active progress-success">
	                <div class="bar" style="width: 42%"></div>
	            </div>

	            <p>How would you like your company's name presented to the public?</p>

	            <p>{{ form_widget(form.name, { attr: { style: 'width:100%;' } }) }}
	                        {{ form_errors(form.name) }}</p>

	                        <img src="/images/hello.png" class="pull-right" style="width:150px; padding: 20px;">

	            <p>At what phone number can people reach you?</p>

	            <p>{{ form_widget(form.phone, { attr: { style: '', value: '', placeholder: form.phone.vars.value } }) }}
	            	            	                        {{ form_errors(form.phone) }}</p>


	                <input type="hidden" name="{{ form.email.vars.full_name }}" value="{{ app.user.email }}">

	                {% for field in ['arrivalWindow', 'brandingColor', 'defaultRadius', 'units'] %}
	                    <input type="hidden" name="{{ attribute(form, field).vars.full_name }}" value="{{ attribute(client, field) }}">
	                {% endfor %}

	        </div>

	        <div class="modal-footer">
                <p class="pull-left" style="display: none; padding-top: 6px;" tabindex="10"> <a href="{{ path('setup_skip') }}">Skip Setup for now</a></p>
	            <button type="submit" class="btn btn-primary" tabindex="4">Next step <i class="icon-play icon-white"></i></button>
	        </div>

	        {{ form_widget(form._token) }}
	    </form>
	</div>
{% endblock %}
