{% extends 'OrcBookingBundle:Wizard:layout_wizard.html.twig' %}

{% block wizard_content %}
	<div class="modal" id="setup">
		<style type="text/css">
		    #canvas {  height: 250px;  display: none; }
		</style>

	    <div class="modal-header">
	        <h3>Setup: Service Area <small>Step 4 of 7</small></h3>
	    </div>

	    <div class="modal-body">
	        <div class="progress progress-striped active progress-success">
	            <div class="bar" style="width: 56%"></div>
	        </div>

	        <p>Where do you do most of your work? Enter your city and state/province and click Search.</p>

	        <p>Once you are happy with the ‘Service Area’, click Next Step.</p>

	        <form class="form-search">
	            <div class="input-append">
	                <input type="text" id="city" class="search-query" placeholder="Eg. Somewheresville"><button type="button" type="submit" class="btn add">Search</button>
	            </div>
	        </form>

	        <p><img src="/images/map.png" ></p>

	        <div id="canvas"></div>
	    </div>

	    <div class="modal-footer">
            <p class="pull-left" style="display: none; padding-top: 6px;" tabindex="10"> <a href="{{ path('setup_skip') }}">Skip Setup for now</a></p>
	        <a class="btn btn-primary submit" tabindex="4">Next step <i class="icon-play icon-white"></i></a>
	    </div>


	</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
        <script src="//maps.googleapis.com/maps/api/js?key={{ apiKey }}&sensor=false&libraries=drawing"></script>
        <script src="/js/region-setup.js"></script>
        <script>
            $(function() {
                Boundaries = new Boundaries();
                Boundaries.init($('#canvas')[0], {
                    create: '{{ path('regions_admin_create') }}',
                    edit: '{{ path('regions_admin_edit') }}',
                    'delete': '{{ path('regions_admin_delete') }}',
                    dashboard: '{{ path('setup_step3') }}'
                });

                $('form').submit(function() {
                    Boundaries.addCity($('#city').val());
                    return false;
                });

                $('button.add').click(function() {
                    Boundaries.addCity($('#city').val());
                    return false;
                });

                $('a.submit').click(Boundaries.save);


                $('#canvas').click(function(event) {
                    event.stopPropagation();
                });


                $('#indicator').ajaxStart(function() {
                    $(this).addClass('loading');
                });
                $('#indicator').ajaxStop(function() {
                    $(this).removeClass('loading');
                });
            });
        </script>
{% endblock %}
