{% extends 'OrcBookingBundle:Wizard:layout_wizard.html.twig' %}

{% block wizard_content %}
    <div class="modal" id="setup">
	    <form method="post" action="{{ path('setup_step3') }}" style="margin-bottom: 0px;">
	        <div class="modal-header">
	            <h3>Setup: Hours of Operation <small>Step 5 of 7</small></h3>
	        </div>

	        <div class="modal-body">

	            <div class="progress progress-striped active progress-success">
	                <div class="bar" style="width: 70%"></div>
	            </div>

	            <p><img src="/images/hours.png" ></p>

	            <p>What are your typical hours of operation?</p>

	            <table class="table table-condensed table-striped">
	                <thead>
	                    <tr>
	                        <th></th>
	                        <th>Start Time</th>
	                        <th>End Time</th>
	                        <th>Day Off</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {% for key,day in site.client.hoursOfOperation %}
	                    <tr{{ site.client.hoursOfOperation[key].off ? ' class="day-off"' : '' }}>
	                    <th>
	                        {{ captions[day.day] }}
	                    </th>
	                    <td class="hours">{{ form_widget(form.hoursOfOperation[key].startTime) }}</td>
	                    <td class="hours">{{ form_widget(form.hoursOfOperation[key].endTime) }}</td>
	                    <td>

	                        <div class="control-group">
	                            <div class="controls">
	                              <label class="checkbox day-off">
	                                {{ form_widget(form.hoursOfOperation[key].off) }}
	                            </label>
	                        </div>

	                    </td>
	                    </tr>
	                {% endfor %}
	                </tbody>
	            </table>
	        </div>

	        <div class="modal-footer">
                <p class="pull-left" style="display: none; padding-top: 6px;" tabindex="10"> <a href="{{ path('setup_skip') }}">Skip Setup for now</a></p>
	            <button type="submit" class="btn btn-primary" tabindex="4">Next step <i class="icon-play icon-white"></i></button>
	        </div>

            <div style="display:none">{{ form_widget(form.timezone) }}</div>
	        {{ form_widget(form._token) }}
	    </form>
	</div>
{% endblock %}
