{% extends 'OrcBookingBundle:Wizard:layout_wizard.html.twig' %}

{% block wizard_content %}
	<div class="modal" id="setup">
	    <form method="post" action="{{ path('setup_step4') }}" style="margin-bottom: 0px;">
		    <div class="modal-header">
		        <h3>Setup: Services <small>Step 6 of 7</small></h3>
		    </div>
		    <div class="modal-body">

	            {{ form_errors(form) }}

	            <div class="progress progress-striped active progress-success">
	                <div class="bar" style="width: 84%"></div>
	            </div>


	            <p>Enter the main service you provide to your customers and the average time of the service.</p>
	            <img src="/images/services.png" class="pull-right" style="width:150px; padding: 20px;">

	            <p>Remember, you can always change or adjust this on the Settings page.</p>

	            {{ form_row(form.name, { attr: { class: 'span3' } }) }}
	            {{ form_row(form.baseTime, { attr: { class: 'span2' } }) }}

		        <input type="hidden" name="{{ form.isActive.vars.full_name }}" value="1">

		    </div>

		    <div class="modal-footer">
                <p class="pull-left" style="display: none; padding-top: 6px;" tabindex="10"> <a href="{{ path('setup_skip') }}">Skip Setup for now</a></p>
		        <button type="submit" class="btn btn-primary" tabindex="4">Next step <i class="icon-play icon-white"></i></button>
		    </div>
		    {{ form_widget(form._token) }}
	    </form>
	</div>
{% endblock %}
