{% extends 'OrcBookingBundle:Wizard:layout_wizard.html.twig' %}

{% block title %}Setup Complete{% endblock %}

{% block javascript %}
    {{ parent() }}

    <!-- begin SnapEngage code -->
    <script type="text/javascript">
    (function() {
        var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
        se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/85769ac2-c0e7-49cd-b12a-a2a0a87c54be.js';
        var done = false;
        se.onload = se.onreadystatechange = function() {
            if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
                done = true;
                // Place your SnapEngage JS API code below
                SnapEngage.getAgentStatusAsync(function (online) {
                    if(online) {
                        SnapEngage.openProactiveChat(true, true); // Example: open the proactive chat on load
                    }
                });
            }
        };
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
    })();
    </script>
    <!-- end SnapEngage code -->

{% endblock javascript %}

{% block wizard_content %}

    <div class="modal" id="setup" >
        <div class="modal-header">
            <h3>Setup Complete <small>Step 7 of 7</small></h3>
        </div>
        <div class="modal-body">

            <div class="progress progress-striped active progress-success">
                <div class="bar" style="width: 100%"></div>
            </div>

            <p class="lead">Congratulations! You are all done and ready to accept bookings.</p>

            <p>Paste the link below to your company website or share the link directly to your customers through
                {% set url = "http://twitter.com/intent/tweet?url=%s&text=Check out the new %s 24 hour online booking system at" %}
                <a target="_blank" href="{{ url|format(site.client.site.url, site.client.name) }}"><i class="icon-retweet"></i> Twitter</a>,

                {% set url = "http://www.facebook.com/sharer.php?u=%s&t=Check out our NEW 24 hour online booking feature! %s" %}
                <a target="_blank" href="{{ url|format(site.client.site.url, site.client.site.url) }}"><i class="icon-thumbs-up"></i> Facebook</a>, or

                {% set url = "mailto:?subject=New online booking feature&body=We are excited to announce a new online booking system for %s. You can now check availability and confirm an appointment at your own leisure, 24/7. See it in action at: %s" %}
                <a target="_blank" href="{{ url|format(site.client.name, site.client.site.url) }}"><i class="icon-envelope"></i> Email</a>.
            </p>

            <p class="lead client_domain"><a title="Continue" href="{{ path('dashboard') }}">{{ client.site.domain }}</a></p>

            <p>To edit your Staff, Service Locations, Services and tons of other features, go to your Settings by clicking on the ‘Explore Settings’ below.</p>

            <p><img src="/images/settings.png" ></p>

        </div>

        <div class="modal-footer">
            <a class="btn" href="{{ path('settings_profile') }}">Explore Settings</a>
            <a class="btn btn-primary" href="{{ path('dashboard') }}" tabindex="4">Go to Dashboard <i class="icon-play icon-white"></i></a>
        </div>
    </div>
{% endblock wizard_content %}
