{% extends '::admin.html.twig' %}

{% block title %}Setup{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        hr {
            display: none;
        }

        .modal {
            position: relative;
            margin-top: 20px;
        }

    </style>

{% endblock stylesheets %}


{% block navigation %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="#">routezilla</a>

                    <div class="nav-collapse">

                        <ul class="nav pull-right">
                            <li><a href="{{ path('fos_user_security_logout') }}" title="Logout {{ app.user.username }}">Logout</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    {% endblock navigation %}


{% block content %}
    {% block wizard_content %}{% endblock %}
{% endblock content %}

{% block footer %}{% endblock footer %}
