{% macro flash(type, message, close, use_raw, class, domain) %}
    <div class="alert{{ type ? ' alert-'~type : '' }} fade in {{ class|default('') }}">
    {% if close|default(false) %}
        <a class="close" data-dismiss="alert" href="#">×</a>
    {% endif %}
    {% if use_raw|default(false) %}
        {{ message|trans({}, domain|default('messages'))|raw }}
    {% else %}
        {{ message|trans({}, domain|default('messages')) }}
    {% endif %}
    </div>
{% endmacro %}

{% macro advanced_flash(type, heading, message, close_tag, use_raw, class, domain) %}
    <div class="alert{{ type ? ' alert-'~type : '' }} alert-block fade in {{ class|default('') }}">
    {% if close_tag|default(false) %}
        {% if close_tag == true %}
            {% set close_tag = 'a' %}
        {% endif %}
        <{{ close_tag }} class="close" data-dismiss="alert" {% if close_tag == 'a' %}href="#"{% endif %}>×</{{ close_tag }}>
    {% endif %}
    {% if heading|default(false) %}
    <h4 class="alert-heading">{{ heading }}</h4>
    {% endif %}
    {% if use_raw|default(false) %}
        {{ message|trans({}, domain|default('messages'))|raw }}
    {% else %}
        {{ message|trans({}, domain|default('messages')) }}
    {% endif %}
    </div>
{% endmacro %}

{% macro session_flash(close, use_raw, class, domain) %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                {% if type == "snapengage" %}
                    <script>
                        var enableSnapEngage = true;
                    </script>
                {% else %}
                    {% if 'prompt' not in type %}
                        {% if type == 'fos_user_success' %}
                            {% set type = 'success' %}
                            {% set domain = 'FOSUserBundle' %}
                        {% endif %}
                        {{ _self.flash(type, message, close, use_raw, class, domain) }}
                    {% else %}
                        {{ message|raw }}
                    {% endif %}

                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endmacro %}