<script type="text/javascript">
    var flashPrompt = function() {
        if (confirm('{{ message|escape('js') }}')) {
            document.location = '{{ url }}';
        }
    };      
</script>