{% extends '::admin.html.twig' %}

{% block content %}
    <hgroup>
        <h1>Trial Expired</h1>
        <p class="lead">If you'd like to continue accepting bookings with Routezilla, <a href="{{ path('billing') }}">upgrade your account</a>.
    </hgroup>

{% endblock content %}