{% extends '::signup_layout.html.twig' %}

{% block content %}
    <h1>{{ site.client.name }}</h1>
    <p class="lead">Sorry, we're not accepting bookings at this time.</p>
    <p>previously powered by <a href="http://www.routezilla.com/">Routezilla</a></p>
    
    {% if '.' in site.client.website %}
        <a class="btn btn info" href="{{ site.client.website }}">View our Website</a>
    {% endif %}
    
    
    
{% endblock content %}