{% extends "::signup_layout.html.twig" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="modal">
        <div class="modal-header">
            <h3>Password Reset</h3>
        </div>
        <div class="modal-body">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock content %}
