<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script>
    $(function() {
        $('form.card').submit(function() {
            $form = $(this);
            $(this).addClass('disabled');

            var token = function(res) {
                $('form').append('<input type="hidden" name="upgrade[card][token]" value="' + res.id + '"/>');
                $('form')[0].submit();
            };

            var $plan = $('input[type=radio]:checked');

            StripeCheckout.open({
                key         : '{{ key }}',
                address     : true,
                name        : "Routezilla",
                description : "Subscribe to the " + $plan.data('name') + " plan",
                panelLabel  : 'Complete Payment Process',
                token       : token
            });

            return false;
        });

        $('#editCard').submit(function() {
            $form = $(this);
            $(this).addClass('disabled');

            var token = function(res) {
                $form.append('<input type="hidden" name="card[token]" value="' + res.id + '"/>');
                $form[0].submit();
            };

            StripeCheckout.open({
                key         : '{{ key }}',
                address     : true,
                name        : "Routezilla",
                description : "Change credit card on file",
                panelLabel  : "Save Changes",
                token       : token
            });

            return false;
        });

        $('#payBalance').submit(function() {
            $form = $(this);
            $(this).addClass('disabled');

            var token = function(res) {
                $form.append('<input type="hidden" name="card[token]" value="' + res.id + '"/>');
                $form[0].submit();
            };

            StripeCheckout.open({
                key         : '{{ key }}',
                address     : true,
                name        : "Routezilla",
                description : "Pay outstanding balance",
                token       : token,
                amount      : $form.data('balance')
            });

            return false;
        });

        $('#cardForm:not(.card)').submit(function() {
            return confirm('You are about to change plans, please confirm yes or cancel.');
        });
    });
</script>
