{% extends "::booking_layout.html.twig" %}

{% block title %}Callback Confirmation | {{ site.client.name }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <h1>Callback Confirmation</h1>

    <p class="lead">Thank you for your request with us {{ customer.name }}.  We have received your request and will be in touch shortly.</p>


    <section id="requested_contact_info">
        <h6>Contact Information</h6>
        <dl class="well dl-horizontal">
            <dt>Name</dt>
            <dd>{{ customer.name }}</dd>
            
            <dt>Tel</dt>
            <dd>{{ customer.phone }}</dd>
            
            <dt>Email</dt>
            <dd>{{ customer.email|default('email still not working') }}</dd>
            
            <dt>Address</dt>
            <dd>{{ customer.location.address|default('busted') }}</dd>
        </dl>
    </section>
    

    <section id="requested_billing_info">
        <h6>Billing Information</h6>
        <dl class="well dl-horizontal">
            <dt>Name</dt>
            <dd>{{ customer.billing.name }}</dd>
            
            <dt>Tel</dt>
            <dd>{{ customer.billing.phone }}</dd>
            
            <dt>Email</dt>
            <dd>{{ customer.billing.email|default('busted') }}</dd>
            
            <dt>Address</dt>
            <dd>{{ customer.billing.location ? customer.billing.location.address|default('not working') : 'busted' }}</dd>
            
        </dl>
    </section>

    {% if '.' in site.client.website %}
        <p class="centered"><a href="{{ site.client.website }}" class="btn btn-primary">Return to {{ site.client.name }}</a></p>
    {% endif %}
    
{% endblock %}