{% extends "::booking_layout.html.twig" %}

{% block title %}Booking: Request a Callback | {{ site.client.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .breadcrumb {
            visibility: hidden;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    {{ form_errors(form) }}
    
    <form method="post">
        <legend>Contact Information</legend>
        <fieldset>
	        {{ form_row(form.name, { 'label': 'Your Name' }) }}
	        {{ form_row(form.email) }}
	        {{ form_row(form.phone) }}
	        {{ form_row(form.location) }}
	        {{ form_row(form.same) }}
        </fieldset>

        

        <fieldset class="duplicatable" id="billingInfo" data-target="#customer_same">        
            <legend>Billing Information</legend>
            {{ form_row(form.billing) }}
        </fieldset>


        {{ form_rest(form) }}

		<input class="btn btn-primary btn-large pull-right" type="submit" value="Request Callback">
		
	
	</form>
{% endblock %}

{% block javascript %}
  {{ parent() }}
	<script type="text/javascript" src="/js/booking.js"></script>
{% endblock javascript %}