{% extends "::booking_layout.html.twig" %}

{% block title %}Request Received | {{ site.client.name }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <h1>Request Received</h1>

    <p class="lead">Thank you for contacting us.  We'll be in touch shortly.</p>
    
    {% if '.' in site.client.website %}
        <p class="centered"><a href="{{ site.client.website }}" class="btn btn-primary">Return to {{ site.client.name }}</a></p>
    {% endif %}

{% endblock %}