{% extends "::booking_layout.html.twig" %}

{% block title %}Booking Confirmation | {{ site.client.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if site is defined and site.domain == 'sunvalleysfinest.routezilla.com' %}
        <script type="text/javascript">
            var fb_param = {};
            fb_param.pixel_id = '6011942495103';
            fb_param.value = '100.00';
            fb_param.currency = 'CAD';
            (function(){
            var fpw = document.createElement('script');
            fpw.async = true;
            fpw.src = '//connect.facebook.net/en_US/fp.js';
            var ref = document.getElementsByTagName('script')[0];
            ref.parentNode.insertBefore(fpw, ref);
            })();
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6011942495103&amp;value=100&amp;currency=CAD" /></noscript>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <h1>Booking Confirmation</h1>

    <p class="lead">Thank you for booking your request with us {{ customer.name }}.  We have received your request and you will receive a confirmation email shortly.</p>

    <div class="alert alert-success">
        Booked on <strong>{{ booking.dateStart|date('l M d')  }}</strong>.

        {% if site.client.arrivalWindow == 0 %}
            Start time is <strong>{{ booking.dateStart|date('g:ia') }}</strong>.
        {% else %}
            Start time between <strong>{{ booking.dateStart|date('g:ia') }}</strong>
            and <strong>{{ booking.dateStart|modify('+ ' ~ site.client.arrivalWindow ~ ' hours')|date('g:ia') }}</strong>
        {% endif %}
    </div>

    <section id="requested_service">
        <h6>Requested Service</h6>
        <div class="well">
            <h4>{{ booking.service.name }}</h4>
            {% if booking.fields %}
            <table class="table">
                <tbody>
                    {% for field in booking.fields %}
                    <tr>
                        <th>{{ field.field.question }}</th>
                        <td>{{ field.answer }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </section>


    <section id="requested_location">
        <h6>Service Location</h6>
        <div class="well">
            {{ booking.location.street }}<br />
            {% if booking.location.line2 %}{{ booking.location.line2 }}<br />{% endif %}
            {{ booking.location.city }}<br />
            {{ booking.location.code }}<br />
            {{ booking.location.province }}
        </div>
    <section>

    <section id="requested_contact_info">
        <h6>Contact Information</h6>
        <dl class="well dl-horizontal">
            <dt>Name</dt>
            <dd>{{ customer.name }}</dd>

            <dt>Tel</dt>
            <dd>{{ customer.phone }}</dd>

            <dt>Email</dt>
            <dd>{{ customer.email|default('email still not working') }}</dd>

            <dt>Address</dt>
            <dd>{{ customer.location.address|default('busted') }}</dd>
        </dl>
    </section>


    <section id="requested_billing_info">
        <h6>Billing Information</h6>
        <dl class="well dl-horizontal">
            <dt>Name</dt>
            <dd>{{ customer.billing.name }}</dd>

            <dt>Tel</dt>
            <dd>{{ customer.billing.phone }}</dd>

            <dt>Email</dt>
            <dd>{{ customer.billing.email|default('busted') }}</dd>

            <dt>Address</dt>
            <dd>{{ customer.billing.location ? customer.billing.location.address|default('not working') : 'busted' }}</dd>
        </dl>
    </section>

    {% if '.' in site.client.website %}
        <p class="centered"><a href="{{ site.client.website }}" class="btn btn-primary">Return to {{ site.client.name }}</a></p>
    {% endif %}

{% endblock %}
