{% extends "::booking_layout.html.twig" %}

{% block title %}Booking: Your contact information | {{ site.client.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">


    input#customer_same {
        margin-left: -18px;
        padding-left: 0;
        margin-right: 10px;
    }
    </style>
{% endblock stylesheets %}

{% block content %}
    {{ form_errors(form) }}
    
    <form method="post">
        <legend>Contact Information</legend>
        <p class="lead">Thank you! The final step is to fill in your contact information then click the Complete Booking button below.</p>


        <fieldset>
	        {{ form_row(form.name, { 'label': 'Your Name' }) }}
	        {{ form_row(form.email) }}
	        {{ form_row(form.phone) }}
	        {{ form_row(form.location) }}

            {% set temp = form_row(form.same) %}

            <label class="checkbox" for="{{ form.same.vars.id }}">
                <input type="checkbox" value="1" id="customer_same" name="customer[same]" checked="checked"> Same as my Billing Information
            </label>
        </fieldset>


        <fieldset class="duplicatable" id="billingInfo" data-target="#customer_same">        
            <legend>Billing Information</legend>
            {{ form_row(form.billing) }}
        </fieldset>


        {{ form_rest(form) }}

		<input class="btn btn-primary btn-large pull-right" type="submit" value="Complete Booking">
		
	
	</form>
{% endblock %}

{% block javascript %}
  {{ parent() }}
	<script type="text/javascript" src="/js/booking.js"></script>
{% endblock javascript %}