{% extends "::booking_layout.html.twig" %}

{% block title %}Booking: When can we help you? | {{ site.client.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .fc-header-center.loading {
            background: url(/images/loading.gif) no-repeat center center;
            opacity: 1;
        }
        #calendar {
            margin-bottom: 1em;
        }
        #calendar.loading {
            opacity: 0.5;
        }
        #noResults {
            display: none;
        }
    </style>
{% endblock stylesheets %}


{% block content %}
    <legend>Click on the day you would like service</legend>
    
    <div id="calendar"></div>
    
    <p id="noResults" class="original alert alert-info">Sorry, we are all booked up this month.  Click on the <i class="icon-play"></i> button above to see next month's availability.</p>
    <p>If none of these dates or times work for you please <a href="{{ path('book_callback') }}" title="Request callback">request a callback</a>.</p>
{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script src="/vendors/fullcalendar/fullcalendar.js"></script>
    <script>
      $(document).ready(function() {
          $('#calendar').fullCalendar({
              {% block calendarOptions %}
              events: '{{ path('book_date_query') }}',
              cache: true,
              loading: function(isLoading, view) {
                if (isLoading) {
                    if ($('#noResults.original').length) {
                        $('#noResults').insertAfter('table.fc-header').removeClass('original');
                    }
                    $('#calendar,.fc-header-center').addClass('loading');
                    $('#noResults').hide();
                } else {
                    $('#calendar,.fc-header-center').removeClass('loading');
                    if (!$('.fc-event-title').length) {
                        $('#noResults').show();
                    }
                }
              },
              eventClick: function(event) {
                  document.location='{{ path('book_time') }}/' 
                      + event.start.getFullYear() 
                      + '-' + ('0' + (event.start.getMonth()+1)).slice(-2)
                      + '-' + ('0' + (event.start.getDate())).slice(-2)
                  return false;
              }
              {% endblock calendarOptions %}
          });
      }); 
      </script>
{% endblock javascript %}
