{% extends "OrcBookingBundle:Public:date.html.twig" %}

{% block title %}Booking: When can we help you? | {{ site.client.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #booking_time_dateStart .help-inline { display: none; }
        label, input, button, select, textarea {
            line-height: 22px;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post">
        <fieldset>
            <legend>Choose a time for service on:</legend>
            <p class="lead">{{ day.format('l, j F Y') }}</p>

             {{ form_rest(form) }}
        </fieldset>

        {{ form_widget(form) }}

        <input class="btn btn-primary" type="submit" value="Choose Time">

        <hr />

        <p>If none of those times work for you, select a different date from the calendar below.</p>

	    <div id='calendar'></div>
	    <br>
	    <p>If none of these dates or times work for you please <a href="{{ path('book_callback') }}" title="Request callback">request a callback</a>.</p>

    {{ block('pager') }}
    </form>
{% endblock %}

{% block calendarOptions %}
    year: {{ day|date('Y') }},
    month: {{ day|date('n') - 1 }},
    date: {{ day|date('d') }},
    {{ parent() }}
{% endblock %}