{% extends "::booking_layout.html.twig" %}

{% block title %}Booking Confirmation | {{ site.client.name }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <h2>Outside of Service Area</h2>
    <p class="lead">
        We're sorry, <em>{{ booking.location.address }}</em> is outside of our Service Area.</p>


    <p>Is that the wrong address?  You may need to include your city and province so we know how to find you. <a href="/">Go back</a> to change your location, or feel free to <a href="{{ path('book_callback') }}" title="Request callback">request a callback</a> if you would like to make special arrangements.</p>
    <br>
    
    {% if '.' in site.client.website %}
        <a href="{{ site.client.website }}" class="btn btn-primary">Return to {{ site.client.name }}</a>
    {% endif %}
    
{% endblock %}