{% extends "::booking_layout.html.twig" %}

{% block title %}Booking: Where would you like service? | {{ site.client.name }}{% endblock %}

{% block content %}
	<form class="form-search" method="post">
        <legend>Where would you like service?</legend>

        <p>Search for your Street, City and State/Province:</p>
        
        {% if unknown %}
		    <p class="lead">
		        We're sorry, but we cannot find your location. <a href="{{ path('book_callback') }}" title="Request callback">Request a callback</a> if you'd like us to call you back to book an appointment.
		    </p>
		    
		    <p>If you made an error, you can try again below. Remember to search for your Street, City and State or Province.</p>
        {% endif %}

        {{ form_errors(form) }}

        {{ form_label(form.address) }}
        {{ form_widget(form.address, {'attr': {'placeholder': '1234 Memory Lane, City PV', 'class': 'input-xlarge search-query'}}) }}
        <button class="btn btn-primary" type="submit">Search</button>
	    
        {{ form_rest(form) }}

	</form>
{% endblock %}