{% extends "::booking_layout.html.twig" %}

{% block title %}Booking: Where would you like service? | {{ site.client.name }}{% endblock %}

{% block content %}
	<form class="form" method="post">
        <legend>Please confirm your location.</legend>
        <p class="lead">Check that your street and unit numbers are correct.</p>
        

	    {{ form_rest(form) }}
	    
	    <input class="btn btn-primary pull-right" type="submit" value="Next Step &rarr;">
	</form>
{% endblock %}