{% extends "::booking_layout.html.twig" %}

{% block title %}{{ site.client.name }} - Offline{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <h2>Offline</h2>

    <p class="lead">{{ site.client.name }} is not currently taking bookings at this page.</p>

    {% if '.' in site.client.website %}
    	<p><a href="{{ site.client.website }}" class="btn btn-primary">Return to the website of {{ site.client.name }}</a></p>
    {% endif %}

    <p>If you think this is an error, please <a href="http://www.routezilla.com/contact/">contact Routezilla</a>.</p>

{% endblock %}