{% extends "::booking_layout.html.twig" %}

{% block title %}Booking: What can we do for you? | {{ site.client.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

<style>
    .table th, .table td {
        border-top: none;
    }



</style>

{% if site is defined and site.client and site.client.brandingColor %}
       {% include '::partials/css_colors.html.twig' with { 'color': site.client.brandingColor } %}
    {% endif %}

{% endblock stylesheets %}

{% block content %}
    <form method="post" class="slow">

        <legend>What can we help you with?</legend>
        {{ form_errors(form) }}
        
        <table class="table">     
            <tbody id="booking_service_container">
                {% for formService in form.service %}
                {% set service = services[formService.vars.value] %}
                <tr>
                    <th width="15px">
                        {{ form_widget(formService) }}
                    </th>
                    
                    <td>
                        <h3>{{ form_label(formService) }}</h3>
                        <p>{{ service.description }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        
        <div class="control-group error">{{ form_errors(form.service) }}</div>

        <legend>What else would you like us to know?</legend>

        {# prevent form.fields from rendering #}
        {% set fields = form_row(form.fields) %}
        <div class="ajaxFields" id="additionalFields" data-target="#booking_service_container input"></div>
        {# now form_rest() will pick up every other field without being explicit #}

        {{ form_row(form.additionalInformation, { 'label': 'Comments' }) }}

        {{ form_rest(form) }}

        <button class="btn btn-primary pull-right" type="submit">Next Step &rarr;</button>
    </form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">var fieldPath = '{{ path('book_service_fields') }}';</script>
    <script type="text/javascript" src="/js/booking.js"></script>

    <script>
         
        $('.table tr').click(function() {
            $(this).find('th input[type=radio]').prop('checked', true);
        })​
        
    </script>
{% endblock javascript %}