{% extends '::admin_settings.html.twig' %}
{% import "OrcBillingBundle:Billing:macros.html.twig" as m %}

{% block title %}Billing{% endblock title %}

{% block content %}
    <header class="page-header">
        <h2>Billing Information <small>Plans, Account Balance, etc.</small></h2>
    </header>

    <div class="row">
        {% set trialing = customer.subscription and customer.subscription.status == 'trialing' %}

        {% block leftColumn %}
            <div class="span8">
                <div id="accountStatus">
                    {# Discontinued #}
                    {% if customer.subscription and  client.plan and client.plan.deleted %}
                    <div class="alert alert-warning">
                        <h2>Plan Discontinued</h2>
                        <p>We have decided to discontinue your plan. We recommend you switch to a new plan that best fits your needs. Please contact us at 1-800-730-6773 if you have any questions.</p>
                    </div>
                    {% endif %}

                    {% if trialing %}
                        {# Has a Card #}
                        {% if existing %}
                            <div class="alert alert-info">
                                <h2>Account Active</h2>
                                <p>Enjoy your first month for free, on us!</p>
                            </div>
                        {% else %}
                            <div class="alert">
                                <h2>Trial Mode</h2>
                                <p>
                                    Your trial version of Routezilla expires <strong>{{ customer.subscription.trial_end|date('Y-m-d') }}</strong>.
                                    To avoid an interruption of service, upgrade now!
                                </p>
                            </div>
                        {% endif %}

                    {# Cancelled #}
                    {% elseif not customer.subscription %}
                        <div class="alert alert-error">
                            <h2>Account Cancelled</h2>
                            <p>Please select a plan below to re-activate your account.</p>
                        </div>

                    {# Subscribed #}
                    {% else %}
                        {# Overage #}
                        {% if client.plan and client.plan.maxCrews and client.crews > client.plan.maxCrews %}
                            <div class="alert alert-error">
                                <h2>Crew overage</h2>
                                <p>You are over your crew limit for your Plan. You must either delete crews to the allowable crew number or upgrade your plan.</p>
                            </div>
                        {% endif %}


                        {# Account Status #}
                        {% if customer.account_balance < 0 %}
                            <div class="alert alert-info">
                                <h2>Credit: ${{ '%1.2f'|format(customer.account_balance / -100) }}</h2>
                                <p>Good news!  Your account has a credit which will be put toward your next bill.</p>
                            </div>
                        {% elseif customer.account_balance > 0 %}
                            <div class="alert alert-error">
                                <form action="{{ path('billing_square') }}" method="post" id="payBalance" style="display: inline" data-balance="{{ customer.account_balance }}">
                                    <input type="hidden" name="card[_token]" value="{{ form._token.vars.value }}">
                                    <h2>
                                        Amount Owing: ${{ '%1.2f'|format(customer.account_balance / 100) }}
                                        <button type="submit" class="btn btn-danger">Pay Balance</button>
                                    </h2>
                                    <p>Your account is showing an owing balance.  Failure to pay will result in a suspended account.</p>
                                </form>
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                <h2>Account Up to Date</h2>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

                {% if existing %}
                    <h3>Choose a Plan</h3>
                {% elseif customer.subscription and client.plan and client.plan.deleted %}
                    <h3>Choose a New Plan</h3>
                    <p>Your current plan, &quot;{{ client.plan.name }}&quot; has been discontinued.</p>
                {% endif %}

                {{ m.change_plan(form, existing) }}
            </div>
        {% endblock %}

        {% block rightColumn %}
            <div class="span4">
                {% if client.plan and not trialing %}
                <div id="crews" class="well">
                    <h3>Current Usage</h3>
                    <p>
                        <strong>Crews in use:</strong>
                        {% if client.plan.maxCrews %}
                            {% set percent = 100 * client.crews / client.plan.maxCrews %}
                            {% if percent > 100 %}{% set percent = 100 %}{% endif %}
                            {% if percent <= 50 %}
                                {% set color = 'info' %}
                            {% elseif percent <= 80 %}
                                {% set color = 'warning' %}
                            {% else %}
                                {% set color = 'important' %}
                            {% endif %}
                        {% else %}
                            {% set color = 'success' %}
                        {% endif %}
                        <span class="label label-{{ color }}">{{ client.crews }} out of {% if client.plan.maxCrews %}{{ client.plan.maxCrews }}{% else %}<em>unlimited</em>{% endif %}</span>
                    </p>
                    <p>Routezilla charges you based on the number of plans you'd like to have.</p>
                </div>
                {% endif %}

                {% if customer.subscription %}
                <div id="charges" class="well">
                    <h3>Charges</h3>
                    <strong>Current Billing Period</strong>: 
                    {{ customer.subscription.current_period_start|date('Y-m-d') }} to
                    {{ customer.subscription.current_period_end|date('Y-m-d') }}<br>
                    <a href="{{ path('billing_charges') }}">View Past Charges</a>
                </div>
                {% endif %}

                {% if existing %}
                    <div class="well">
                        <form action="{{ path('billing_card') }}" method="post" id="editCard" style="display: inline">
                            <button class="pull-right btn btn-mini" type="submit">Edit Card</button>
                            <input type="hidden" name="card[_token]" value="{{ form._token.vars.value }}">
                        </form>
                        <h3>Information on File</h3>
                        <div><strong>Cardholder</strong>: {{ existing.name }}</div>
                        <div><strong>Number</strong>: xxxx xxxx xxxx {{ existing.last4 }} <img src="/images/billing/{{ existing.type }}.gif"></div>
                        <div><strong>Expires</strong>:{{ '%02d'|format(existing.exp_month) }} / {{ existing.exp_year }}</div>

                    </div>

                    {% if customer.subscription %}
                        <form action="{{ path('billing_cancel') }}" method="post" id="cancel">
                            <input type="hidden" name="form[_token]" value="{{ form._token.vars.value }}">
                            <a href="#" class="pull-right btn btn-mini btn-inverse" onclick="$('#cancel').submit(); return false">Cancel my subscription</a>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    {% include "OrcBillingBundle:Billing:partials/stripe-js.html.twig" with { key: api_public_key } %}
    <script>
        $(function() {
            $('#cancel').submit(function() {
                return confirm('Are you sure you want to cancel your Routezilla subscription?');
            });
        });
    </script>
{% endblock javascript %}
