{% extends '::admin_settings.html.twig' %}

{% block title %}Charges{% endblock title %}

{% block content %}
    <header class="page-header">
        <h2>Billing Information <small>Plans, Account Balance, etc.</small></h2>
    </header>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Card</th>
                <th>Status</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for charge in charges.data %}
                <tr>
                    <td>{{ charge.created|to_date('U')|date('Y-m-d') }}</td>
                    <td>{{ '%1.2f'|format(charge.amount / 100) }}</td>
                    <td>
                        <img src="/images/billing/{{ charge.card.type }}.gif"> xxxx.xxxx.xxxx.{{ charge.card.last4 }}
                    </td>   
                    <td>
                        {% if charge.refunded %}
                            Refunded
                        {% elseif charge.paid %}
                            Paid
                        {% else %}
                            Failed                        
                        {% endif %}
                    </td>
                    <td>
                        {{ charge.failure_message }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

