{% macro change_plan(form, existing) %}
    {{ form_errors(form) }}

    <form method="post" id="cardForm" class="form-horizontal {{ existing ? '' : 'card' }}" action="{{ path(existing ? 'billing_plan' : 'billing_subscribe') }}">
        {% for plan in form.plan %}
            {% set parts = plan.vars.label|split(',', 4) %}
            {% set plan_cost     = parts[0] %}
            {% set plan_crews    = parts[1] %}
            {% set plan_name     = parts[2] %}
            {% set plan_interval = parts[3] %}

            <label for="{{ plan.vars.id }}">
                <h3 class="inline">
                    {{ form_widget(plan, { attr: { style: "display: inline", "data-name": plan_name } }) }}
                    {{ plan_name }}
                    <small>
                        {% if plan_crews %}
                        (max {{ plan_crews }} crews)
                        {% else %}
                        (unlimited crews)
                        {% endif %}
                    </small>
                    <strong>&#36;{{ plan_cost }}/{{ plan_interval }}</strong>
                </h3>
            </label>
        {% endfor %}

        {{ form_rest(form) }}

        <input type="submit" class="btn btn-primary btn-large {{ existing ? '' : 'card' }}" value="{{ existing ? 'Change Plan' : 'Upgrade Account' }}">
    </form>
{% endmacro %}
