{% extends '::admin_account.html.twig' %}

{% block content %}
    <h1>Pay Amount Owing <small>${{ '%1.2f'|format(customer.account_balance / 100) }}</h1>

    <p class="alert alert-warning">You have an amount owing that needs to be paid before your account becomes active again.</p>

    <form method="post" id="cardForm" class="form-horizontal">

        {% include "OrcBillingBundle:Billing:partials/form-card.html.twig" with { 'existing': null } %}
    
        {{ form_rest(form) }}
    
        <div class="form-actions">
            <input type="submit" class="btn btn-large btn-primary" value="Pay Balance">
        </div>
    </form>
{% endblock content %}


{% block javascript %}
    {{ parent() }}
    {% include "OrcBillingBundle:Billing:partials/stripe-js.html.twig" %}
{% endblock javascript %}