{% extends '::admin_account.html.twig' %}

{% block content %}
    <header class="page-header">
        <h2>{% if existing %}Change Billing Information{% else %}Enter Payment Information {% endif %}</h2>
    </header>

    <div class="row">
        <div class="span12">
            <form method="post" id="cardForm" class="form-horizontal">
                <div id="cardErrors" class="alert alert-error" style="display:none"></div>

                <fieldset>
                    <legend>Select a Plan</legend>
                    <br><br><br>
                </fieldset>

                <fieldset>
                    <legend>Billing Address</legend>
                    <div class="control-group">
                        <label for="card_name" class="control-label">Cardholder Name</label>
                        <div class="controls">
                            <input type="text" id="card_name" class="input-large" required="required" value="{{ existing ? existing.name : '' }}" placeholder="{{ existing ? '' : 'John Smith' }}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="card_address" class="control-label">Street Address</label>
                        <div class="controls">
                            <input type="text" id="card_address" class="input-large" required="required" value="{{ existing ? existing.address_line1 : '' }}" placeholder="{{ existing ? existing.address_line1 : '123 Something St.' }}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="card_address_2" class="control-label">Street Address Line 2</label>
                        <div class="controls">
                            <input type="text" id="card_address_2" class="input-large" value="{{ existing ? existing.address_line2 : '' }}" placeholder="{{ existing ? '' : 'Suite # 123' }}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="card_city" class="control-label">City</label>
                        <div class="controls">
                            <input type="text" id="card_city" class="input-large" required="required" value="{{ existing ? existing.address_city : '' }}" placeholder="{{ existing ? '' : 'Vancouver' }}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="card_province" class="control-label">Province / State</label>
                        <div class="controls">
                            <select id="card_province" class="input-large" required="required">
                                <option value="">Select One</option>
								{% for group,options in provinces %}
								    <optgroup label="{{ group }}">
								    {% for value, label in options %}
								        <option value="{{ value }}"{{ existing and existing.address_state == value ? ' selected="selected"' : '' }}>{{ label }}</option>
								    {% endfor %}
								{% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="card_code" class="control-label">ZIP / Postal Code</label>
                        <div class="controls">
                            <input type="text" id="card_code" class="input-large" required="required" value="{{ existing ? existing.address_zip : '' }}" placeholder="{{ existing ? '' : 'XXX YYY' }}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="card_country" class="control-label">Country</label>
                        <div class="controls">
                            <select id="card_country" class="input-large" required="required">
                                <option value="Canada">Canada</option>
                                <option value="United States">United States</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Card Details</legend>

	                <div class="control-group">
		                <label for="card_number" class="control-label">Card Number</label>
		                <div class="controls">
		                    <input type="text" id="card_number" class="input-medium" autocomplete="off" required="required">
		                    <span class="help-inline" id="card_number_help"></span>
		                </div>
	                </div>

	                <div class="control-group">
		                <label for="card_cvc" class="control-label">Security Code</label>
	                    <div class="controls">
			                <input type="text" id="card_cvc" class="input-mini">
			                <span class="help-inline" id="card_cvc_help"></span>
	                    </div>
	                </div>

	                <div class="control-group">
		                <label for="card_expiration_month" class="control-label">Expiration Date</label>
		                <div class="controls">
			                <input type="text" class="input-mini" placeholder="MM" id="card_exp_month"> /
			                <input type="text" id="card_exp_year" class="input-mini" placeholder="YYYY">
			                <span class="help-inline" id="card_exp_help">MM/YYYY</span>
	                    </div>
	                </div>
                </fieldset>


                {{ form_rest(form) }}

                <div class="form-actions">
                    <input type="submit" class="btn btn-primary btn-large" value="{{ existing ? 'Save Changes' : 'Upgrade Account' }}">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

