{% autoescape false %}
{{ client.name}} has sent you a message:

{{ data.message }}

Email: {{ user.email }}
Referring page: {{ request.headers.get('referer') }}
IP Address: {{ request.clientIp }}
User Agent: {{ request.server.get('HTTP_USER_AGENT') }}

{% endautoescape %}