{% autoescape false %}
Hi {{ client.name }},

We noticed that you haven't logged into Routezilla for quite some time. If you have any questions or feedback for us, please don't hesitate to contact us.  

You can log in again using the following URL:

http://{{ client.site.domain }}{{ path('dashboard') }}

Thank you!

RouteZilla Staff
{% endautoescape %}