{% autoescape false %}
Hi {{ client.name }},

Welcome to Routezilla!

You can log into your new account using the link below:

http://{{ client.site.domain }}{{ path('dashboard') }}

Email Address: {{ client.email }}
Password: not shown


Here are some helpful videos to get you started:

Logging into your Routezilla Account
https://www.youtube.com/watch?v=gstI_6JxcyI

Your Company Dashboard
https://www.youtube.com/watch?v=EmxXGw2m3OI

Your Company Profile Setup
https://www.youtube.com/watch?v=Voz4XDa4RD4

Create & Edit Default Service Areas
https://www.youtube.com/watch?v=Y3Pwl24ujFQ

Creating & Editing Service Crews
https://www.youtube.com/watch?v=mBHimggGPU0

We would be happy to personally walk you through the system 
so please let us know if you have any questions by reaching 
us at toll free at1-800-730-6773 or salesteam@routezilla.com

Thank you!

RouteZilla Staff
{% endautoescape %}
