{% extends '::admin_settings.html.twig' %}

{% block content %}
    <header class="header">
        <h1>Define New Region</h1>
        <p class="lead">Add a new serviceable area.</p>
    </header>

     <form method="post">
        {{ form_widget(form) }}
        <input type="submit" class="btn" id="submit" value="Save Region">
    </form>
{% endblock content %}