{% extends '::admin_settings.html.twig' %}

{% block content %}
    <header class="header">
        <h1>Edit Staff</h1>
        <p class="lead">Edit &quot;{{ region.name }}&quot; as needed.</p>
    </header>

     <form method="post">
        {{ form_widget(form) }}
        <input type="submit" class="btn" id="submit" value="Update Region">
    </form>
{% endblock content %}