{% extends '::admin_settings.html.twig' %}

{% block title %}Service Area{% endblock title %}

{% block content %}

    <header class="page-header">
        <h2>
            Service Area <small>the location(s) where you accept bookings</small>
        </h2>
    </header>
    
    <div class="row">
        <div class="span8"><div id="canvas"></div></div>

        <div class="span4">
            <h3>Guidance</h3>
            <div class="alert alert-info">
                <p>Create <strong>Service Areas</strong> to define the boundaries your company operates and accepts booking in.</p>
            </div>
            <div id="help" class="alert alert-info">
                <h3></h3>
                <p></p>
                <div id="indicator"> <span>Saving...</span></div>
            </div>

            <a id="addRegion" class="btn pull-right" href="{{ path('regions_admin_create') }}"><i class="icon-plus"></i> Add Region</a>
            <h2>Your Regions</h2>

            {% if regions %}
            <div id="regions">
                {% include 'OrcBookingBundle:Regions:table.html.twig' with { regions: regions } %}
            </div>
            {% else %}
            <div id="regions"><p>You don't have any regions defined yet.</p></div>
            {% endif %}

        </div>
    </div>

{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{ apiKey }}&sensor=false&libraries=drawing"></script>
    <script src="/js/boundaries.js"></script>
    <script type="text/javascript">
        $(function() {
            Boundaries = new Boundaries();
            Boundaries.init($('#canvas')[0], {{ regions|regions_json }}, {
                create: '{{ path('regions_admin_create') }}',
                edit: '{{ path('regions_admin_edit') }}',
                delete: '{{ path('regions_admin_delete') }}'
            });
            
            $('form').submit(Boundaries.onFormSubmit);
            
            $('body').click(function() {
                if (Boundaries.getMode() != Boundaries.modes.Browse) {
                    Boundaries.setMode(Boundaries.modes.Browse);
                }
            });
            $(document).keyup(function(e) {
                if (e.keyCode == 27 && Boundaries.getMode() != Boundaries.modes.Browse) {
                    Boundaries.setMode(Boundaries.modes.Browse);
                }
            });
            
            $('#addRegion').click(function(event) {
                Boundaries.setMode(Boundaries.modes.AddRegion);
                 event.stopPropagation();
                 event.preventDefault();
            });
            
            $('#regions').on('click', 'a.edit', function(event) {
                var id = $(this).parents('tr').data('id');
                Boundaries.setMode(Boundaries.modes.EditRegion, id);
                event.stopPropagation();
                event.preventDefault();
            });
            
            $('#canvas').click(function(event) {
                event.stopPropagation();
            });
            
            $('#regions').on('click', 'a.delete', function(event) {
                if (confirm('Are you sure you want to remove this region?')) {
                    var id = $(this).parents('tr').data('id');
                    Boundaries.removeRegion(id);
                    Boundaries.setMode(Boundaries.modes.Browse);
                }
                
                 event.stopPropagation();
                 event.preventDefault();
            });
            
            $('#indicator').ajaxStart(function() {
                $(this).addClass('loading');
            });
            $('#indicator').ajaxStop(function() {
                $(this).removeClass('loading');
            });
        });
    </script>
{% endblock javascript %}
