<table class="table">
    <tbody>
        {% for region in regions %}
           <tr id="region{{ region.id }}" data-id="{{ region.id }}">
               <td class="name">{{ region.name }}</td>
               <td class="align-right">
                   <a class="btn btn-mini edit" href="{{ path('regions_admin_edit', { 'id' : region.id } ) }}" title="Edit {{ region.name }}"><i class="icon-pencil"></i> Edit</a> 
                   <a class="btn btn-mini btn-danger delete" href="{{ path('regions_admin_delete', { 'id' :  region.id } ) }}" title="Remove {{ region.name }}"><i class="icon-trash icon-white"></i> Remove</a>
               </td>
           </tr>
        {% endfor %}
    </tbody>
</table>